<template>
    <div class="Polaris-Card__Section">
        <div class="subscription-page">
            <div class="Polaris-Card" style="padding: 20px;">
                <div class="announcekit-widget">
                    <AnnounceKit
                        embedWidget=true
                        catchClick=".ak-trigger"
                        widget="https://announcekit.app/widgets/v2/4ErKJW" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AnnounceKit from "announcekit-vue";
export default {
    components: {
        AnnounceKit
    },
    methods:{
       scriptExists(url) {
            return document.querySelectorAll(`script[src="${url}"]`).length > 0;
        },
        addScript(){
           let url = 'https://cdn.announcekit.app/widget-v2.js';
            if( !this.scriptExists(url) ){
                let target = document.getElementsByTagName('head')[0];
                let script_data = `window.announcekit = (window.announcekit || { queue: [], on: function(n, x) { window.announcekit.queue.push([n, x]); }, push: function(x) { window.announcekit.queue.push(x); } });\n` +
                    `window.announcekit.push({\n` +
                    `   "widget": "https://announcekit.co/widgets/v2/4ErKJW", \n` +
                    `   "selector": ".announcekit-widget",\n` +
                    `   "embed": true\n` +
                    `   })`;

                var newScript = document.createElement("script");
                var inlineScript = document.createTextNode(script_data);
                newScript.appendChild(inlineScript);
                target.appendChild(newScript);

                var script = document.createElement('script');
                script.async = true;
                script.src = url;
                target.appendChild(script);
            }
        }
    },
}
</script>
