<template>
    <div class="">
        <div class="Polaris-Card__Section Dashboard-main-class">
            <div class="Dashboard-main-info subscription-page">
                <div class="Dashboard-main-info-first">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="Dashboard-main-info-first-common-column first-border-column">
                                <div class="todays-sales-class">
                                    <h1>{{data.today_sales}}</h1>
                                </div>
                                <div class="todays-sales-class-content">
                                    <p>Today’s sales</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="Dashboard-main-info-first-common-column second-border-column">
                                <div class="todays-sales-class">
                                    <h1>{{data.today_order}}</h1>
                                </div>
                                <div class="todays-sales-class-content">
                                    <p>Today’s orders</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="Dashboard-main-info-first-common-column third-border-column">
                                <div class="todays-sales-class">
                                    <h1>{{data.new_subscription}}</h1>
                                </div>
                                <div class="todays-sales-class-content">
                                    <p>New Subscriptions</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="Dashboard-main-info-first-common-column fourth-border-column">
                                <div class="todays-sales-class">
                                    <h1>{{data.active_subscription}}</h1>
                                </div>
                                <div class="todays-sales-class-content">
                                    <p>Active Subscriptions</p>
                                    <p>+{{data.paused_subscription}} Paused</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Dashboard-main-info-second">
                    <subscription-chart v-if="!isLoading" :displayData="subscriptionSeries"/>
                </div>
                <div class="Dashboard-main-info-second">
                    <order-amount-chart v-if="!isLoading" :displayData="orderAmountSeries"/>
                </div>
                <!--  <div class="Dashboard-main-info-third" v-if="data.deletedProducts.length > 0">

                     <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0"
                          role="alert" aria-live="polite" aria-labelledby="Banner14Heading"
                          aria-describedby="Banner14Content">
                         <div class="Polaris-Banner__Ribbon">
                              <span
                                  class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop">
                                 <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                      focusable="false" aria-hidden="true">
                                    <circle fill="currentColor" cx="10" cy="10"
                                            r="9"></circle>
                                    <path
                                        d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path>
                                 </svg>
                              </span>
                         </div>
                         <div class="Polaris-Banner__ContentWrapper">
                             <div class="Polaris-Banner__Heading" id="Banner14Heading">
                                 <p class="Polaris-Heading">Products in some subscriptions have been deleted</p>
                             </div>
                             <div class="Polaris-Banner__Content" id="Banner14Content">
                                 <p>Some of your subscribers have products which no longer exist on Shopify. In order for
                                     these subscriptions to continue, you must replace these with existing products.</p>
                                 <div class="Polaris-Banner__Actions">

                                     <div class="">

                                         <div class="Polaris-DataTable">
                                             <div class="table-responsive Polaris-DataTable__ScrollContainer">
                                                 <table class="Polaris-DataTable__Table">
                                                     <tbody>
                                                     <tr class="Polaris-DataTable__TableRow" v-for="(item, index) in data.deletedProducts">
                                                         <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--firstColumn"
                                                             scope="row">{{item.display_name}}
                                                         </td>
                                                         <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                             {{item.subscriptions_impacted}} {{'subscription', item.subscriptions_impacted | pluralize}}
                                                         </td>
                                                         <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                             <div class="Polaris-ButtonGroup">
                                                                 <div class="Polaris-ButtonGroup__Item">
                                                                     <div class="Polaris-Banner__PrimaryAction">
                                                                         <button type="button" class="Polaris-Button Polaris-Button--outline" data-toggle="modal" data-target="#select-product-modal" @click="openPicker(item.id)">
                                                                             <span class="Polaris-Button__Content">
                                                                                 <span class="Polaris-Button__Text">Replace</span>
                                                                             </span>
                                                                         </button>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                         </td>
                                                     </tr>
                                                     </tbody>
                                                 </table>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div> -->
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../helper";
import {ResourcePicker} from "@shopify/app-bridge/actions";
import instance from "../../axios";
import SubscriptionChart from "./charts/SubscriptionChart";
import OrderAmountChart from "./charts/OrderAmountChart";

export default {
    components: {
        SubscriptionChart, OrderAmountChart
    },
    data(){
        return{
            isLoading: true,
            data:{
                today_sales: 0,
                today_order: 0,
                new_subscription: 0,
                active_subscription: 0,
                paused_subscription: 0,
                currency: '',
                currency_symbol: '',
                deletedProducts: [],
                matrics: {
                    'active': [],
                    'paused': [],
                }
            },
            subscriptionSeries: [{
                name: 'Active',
                data: new Array(30+1).join('5').split('').map(parseFloat)
            }, {
                name: 'Paused',
                data: new Array(30+1).join('0').split('').map(parseFloat)
            }],
            orderAmountSeries: [{
                name: 'Subscription Orders',
                type: 'column',
                data: new Array(30+1).join('5').split('').map(parseFloat)
            },
                {
                    name: 'Amount Processed',
                    type: 'line',
                    data: new Array(30+1).join('5').split('').map(parseFloat)
                }],
        }
    },
    methods:{
        async getData() {
            let base = this;
            base.isLoading = true;
            helper.startLoading();
            await instance.get('/dashboard')
                .then(res => {
                    base.data  = res.data.data;
                    base.subscriptionSeries[0].data =  base.data.matrics.active;
                    base.subscriptionSeries[1].data =  base.data.matrics.paused;

                    base.orderAmountSeries[0].data =  base.data.matrics.orders;
                    base.orderAmountSeries[1].data =  base.data.matrics.amount;
                })
                .catch(err => {

                    console.log(err);
                })
                .finally(res => {
                    base.isLoading = false;
                    helper.stopLoading();
                });
        },
        async sendForm() {
            let base = this;
            helper.startLoading();
            await instance.post('setting', {data: base.form})
                .then(res => {
                    base.getData();
                    helper.successToast(res.data.data);
                    base.closeModel('refresh');
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        openPicker(id) {
            let base = this;
            const productPicker = ResourcePicker.create(shopify_app_bridge, {
                resourceType: ResourcePicker.ResourceType.Product,
                showVariants: true,
                options: {
                    selectMultiple: false,
                },
            });

            productPicker.dispatch(ResourcePicker.Action.OPEN);
            productPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                let data = {
                    'deleted_id': id,
                    'resource': [],
                }
                selection.forEach(function (product, pindex) {
                    let product_id = (product.id) ? product.id.replace("gid://shopify/Product/", "") : '';
                    let variants = product.variants;

                    if( variants.length > 1 ){
                        helper.errorToast('Select only one variant!');
                    }else{
                        variants.forEach(function (variant, vindex) {
                            let variant_id = (variant.id) ? variant.id.replace("gid://shopify/ProductVariant/", "") : '';
                            let r = {
                                product_id: product_id,
                                variant_id: variant_id,
                                price: variant.price,
                            }
                            data.resource.push(r);
                        });
                        base.sendLineItemsForm(data);
                    }
                });
            });
        },
        async sendLineItemsForm(data) {
            let base = this;
            helper.startLoading(); instance.post('replace-lineitems', {data: data})
                .then(res => {
                    base.getData();
                    helper.successToast(res.data.data);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
    },
    mounted() {
        this.getData();
        console.log('dashboard mounted');
    },
    filters:{
        pluralize(str, count){
            return ( count > 1 || count == 0 ) ? str + 's' : str;
        }
    }
}
</script>
