<template>
	 <div class="Polaris-Card__Section">
        <div class="subscription-page">
            <div class="" style="">
            	 <div class="installation-class">
			      <div v-if="!eligibleForSubscriptions" class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage mb-5" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner12Heading" aria-describedby="PolarisBanner12Content">
                      <div class="Polaris-Banner__Ribbon">
                         <span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop">
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                               <path d="M11.768.768a2.5 2.5 0 0 0-3.536 0L.768 8.232a2.5 2.5 0 0 0 0 3.536l7.464 7.464a2.5 2.5 0 0 0 3.536 0l7.464-7.464a2.5 2.5 0 0 0 0-3.536L11.768.768zM9 6a1 1 0 1 1 2 0v4a1 1 0 1 1-2 0V6zm2 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                            </svg>
                         </span>
                      </div>
                      <div class="Polaris-Banner__ContentWrapper">
                         <div class="Polaris-Banner__Heading" id="PolarisBanner12Heading">
                            <p class="Polaris-Heading">You’re not ready for subscriptions yet</p>
                         </div>
                         <div class="Polaris-Banner__Content" id="PolarisBanner12Content">
                            <p>It looks like your store can’t use this app yet. This usually means you don’t have Shopify Payments enabled. For more information on why this might be, click the button.</p>
                            <div class="Polaris-Banner__Actions">
                                  <div class="Polaris-ButtonGroup__Item">
                                     <div class="Polaris-Banner__PrimaryAction"><a href="https://support.simplee.best/en/articles/4735846-can-i-use-simplee-subscriptions " target="_blank" class="Polaris-Button Polaris-Button--outline" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Review Requirements</span></span></a></div>
                                  </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="mb-5">
                      <div class="Polaris-Card__Section installation-lets-install">
                         <div class="Polaris-EmptyState Polaris-EmptyState--fullWidth Polaris-EmptyState--withinContentContainer pt-0">
                            <div class="Polaris-EmptyState__Section row">
                               <div class="Polaris-EmptyState__DetailsContainer col-md-9">
                                  <div class="Polaris-EmptyState__Details">
                                     <div class="Polaris-TextContainer">
                                        <p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Let’s install our product page widget on your store!</p>
                                        <div class="Polaris-EmptyState__Content">
                                           <p>The instructions below will work on many Shopify themes. If the widget installation is unsuccessful, please click the link below to request an installation from one of our experts</p>

                                             <p class="mt-5">(if you don’t want to try yourself, <a href="https://admin233798.typeform.com/to/DP6Y7Noz" target="_blank">  request a free install now</a>)</p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="Polaris-EmptyState__ImageContainer col-md-3"><img src="/images/static/shopping-fun 1.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="Polaris-Card__Section-main mb-5">
                    <div class="Polaris-Card__Header">
                      <h2 class="Polaris-Heading">STEP 1: CREATE A BACKUP THEME</h2>
                    </div>
                    <div class="Polaris-Card__Section">
                      <p class="mb-4">It’s important to test subscriptions out on a backup theme before rolling it out to your live store. If you haven’t done so already, duplicate your live theme by completing these steps:</p>
                      <p>In your Shopify admin, click on <strong>Online Store.</strong> For your current theme, click on <strong>Actions > Duplicate</strong></p>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section-main mb-5">
                    <div class="Polaris-Card__Header">
                      <h2 class="Polaris-Heading">STEP 2: COMPLETE YOUR SUBSCRIPTIONS SETUP</h2>
                    </div>
                    <div class="Polaris-Card__Section">
                      <p class="mb-4">Take a few minutes to set up your subscription groups and plans, and create custom shipping rates if you would like. If this is already done, skip to Step 3 👇</p>
                      <div class="button-group">
                          <div class="row justify-content-center">
                              <div class="col-md-5">
                                  <router-link :to="{name :'plans'}" tag="button" class="Polaris-Button w-100" >
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text f-14">Subscription Groups & Plans</span>
                                        </span>
                                  </router-link>
                              </div>
                              <div class="col-md-5">
                                  <router-link :to="{name :'shipping'}" tag="button" class="Polaris-Button w-100" >
                                    <span class="Polaris-Button__Content">
                                        <span class="Polaris-Button__Text">Shipping Profiles</span>
                                    </span>
                                  </router-link>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section-main mb-5">
                    <div class="Polaris-Card__Header">
                      <h2 class="Polaris-Heading">STEP 3: ADD FILES AND UPDATE BACKUP THEME</h2>
                    </div>
                    <div class="Polaris-Card__Section">
                      <p class="mb-4">Which theme will receive the widget? (this could take a minute)</p>
                      <div class="d-flex">
                           <div class="polaris-select w-100">
                              <div class="">
                                 <div class="Polaris-Select">
                                    <select 
                                      id="PolarisSelect8" 
                                      class="Polaris-Select__Input" 
                                      aria-invalid="false" 
                                      @change="chngTheme"
                                      :value="selectedTheme.id"
                                    >
                                      <option value="0">Select Theme</option>
                                      <option 
                                        :value="item.id" 
                                        v-for="(item, index) in themes" 
                                        :key="index">
                                        {{item.role === 'main' ? `${item.name} (published)` : item.name}}
                                      </option>
                                    </select>
                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                       <span class="Polaris-Select__SelectedOption">{{selectedTheme.name}} {{ selectedTheme.role === 'main' ? '(published)' : '' }}</span>
                                       <span class="Polaris-Select__Icon">
                                          <span class="Polaris-Icon">
                                             <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                                             </svg>
                                          </span>
                                       </span>
                                    </div>
                                    <div class="Polaris-Select__Backdrop"></div>
                                 </div>
                              </div>
                              <div id="PolarisPortalsContainer"></div>
                           </div>
                           <button class="Polaris-Button Polaris-Button--primary w-25 ml-4" type="button" @click="installWidget()">
                                <span class="Polaris-Spinner Polaris-Spinner--sizeSmall" v-if="installingWidget">
                                   <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M7.229 1.173a9.25 9.25 0 1011.655 11.412 1.25 1.25 0 10-2.4-.698 6.75 6.75 0 11-8.506-8.329 1.25 1.25 0 10-.75-2.385z"></path>
                                     </svg>
                                </span>
                               <span class="Polaris-Button__Content" v-else>
                                    <span class="Polaris-Button__Text">Update theme</span>
                               </span>
                           </button>
                        </div>
                    </div>

                  </div>
                  <div class="Polaris-Card__Section-main mb-5">
                    <div class="Polaris-Card__Header">
                      <h2 class="Polaris-Heading">STEP 4: TEST IT ALL OUT</h2>
                    </div>
                    <div class="Polaris-Card__Section">
                      <p class="mb-4">This is the fun part! Depending on whether you have a test store or a live one, check out these instructions for testing out your new installation:</p>
                      <div class="button-group">
                          <div class="row justify-content-center">
                              <div class="col-md-5">
                                <a :href="test_instructions" target="_blank" class="Polaris-Button w-100 installation-link" type="button">
                                    <span class="Polaris-Button__Content">
                                        <span class="Polaris-Button__Text">Test Store Instructions</span>
                                    </span>
                                </a>
                              </div>
                              <div class="col-md-5">
                                <a :href="live_instructions" target="_blank" class="Polaris-Button w-100 installation-link" type="button">
                                    <span class="Polaris-Button__Content">
                                        <span class="Polaris-Button__Text">Live Store Instructions</span>
                                    </span>
                                </a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
			   </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from "../../helper";
    import {ContextualSaveBar} from "@shopify/app-bridge/actions";
    import instance from "../../axios";

    export default {
        data(){
            return{
                eligibleForSubscriptions: true,
                selectedTheme: {
                    id: '',
                    name: '',
                },
                publishedTheme: null,
                themes: [],
                test_instructions: 'https://support.simplee.best/en/articles/4761309-testing-your-installation-test-store',
                live_instructions: 'https://support.simplee.best/en/articles/4761306-testing-your-installation-live-store',
                installingWidget: false,
            }
        },
        methods:{
            chngTheme(event) {
              if(event.target.value != 0) {
                this.selectedTheme = this.themes.find(theme => theme.id == event.target.value);
              }
            },
            async getData() {
                let base = this;
                helper.startLoading();
                await instance.get('installation')
                    .then(res => {
                        base.themes = res.data.data.themes;
                        base.selectedTheme = base.themes.find(theme => theme.role === 'main');
                        base.eligibleForSubscriptions = res.data.data.eligibleForSubscriptions;
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                        helper.stopLoading();
                    });
            },
            async installWidget(){
                let base = this;
                base.installingWidget = true;
                helper.startLoading();
                await instance.post('install-widget', {data: base.selectedTheme})
                    .then(res => {
                        base.installingWidget = false;
                        let data = res.data;
                        (data.status) ? helper.successToast(data.data) : helper.errorToast(data.data);
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                        helper.stopLoading();
                    });
            }
        },
        async mounted() {
            await this.getData();
        },
    }
</script>
