 <template>
  <div class="">
    <div class="Polaris-Card__Section Dashboard-main-class">
      <div class="settings-main subscription-page">
        <form>
          <div class="setting-main-first">
            <div class="row">
              <div class="col-lg-4">
                <div class="setting-main-first-left">
                  <h5 class="settings-main-title">Emails</h5>
                  <h6 class="settings-main-content">
                    Decide how your emails are sent and update the text of
                    outgoing emails
                  </h6>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="setting-main-first-right">
                  <div class="setting-main-first-right-inner mb-5">
                    <label class="label-main-class">From:</label>
                    <div class="modal-input-bottom">
                      <div class="Polaris-Connected">
                        <div
                          class="
                            Polaris-Connected__Item
                            Polaris-Connected__Item--primary
                          "
                        >
                          <div
                            class="
                              Polaris-TextField Polaris-TextField--hasValue
                            "
                          >
                            <input
                              id="first_name"
                              class="Polaris-TextField__Input"
                              aria-labelledby="PolarisTextField8Label"
                              aria-invalid="false"
                              aria-multiline="false"
                              v-model="form.setting.email_from_name"
                            />
                            <div class="Polaris-TextField__Backdrop"></div>
                          </div>
                        </div>
                      </div>

                      <p class="settings-main-p-class">
                        This is the name that will appear in outgoing emails.
                        Your business name is recommended
                      </p>
                    </div>
                  </div>

                  <div class="setting-main-first-right-inner mb-5">
                    <label class="label-main-class">Email address:</label>
                    <div class="modal-input-bottom">
                      <div class="Polaris-Connected">
                        <div
                          class="
                            Polaris-Connected__Item
                            Polaris-Connected__Item--primary
                          "
                        >
                          <div
                            class="
                              Polaris-TextField Polaris-TextField--hasValue
                            "
                          >
                            <input
                              id="from_email"
                              class="Polaris-TextField__Input"
                              aria-labelledby="PolarisTextField8Label"
                              aria-invalid="false"
                              aria-multiline="false"
                              v-model="form.setting.email_from_email"
                            />
                            <div class="Polaris-TextField__Backdrop"></div>
                          </div>
                        </div>
                      </div>

                      <p class="settings-main-p-class">
                        This is the email that customers will reply to when they
                        receive an email from you
                      </p>
                    </div>
                  </div>

                  <div class="Polaris-Stack Polaris-Stack--vertical">
                    <div class="Polaris-Stack__Item">
                      <div>
                        <label class="Polaris-Choice" for="verified">
                          <span class="Polaris-Choice__Control">
                            <span class="Polaris-RadioButton">
                              <input
                                id="verified"
                                name="mailgun_method"
                                type="radio"
                                class="Polaris-RadioButton__Input"
                                aria-describedby="verifiedHelpText"
                                value="Safe"
                                v-model="form.setting.mailgun_method"
                              />
                              <span
                                class="Polaris-RadioButton__Backdrop"
                              ></span>
                            </span>
                          </span>
                          <span class="Polaris-Choice__Label"
                            >Use verified email</span
                          ></label
                        >
                        <div class="Polaris-Choice__Descriptions">
                          <div
                            class="Polaris-Choice__HelpText"
                            id="verifiedHelpText"
                          >
                            Emails will be sent from your name, and replies will
                            be sent to your email. This will ensure that most
                            outgoing emails are received
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Polaris-Stack__Item">
                      <div>
                        <label class="Polaris-Choice" for="unverified"
                          ><span class="Polaris-Choice__Control"
                            ><span class="Polaris-RadioButton"
                              ><input
                                id="unverified"
                                name="mailgun_method"
                                type="radio"
                                class="Polaris-RadioButton__Input"
                                aria-describedby="unverifiedHelpText"
                                value="Basic"
                                v-model="form.setting.mailgun_method" /><span
                                class="Polaris-RadioButton__Backdrop"
                              ></span></span></span
                          ><span class="Polaris-Choice__Label"
                            >Use unverified email</span
                          ></label
                        >
                        <div class="Polaris-Choice__Descriptions">
                          <div
                            class="Polaris-Choice__HelpText"
                            id="unverifiedHelpText"
                          >
                            We will send all emails from your email address.
                            Many email clients could flag emails as suspicious,
                            and some may not be received
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Polaris-Stack__Item">
                      <div>
                        <label class="Polaris-Choice" for="mydomain">
                          <span class="Polaris-Choice__Control"
                            ><span class="Polaris-RadioButton"
                              ><input
                                id="mydomain"
                                name="mailgun_method"
                                type="radio"
                                class="Polaris-RadioButton__Input"
                                aria-describedby="mydomainHelpText"
                                value="Advanced"
                                v-model="form.setting.mailgun_method"
                                :disabled="
                                  !form.setting.mailgun_verified
                                " /><span
                                class="Polaris-RadioButton__Backdrop"
                              ></span></span></span
                          ><span class="Polaris-Choice__Label"
                            >Use my domain name
                          </span>
                          <p
                            class="
                              active-label
                              label-common-class
                              f-14
                              text-capitalize
                              active-label
                              setting-adv-plan
                            "
                          >
                            Advanced Plan
                          </p>
                        </label>
                        <div class="Polaris-Choice__Descriptions">
                          <div
                            class="Polaris-Choice__HelpText"
                            id="mydomainHelpText"
                          >
                            Best option, requires that you update your domain’s
                            DNS settings. Learn more about enabling this option
                            in the
                            <a
                              href="https://support.simplee.best/en/articles/4847557-send-emails-from-a-custom-domain"
                              target="_blank"
                              >help center</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--                                    <div id="PolarisPortalsContainer"></div>-->
                  <!--                                    <div class="setting-main-first-right-inner">-->
                  <!--                                        <label class="label-main-class">Process subscriptions daily at:</label>-->
                  <!--                                        <div class="modal-input-bottom select-flex-class">-->

                  <!--                                            <div class="Polaris-Select">-->
                  <!--                                                <select id="dailyAt" class="Polaris-Select__Input" aria-invalid="false" v-model="form.setting.subscription_daily_at">-->
                  <!--                                                    <option :form="item" v-for="( item, index ) in dailyAt ">{{item}}</option>-->
                  <!--                                                </select>-->
                  <!--                                                <div class="Polaris-Select__Content" aria-hidden="true">-->
                  <!--                                                    <span class="Polaris-Select__SelectedOption">{{form.setting.subscription_daily_at}}</span>-->
                  <!--                                                    <span class="Polaris-Select__Icon">-->
                  <!--                                                         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                  <!--                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>-->
                  <!--                                                            </svg>-->
                  <!--                                                      </span>-->
                  <!--                                                </div>-->
                  <!--                                                <div class="Polaris-Select__Backdrop"></div>-->
                  <!--                                            </div>-->

                  <!--                                            <p class="settings-main-p-class pl-4">{{form.timezone}}</p>-->

                  <!--                                        </div>-->
                  <!--                                    </div>-->
                </div>

                <div class="setting-main-first-right mt-20">
                  <div class="Polaris-Stack Polaris-Stack--vertical">
                    <div class="Polaris-Stack__Item setting-email">
                      <div>
                        <label class="Polaris-Choice" for="newSubscription"
                          ><span class="Polaris-Choice__Control"
                            ><span class="Polaris-Checkbox"
                              ><input
                                id="newSubscription"
                                type="checkbox"
                                class="Polaris-Checkbox__Input"
                                aria-invalid="false"
                                role="checkbox"
                                aria-checked="false"
                                v-model="
                                  form.setting.new_subscription_email_enabled
                                " /><span
                                class="Polaris-Checkbox__Backdrop"
                              ></span
                              ><span class="Polaris-Checkbox__Icon"
                                ><span class="Polaris-Icon"
                                  ><svg
                                    viewBox="0 0 20 20"
                                    class="Polaris-Icon__Svg"
                                    focusable="false"
                                    aria-hidden="true"
                                  >
                                    <path
                                      d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"
                                    ></path></svg></span></span></span></span
                          ><span class="Polaris-Choice__Label"
                            >Email customers when they purchase a
                            <b>new subscription</b></span
                          ></label
                        >
                      </div>
                      <button
                        type="button"
                        class="a"
                        @click="NewSubscription = true"
                      >
                        Edit
                      </button>
                    </div>
                    <hr />
                    <div class="Polaris-Stack__Item setting-email">
                      <div>
                        <label class="Polaris-Choice" for="creditCardFails"
                          ><span class="Polaris-Choice__Control"
                            ><span class="Polaris-Checkbox"
                              ><input
                                id="creditCardFails"
                                type="checkbox"
                                class="Polaris-Checkbox__Input"
                                aria-invalid="false"
                                role="checkbox"
                                aria-checked="false"
                                v-model="
                                  form.setting.dunning_email_enabled
                                " /><span
                                class="Polaris-Checkbox__Backdrop"
                              ></span
                              ><span class="Polaris-Checkbox__Icon"
                                ><span class="Polaris-Icon"
                                  ><svg
                                    viewBox="0 0 20 20"
                                    class="Polaris-Icon__Svg"
                                    focusable="false"
                                    aria-hidden="true"
                                  >
                                    <path
                                      d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"
                                    ></path></svg></span></span></span></span
                          ><span class="Polaris-Choice__Label"
                            >Email customers when their
                            <b>credit card fails</b> and prompt them to update
                            their information</span
                          ></label
                        >
                      </div>
                      <button
                        type="button"
                        class="a"
                        @click="FailedPaymentNoti = true"
                      >
                        Edit
                      </button>
                    </div>
                  </div>
                  <!--                                    <div class="setting-main-first-right-inner">-->
                  <!--                                        <label class="label-main-class">Process subscriptions daily at:</label>-->
                  <!--                                        <div class="modal-input-bottom select-flex-class">-->

                  <!--                                            <div class="Polaris-Select">-->
                  <!--                                                <select id="dailyAt" class="Polaris-Select__Input" aria-invalid="false" v-model="form.setting.subscription_daily_at">-->
                  <!--                                                    <option :form="item" v-for="( item, index ) in dailyAt ">{{item}}</option>-->
                  <!--                                                </select>-->
                  <!--                                                <div class="Polaris-Select__Content" aria-hidden="true">-->
                  <!--                                                    <span class="Polaris-Select__SelectedOption">{{form.setting.subscription_daily_at}}</span>-->
                  <!--                                                    <span class="Polaris-Select__Icon">-->
                  <!--                                                         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                  <!--                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>-->
                  <!--                                                            </svg>-->
                  <!--                                                      </span>-->
                  <!--                                                </div>-->
                  <!--                                                <div class="Polaris-Select__Backdrop"></div>-->
                  <!--                                            </div>-->

                  <!--                                            <p class="settings-main-p-class pl-4">{{form.timezone}}</p>-->

                  <!--                                        </div>-->
                  <!--                                    </div>-->
                </div>
              </div>
            </div>
          </div>

          <!--                    Failed credit card retries-->
          <div class="setting-main-first pt-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="setting-main-first-left">
                  <h5 class="settings-main-title">
                    Failed credit card retries
                  </h5>
                  <h6 class="settings-main-content">
                    Decide how you would like to retry credit cards which have
                    failed
                  </h6>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="setting-main-first-right">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <label class="label-main-class"
                        >How many times will we retry a credit card?</label
                      >
                      <div class="modal-input-bottom">
                        <div class="Polaris-Select">
                          <select
                            id="dunning_retries"
                            class="Polaris-Select__Input"
                            aria-invalid="false"
                            v-model="form.setting.dunning_retries"
                          >
                            <option value="0">0 retries</option>
                            <option :value="i" v-for="i in 15">
                              {{ i }} retries
                            </option>
                          </select>
                          <div
                            class="Polaris-Select__Content"
                            aria-hidden="true"
                          >
                            <span class="Polaris-Select__SelectedOption"
                              >{{ form.setting.dunning_retries }} retries</span
                            >
                            <span class="Polaris-Select__Icon">
                              <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z"
                                  fill="#212B36"
                                ></path>
                              </svg>
                            </span>
                          </div>
                          <div class="Polaris-Select__Backdrop"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-lg-12 col-md-12">
                      <label class="label-main-class"
                        >How often will we retry a credit card?</label
                      >
                      <div class="modal-input-bottom">
                        <div class="Polaris-Select">
                          <select
                            id="dunning_daysbetween"
                            class="Polaris-Select__Input"
                            aria-invalid="false"
                            v-model="form.setting.dunning_daysbetween"
                          >
                            <option :value="i" v-for="i in 7">
                              <span v-if="i == 1">Every day</span>
                              <span v-else>Every {{ i }} days</span>
                            </option>
                          </select>
                          <div
                            class="Polaris-Select__Content"
                            aria-hidden="true"
                          >
                            <span
                              class="Polaris-Select__SelectedOption"
                              v-if="form.setting.dunning_daysbetween == 1"
                              >Every day</span
                            >
                            <span class="Polaris-Select__SelectedOption" v-else
                              >Every
                              {{ form.setting.dunning_daysbetween }} days</span
                            >
                            <span class="Polaris-Select__Icon">
                              <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z"
                                  fill="#212B36"
                                ></path>
                              </svg>
                            </span>
                          </div>
                          <div class="Polaris-Select__Backdrop"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-lg-12">
                      <label class="label-main-class"
                        >What should happen when we reach the maximum
                        retries?</label
                      >
                      <div class="Polaris-Select">
                        <select
                          id="PolarisSelect10"
                          class="Polaris-Select__Input"
                          aria-invalid="false"
                          v-model="form.setting.dunning_failedaction"
                        >
                          <option value="cancel">Cancel subscription</option>
                          <option value="pause">Pause subscription</option>
                          <option value="skip">Skip failed order</option>
                        </select>
                        <div class="Polaris-Select__Content" aria-hidden="true">
                          <span
                            class="Polaris-Select__SelectedOption"
                            v-if="form.setting.dunning_failedaction == 'cancel'"
                            >Cancel subscription</span
                          >
                          <span class="Polaris-Select__SelectedOption" v-else
                            >Skip failed order</span
                          >
                          <span class="Polaris-Select__Icon">
                            <svg
                              width="20"
                              height="20"
                              viewBox="0 0 20 20"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z"
                                fill="#212B36"
                              ></path>
                            </svg>
                          </span>
                        </div>
                        <div class="Polaris-Select__Backdrop"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Subscription portal-->
          <div class="setting-main-second pt-4">
            <div class="subscriptions-portal">
              <div class="row">
                <div class="col-lg-4">
                  <div class="setting-main-first-left">
                    <h5 class="settings-main-title">Customer portal</h5>
                    <h6 class="settings-main-content">
                      This is the page where your subscribers can manage their
                      subscriptions. To learn more about making this page
                      visible to your customers and for tips on customizing the
                      page, <a href="#">click here</a>
                    </h6>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="setting-main-first-right">
                    <div
                      v-for="(item, index, i) in form.portal"
                      :class="i == 0 ? '' : 'mt-20'"
                    >
                      <div class="Polaris-SettingAction">
                        <div
                          class="Polaris-SettingAction__Setting"
                          v-html="portal_msgs[index]"
                        ></div>
                        <div class="Polaris-SettingAction__Action">
                          <button
                            type="button"
                            class="Polaris-Button"
                            v-if="item"
                            @click="changePortal(index, 0)"
                          >
                            <span class="Polaris-Button__Content">
                              <span class="Polaris-Button__Text">Disable</span>
                            </span>
                          </button>
                          <button
                            v-if="!item"
                            type="button"
                            class="Polaris-Button Polaris-Button--primary"
                            @click="changePortal(index, 1)"
                          >
                            <span class="Polaris-Button__Content">
                              <span class="Polaris-Button__Text">Enable</span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <hr v-if="i != Object.keys(form.portal).length - 1" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--                        <div class="Polaris-Card mt-20">-->
            <!--                            <div class="Polaris-Card__Section">-->
            <!--                                <div class="mt-20" v-if="index != 'portal_content'" v-for="(item, index) in form.portal">-->
            <!--                                    <div class="Polaris-SettingAction">-->
            <!--                                        <div class="Polaris-SettingAction__Setting" v-html="portal_msgs[index]"></div>-->
            <!--                                        <div class="Polaris-SettingAction__Action">-->
            <!--                                            <button type="button" class="Polaris-Button" v-if="item" @click="changePortal(index, 0)">-->
            <!--                                                <span class="Polaris-Button__Content">-->
            <!--                                                    <span class="Polaris-Button__Text">Disable</span>-->
            <!--                                                </span>-->
            <!--                                            </button>-->
            <!--                                            <button v-if="!item" type="button" class="Polaris-Button Polaris-Button&#45;&#45;primary" @click="changePortal(index, 1)">-->
            <!--                                                <span class="Polaris-Button__Content">-->
            <!--                                                    <span class="Polaris-Button__Text">Enable</span>-->
            <!--                                                </span>-->
            <!--                                            </button>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--&lt;!&ndash;                            <div class="tinymce">&ndash;&gt;-->
            <!--&lt;!&ndash;                                <tinymce id="d1" v-model="form.portal.portal_content"></tinymce>&ndash;&gt;-->
            <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
            <!--                        </div>-->
            <!--                        <div class="subscriptions-portal-radio">-->

            <!--                            <div class="Polaris-Stack__Item">-->
            <!--                                <div>-->
            <!--                                    <label class="Polaris-Choice" for="Enableportal"><span class="Polaris-Choice__Control">-->
            <!--                                       <span class="Polaris-RadioButton">-->
            <!--                                          <input id="Enableportal" name="accounts" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="" checked="">-->
            <!--                                          <span class="Polaris-RadioButton__Backdrop"></span>-->
            <!--                                          <span class="Polaris-RadioButton__Icon"></span>-->
            <!--                                       </span>-->
            <!--                                    </span>-->
            <!--                                        <span class="Polaris-Choice__Label">Enable Portal</span></label>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            <div class="Polaris-Stack__Item">-->
            <!--                                <div>-->
            <!--                                    <label class="Polaris-Choice" for="Disableportal"><span class="Polaris-Choice__Control">-->
            <!--                                           <span class="Polaris-RadioButton">-->
            <!--                                              <input id="Disableportal" name="accounts" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="" checked="">-->
            <!--                                              <span class="Polaris-RadioButton__Backdrop"></span>-->
            <!--                                              <span class="Polaris-RadioButton__Icon"></span>-->
            <!--                                           </span>-->
            <!--                                        </span>-->
            <!--                                        <span class="Polaris-Choice__Label">Disable Portal</span></label>-->
            <!--                                </div>-->
            <!--                            </div>-->

            <!--                        </div>-->
          </div>

          <!-- Widget Styling -->
          <widget-styling :setting="form.setting"></widget-styling>
          <!-- End Widget Styling -->
          <!-- Shopify Tagging Start -->
          <div class="setting-main-second pt-4">
            <div class="subscriptions-portal">
              <div class="row">
                <div class="col-lg-4">
                  <div class="setting-main-first-left">
                    <h5 class="settings-main-title">Shopify tagging</h5>
                    <h6 class="settings-main-content">
                      Specify the name of the tag we will add to subscribers and
                      subscription orders automatically
                    </h6>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="setting-main-first-right">
                    <div class="setting-main-first-right-inner mb-3">
                      <label class="label-main-class"
                        >Add the following tag to active subscribers</label
                      >
                      <div class="modal-input-bottom">
                        <div class="Polaris-Connected">
                          <div
                            class="
                              Polaris-Connected__Item
                              Polaris-Connected__Item--primary
                            "
                          >
                            <div
                              class="
                                Polaris-TextField Polaris-TextField--hasValue
                              "
                            >
                              <input
                                id="tag_customer"
                                class="Polaris-TextField__Input"
                                aria-labelledby="PolarisTextField8Label"
                                aria-invalid="false"
                                aria-multiline="false"
                                v-model="form.setting.tag_customer"
                              />
                              <div class="Polaris-TextField__Backdrop"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="setting-main-first-right-inner mb-3">
                      <label class="label-main-class"
                        >Add the following tag to all orders containing
                        subscriptions</label
                      >
                      <div class="modal-input-bottom">
                        <div class="Polaris-Connected">
                          <div
                            class="
                              Polaris-Connected__Item
                              Polaris-Connected__Item--primary
                            "
                          >
                            <div
                              class="
                                Polaris-TextField Polaris-TextField--hasValue
                              "
                            >
                              <input
                                id="tag_customer"
                                class="Polaris-TextField__Input"
                                aria-labelledby="PolarisTextField8Label"
                                aria-invalid="false"
                                aria-multiline="false"
                                v-model="form.setting.tag_order"
                              />
                              <div class="Polaris-TextField__Backdrop"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Shopify Tagging End -->

          <!--                    Theme Installation-->
          <!--  <div class="setting-main-second pt-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="setting-main-first-left">
                                    <h5 class="settings-main-title">Theme Installation</h5>
                                    <h6 class="settings-main-content">If this is a new installation, or if you’d like to add our code to a backup theme for testing purposes, select your theme to the right and get started.</h6>
                                    <h6 class="settings-main-content mt-20">Important: if you have a live store, we strongly recommend doing this on a backup theme, not on your published theme.</h6>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="setting-main-first-right">
                                    <div class="">
                                        <div class="Polaris-Labelled__LabelWrapper">
                                            <div class="Polaris-Label"><label id="PolarisSelect8Label" for="PolarisSelect8" class="Polaris-Label__Text">Choose theme for installation:</label></div>
                                        </div>
                                        <div class="Polaris-Select">
                                            <select id="PolarisSelect8" class="Polaris-Select__Input" aria-invalid="false" @change="chngTheme($event)">
                                            <option :value="item.id" v-for="(item, index) in themes" :key="index">{{item.name}}
                                            </option>
                                        </select>
                                            <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">{{selectedTheme.name}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                          <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                        </svg></span></span></div>
                                            <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>
                                    <div class="mt-10">
                                        <button type="button" class="Polaris-Button Polaris-Button--primary" @click="installSnippet()">
                                            <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">Install to this theme</span>
                                            </span>
                                        </button>
                                    </div>
                                    <h6 class="settings-main-content mt-20">You’re not done! You can complete the last steps of the installation by following detailed instructions <a href="#" class="Polaris-Link">here</a>.</h6>
                                    <h6 class="settings-main-content mt-20">If you prefer, we have specialists standing by to complete your installation for a small fee. They can also help customize how customers choose subscriptions, and can create a fully customized customer portal. Learn more <a href="#" class="Polaris-Link">here</a>.</h6>
                                </div>
                            </div>
                        </div>
                    </div> -->
          <!--                    Billing information-->
          <div class="setting-main-second pt-4">
            <div class="Billing-info-main">
              <div class="subscriptions-portal">
                <h5 class="settings-main-title">Billing information</h5>
                <h6 class="settings-main-content">
                  Your current transaction fee is listed here. This is applied
                  to every order containing a subscription and is applied to
                  your Shopify bill. Upgrade or downgrade your plan below
                </h6>
              </div>

              <div class="export-fee-btn" style="display: none">
                <button
                  type="button"
                  class="Polaris-Button Polaris-Button--primary"
                >
                  <span class="Polaris-Button__Content"
                    ><span class="Polaris-Button__Text"
                      >Export Fee Breakdown</span
                    ></span
                  >
                </button>
              </div>
            </div>
            <div class="current-ac-info">
              <h5 v-if="form.plan.trial_ends" class="trial-end-class">
                YOUR TRIAL ENDS ON {{ form.plan.trial_ends }}
              </h5>
              <h5 class="transaction-fee-class">
                CURRENT TRANSACTION FEE: {{ form.plan.current_txn_fee }}%
              </h5>
            </div>
            <div class="plan-bottom-box">
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%">
                  <div class="plan-box-main">
                    <div class="plan-top-bar">
                      <h2
                        class="
                          Polaris-DisplayText Polaris-DisplayText--sizeMedium
                        "
                      >
                        {{ form.plans[0]['name'] }}
                      </h2>
                    </div>
                    <div class="plan-bottom-part">
                      <div class="plan-bottom-bar">
                        <h2
                          class="
                            Polaris-DisplayText Polaris-DisplayText--sizeMedium
                          "
                        >
                          ${{ form.plans[0]['price'] }}
                        </h2>
                        <h5>PER MONTH</h5>
                      </div>
                      <div class="plan-mid-bar">
                        <h5>+ ${{ (form.plans[0]['transaction_fee'] * 100).toFixed(2) }}% PER MEMBER</h5>
                      </div>
                      <div class="plan-discription">
                        <ul>
                          <li>
                            <div class="check-icon">
                              <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <span class="text-uppercase">WORKS WITH SHOPIFY PAYMENTS, AUTHORIZE.NET, PAYPAL EXPRESS</span
                            >
                          </li>

                          <li>
                            <div class="check-icon">
                              <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <span class="text-uppercase"
                              >SELL MEMBERSHIPS</span
                            >
                          </li>
                          <li>
                            <div class="check-icon">
                              <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <span class="text-uppercase">ADD CUSTOMER TAGS</span>
                          </li>
                          <li>
                            <div class="check-icon">
                              <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <span class="text-uppercase">SHOW / HIDE STOREFRONT CONTENT</span
                            >
                          </li>
                          <li>
                            <div class="check-icon">
                              <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <span class="text-uppercase">DUNNING MANAGEMENT</span
                            >
                          </li>
                        </ul>
                      </div>

                      <div class="plan-btn-main">
                        <button
                          type="button"
                          v-if="form.plan.active_plan_id == 1"
                          class="
                            Polaris-Button Polaris-Button--disabled
                            disabled
                          "
                          style="border: 0.1rem solid var(--p-border, #c4cdd5)"
                        >
                          <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text"
                              >Current Plan</span
                            >
                          </span>
                        </button>
                        <a
                          type="button"
                          @click="changePlan(1)"
                          v-else
                          class="Polaris-Button"
                        >
                          <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text"
                              >Downgrade to Starter</span
                            >
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%">
                  <div class="plan-box-main">
                    <div class="plan-top-bar">
                      <h2
                        class="
                          Polaris-DisplayText Polaris-DisplayText--sizeMedium
                        "
                      >
                          {{ form.plans[1]['name'] }}
                      </h2>
                    </div>

                    <div class="plan-bottom-part">
                      <div class="plan-bottom-bar">
                        <h2
                          class="
                            Polaris-DisplayText Polaris-DisplayText--sizeMedium
                          "
                        >
                          ${{ form.plans[1]['price'] }}
                        </h2>
                        <h5>PER MONTH</h5>
                      </div>

                      <div class="plan-mid-bar">
                        <h5>
                            + ${{ (form.plans[1]['transaction_fee'] * 100).toFixed(2) }}% PER MEMBER
                        </h5>
                      </div>

                      <div class="plan-discription">
                        <ul>
                          <li>
                            <div class="check-icon">
                              <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <span class="text-uppercase">SAME FEATURES AS STARTER PLAN</span
                            >
                          </li>

                          <li>
                            <div class="check-icon">
                              <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <span class="text-uppercase">BEST FOR STORES WITH MORE THAN 2,500 MEMBERS</span
                            >
                          </li>
                        </ul>
                      </div>

                      <div class="plan-btn-main">
                        <button
                          v-if="form.plan.active_plan_id == 2"
                          type="button"
                          class="
                            Polaris-Button Polaris-Button--disabled
                            disabled
                          "
                          style="border: 0.1rem solid var(--p-border, #c4cdd5)"
                        >
                          <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text"
                              >Current Plan</span
                            >
                          </span>
                        </button>
                        <a
                          v-else
                          @click="changePlan(2)"
                          type="button"
                          class="Polaris-Button"
                        >
                          <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text"
                              >Upgrade to Enterprise</span
                            >
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--        failed payment notification to customer model-->
    <failed-payment
      :failed-payment-noti.sync="FailedPaymentNoti"
      :email="form.failedPaymentNoti"
      @update="closeModel"
    ></failed-payment>
    <!--        New subscription notification to customer model-->
    <new-subscription
      :new-subscription.sync="NewSubscription"
      :email="form.newSubNoti"
      @update="closeModel"
    ></new-subscription>

    <div
      v-if="FailedPaymentNoti || NewSubscription"
      class="Polaris-Backdrop"
    ></div>
  </div>
</template>

<script>
import helper from "../../../helper";
import {
  Button,
  ContextualSaveBar,
  Modal,
  Toast,
} from "@shopify/app-bridge/actions";
import FailedPayment from "./models/FailedPayment";
import tinymce from "vue-tinymce-editor";
import NewSubscription from "./models/NewSubscription";
import instance from "../../../axios";
import WidgetStyling from "./WidgetStyling.vue";

export default {
  components: {
    FailedPayment,
    tinymce,
    NewSubscription,
    WidgetStyling,
  },
  data() {
    return {
      selectedTheme: {
        id: "",
        name: "",
      },
      themes: {},
      temp_prisine: "",
      FailedPaymentNoti: false,
      NewSubscription: false,
      portal_msgs: [],
      form: {
        email: {
          html_body: "",
          category: "",
        },
        setting: {
          email_from_name: "",
          email_from_email: "",
          subscription_daily_at: "",
          dunning_daysbetween: "",
          dunning_email_enabled: "",
          dunning_failedaction: "",
          dunning_retries: "",

          widget_active_bg: "",
          widget_active_text: "",
          widget_inactive_bg: "",
          widget_inactive_text: "",
          widget_heading_text: "",
          widget_one_time_text: "",
          widget_default_selection: "",

          widget_active_bg_mi: "",
          widget_active_text_mi: "",
          widget_inactive_bg_mi: "",
          widget_inactive_text_mi: "",
          widget_heading_text_mi: "",
          widget_one_time_text_mi: "",
          widget_default_selection_mi: "",

          sendgrid_api_key: "",
          sendgrid_enabled: "",
          transaction_fee: "",
          twilio_number: "",
          twilio_status: "",
          mailgun_method: "",
        },
        portal: [],
        timezone: "",
        plan: {
            active_plan_id: "",
            trial_ends: "",
            current_txn_fee: "",
        },
          plans:[
              {
                  'name': '',
                  'price': '',
                  'transaction_fee': ''
              },
              {
                  'name': '',
                  'price': '',
                  'transaction_fee': ''
              }
          ]
      },
      dailyAt: [
        "12:01 AM",
        "01:00 AM",
        "02:00 AM",
        "03:00 AM",
        "04:00 AM",
        "05:00 AM",
        "06:00 AM",
        "07:00 AM",
        "08:00 AM",
        "09:00 AM",
        "10:00 AM",
        "11:00 AM",
        "12:00 PM",
        "01:00 PM",
        "02:00 PM",
        "03:00 PM",
        "04:00 PM",
        "05:00 PM",
        "06:00 PM",
        "07:00 PM",
        "08:00 PM",
        "09:00 PM",
        "10:00 PM",
        "11:00 PM",
        "11:59 PM",
      ],
      watch: false,
    };
  },
  methods: {
    chngTheme(event) {
      this.selectedTheme.id = event.target.value;
      this.selectedTheme.name = this.themes[event.target.selectedIndex].name;
    },
    async changePortal(index, value) {
      let base = this;
      helper.startLoading();
      await instance
        .get("portal-status?key=" + index + "&v=" + value)
        .then((res) => {
          helper.successToast(res.data.data);
          base.getData();
        })
        .catch((err) => {
          console.log(err);
        })
        .finally((res) => {
          helper.stopLoading();
        });
    },
    initPortalMsg() {
      this.portal_msgs = {
        portal_can_cancel: "Customers <b>can cancel</b> their subscriptions",
        portal_can_skip: "Customers <b>can skip</b> next order",
        portal_can_ship_now:
          "Customers <b>can ship</b> their next order <b>immediately</b>",
        portal_can_change_qty:
          "Customers <b>can update product quantities</b> for active subscriptions",
        portal_can_change_nod:
          "Customers <b>can choose the next order date</b> for active subscriptions",
        portal_can_change_freq:
          "Customers <b>can change their order frequency</b> for active subscriptions",
        portal_can_add_product:
          "Customers <b>can add any product</b> to their active subscriptions",
        portal_show_content:
          "Customers <b>can see the custom content below</b> when the portal is loaded",
      };
    },
    closeModel(action, template) {
      if (template == "FailedPaymentNoti") {
        this.FailedPaymentNoti = false;
      } else {
        this.NewSubscription = false;
      }

      // $('.mce-tinymce-inline').css('background', 'none');
      // element.style.opacity = 0;
      // element.style.visibility = 'hidden';
      // console.log(document.getElementsByClassName('mce-tinymce-inline')[0]);
      action == "refresh" ? this.getData() : "";
    },
    createContextualSaveBar() {
      let base = this;
      let options = {
        saveAction: {
          disabled: false,
          loading: false,
        },
        discardAction: {
          disabled: false,
          loading: false,
          discardConfirmationModal: true,
        },
      };
      var contextualSaveBar = helper.contextualSaveBar(options);

      contextualSaveBar.dispatch(ContextualSaveBar.Action.SHOW);

      contextualSaveBar.subscribe(
        ContextualSaveBar.Action.DISCARD,
        function () {
          base.getData();
          contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
        }
      );
      contextualSaveBar.subscribe(ContextualSaveBar.Action.SAVE, function () {
        contextualSaveBar.set({
          saveAction: { loading: true },
          discardAction: { disabled: true },
        });
        base.sendForm();
      });
    },
    async getData() {
      let base = this;
      helper.startLoading();
      await instance
        .get("setting")
        .then((res) => {
          base.form = res.data.data.data;
          base.form.setting.dunning_email_enabled =
            base.form.setting.dunning_email_enabled != 0;
          base.form.setting.new_subscription_email_enabled =
            base.form.setting.new_subscription_email_enabled != 0;
          base.watch = true;
          base.temp_prisine = JSON.stringify(base.form);
          base.themes = res.data.data.themes;
          base.selectedTheme = base.themes[0];
        })
        .catch((err) => {
          console.log(err);
        })
        .finally((res) => {
          helper.stopLoading();
        });
    },
    async sendForm() {
      let base = this;
      helper.startLoading();
      await instance
        .post("setting", { data: base.form })
        .then((res) => {
          base.getData();
          helper.successToast(res.data.data);
          base.closeModel("refresh");
        })
        .catch((err) => {
          console.log(err);
          base.errors = err.response.data;
        })
        .finally((res) => {
          helper.stopLoading();
        });
    },
    async changePlan(plan) {
      let base = this;
      base.is_disabled = true;
      await instance({
        url: "mbilling/" + plan,
        method: "get",
      })
        .then(function (res) {
          let data = res.data.data;
          window.top.location.href = data.confirmation_url;
          // window.open(data.confirmationUrl, '_parent');
        })
        .catch(function (err) {
          helper.errorToast(err.response.data);
        })
        .finally((res) => {
          base.is_disabled = false;
          helper.stopLoading();
        });
    },
    async installSnippet() {
      let base = this;
      helper.startLoading();
      await instance
        .post("install-theme", { data: base.selectedTheme })
        .then((res) => {
          helper.successToast(res.data.data);
        })
        .catch((err) => {
          console.log(err);
        })
        .finally((res) => {
          helper.stopLoading();
        });
    },
  },
  created() {
    this.getData();
  },
  mounted() {
    this.initPortalMsg();
  },
  watch: {
    form: {
      immediate: true,
      deep: true,
      handler: function () {
        if (this.watch) {
          if (_.isEqual(this.temp_prisine, JSON.stringify(this.form))) {
            let contextualSaveBar = helper.contextualSaveBar();
            contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
          } else {
            this.createContextualSaveBar();
          }
        }
      },
    },
  },
};
</script>
