<template>
  <div class="setting-main-second pt-4">
    <div class="subscriptions-portal">
      <div class="row">
        <div class="col-lg-4">
          <div class="setting-main-first-left">
            <h5 class="settings-main-title">Widget Styling</h5>
            <h6 class="settings-main-content">
              Choose the colors and options that are used on our default widget.
              To learn how these are used to style your widget,
              <a href="#">learn more</a>
            </h6>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="setting-main-first-right">
            <div class="setting-main-first-right-inner mb-3">
              <div class="row">
                <div class="col-lg-6">
                  <label class="control-label"
                    >Active Selection (Background)</label
                  >
                  <color-picker v-model="setting.widget_active_bg" />
                </div>
                <div class="col-lg-6">
                  <label class="control-label">Active Selection (Text)</label>
                  <color-picker v-model="setting.widget_active_text" />
                </div>
                <div class="col-lg-6">
                  <label class="control-label"
                    >Inactive Selection (Background)</label
                  >
                  <color-picker v-model="setting.widget_inactive_bg" />
                </div>
                <div class="col-lg-6">
                  <label class="control-label">Inactive Selection (Text)</label>
                  <color-picker v-model="setting.widget_inactive_text" />
                </div>
              </div>
            </div>
            <div class="setting-main-first-right-inner mb-3">
              <label class="label-main-class">Widget heading</label>
              <div class="modal-input-bottom">
                <div class="Polaris-Connected">
                  <div
                    class="
                      Polaris-Connected__Item Polaris-Connected__Item--primary
                    "
                  >
                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                      <input
                        id="widget_heading"
                        class="Polaris-TextField__Input"
                        aria-labelledby="PolarisTextField8Label"
                        aria-invalid="false"
                        aria-multiline="false"
                        v-model="setting.widget_heading_text"
                      />
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="setting-main-first-right-inner mb-3">
              <label class="label-main-class"
                >Text used to describe the one-time product option</label
              >
              <div class="modal-input-bottom">
                <div class="Polaris-Connected">
                  <div
                    class="
                      Polaris-Connected__Item Polaris-Connected__Item--primary
                    "
                  >
                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                      <input
                        id="widget_text_onetime"
                        class="Polaris-TextField__Input"
                        aria-labelledby="PolarisTextField8Label"
                        aria-invalid="false"
                        aria-multiline="false"
                        v-model="setting.widget_one_time_text"
                      />
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="setting-main-first-right-inner mb-3">
              <div>
                <fieldset
                  class="Polaris-ChoiceList d-flex"
                  id="PolarisChoiceList12"
                  aria-invalid="false"
                >
                  <span class="Polaris-ChoiceList__Title">
                    Default widget selection:
                  </span>
                  <ul class="Polaris-ChoiceList__Choices d-flex">
                    <li>
                      <label class="Polaris-Choice" for="PolarisRadioButton28"
                        ><span class="Polaris-Choice__Control"
                          ><span class="Polaris-RadioButton"
                            ><input
                              id="PolarisRadioButton28"
                              name="PolarisChoiceList12"
                              type="radio"
                              class="Polaris-RadioButton__Input"
                              value="onetime"
                              @change="changeDefaultSelection($event)"
                              :checked="
                                setting.widget_default_selection ==
                                'One-Time Purchase'
                              " /><span
                              class="Polaris-RadioButton__Backdrop"
                            ></span></span></span
                        ><span class="Polaris-Choice__Label"
                          >One-Time</span
                        ></label
                      >
                    </li>
                    <li>
                      <label class="Polaris-Choice" for="PolarisRadioButton29"
                        ><span class="Polaris-Choice__Control"
                          ><span class="Polaris-RadioButton"
                            ><input
                              id="PolarisRadioButton29"
                              name="PolarisChoiceList12"
                              type="radio"
                              class="Polaris-RadioButton__Input"
                              value="subscription"
                              @change="changeDefaultSelection($event)"
                              :checked="
                                setting.widget_default_selection !=
                                'One-Time Purchase'
                              " /><span
                              class="Polaris-RadioButton__Backdrop"
                            ></span></span></span
                        ><span class="Polaris-Choice__Label"
                          >Subscription</span
                        ></label
                      >
                    </li>
                  </ul>
                </fieldset>
                <div id="PolarisPortalsContainer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ColorPicker from "../../shopify/ColorPicker";

export default {
  props: ["setting"],
  components: {
    "color-picker": ColorPicker,
  },
  data() {
    return {};
  },
  methods: {
    changeDefaultSelection(event) {
      if (event.target.value == "onetime") {
        this.setting.widget_default_selection = "One-Time Purchase";
      } else {
        this.setting.widget_default_selection = "Subscription";
      }
    },
  },
};
</script>

<style scoped>
.Polaris-ChoiceList__Title {
  margin: 0;
  display: flex;
  align-items: center;
}
.Polaris-ChoiceList__Choices {
  justify-content: space-evenly;
  width: 70%;
}
</style>