.justify-content-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-uppercase{
    text-transform: uppercase;
}
.my-20{
    margin: 20px 0;
}

.mt-20{
    margin-top: 20px;
}

.mt-0{
    margin-top: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.p-15{
    padding: 15px !important;
}

.m-0{
    margin: 0 !important;
}

.justify-space-between{
    justify-content: space-between;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.grey-color{
    color: #637381;
}

.Polaris-Button__Text {
    font-weight: 600;
    font-size: 1.6rem;
}
.Polaris-Button{
    cursor: pointer;
}
.hr-color {
    border-top: 1px solid #DFE3E8;
    margin:10px 0;
}

.text-uppercase{
    text-transform: uppercase;
}

.account-info span{
    display: block;
}

.simplee-portal__left-Card {
    background-color: #FAFBFC;
}

.contract-id span {
    color: rgba(99, 115, 129, 0.5);
    font-weight: 700;
}

.simplee-portal__product-info a, .simplee-portal__product-info span {
    display: block;
}

.simplee-portal__product-img {
    margin-right: 20px;
    max-width: 40%;
}

.simplee-portal__added-product_left {
    max-width: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}
.simplee-portal__added-product {
    display: flex;
    align-items: center;
}
.simplee-portal__added-product_right {
    max-width: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.simplee-portal__product-info a, .simplee-portal__product-info span {
    font-weight: 600;
}
.simplee-portal__added_product_price, .simplee-portal__added_product_seperater, .simplee-portal__added_product_discount_price, .Polaris-Select__SelectedOption {
    font-weight: 700;
}
.Polaris-Tabs__Title {
    font-weight: 600;
}
.simplee-portal__right-Card_bg {
    background-color: #F9FAFB;
}
.simplee-portal__verify{
    text-align: center;
}
.simplee-portal__start {
    padding: 20px;
    border-radius: 7px !important;
    box-shadow: none !important;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    background-color: #fff;
}
.Polaris-Tabs__Tab:hover .Polaris-Tabs__Title, .Polaris-Tabs__Tab:focus .Polaris-Tabs__Title {
    font-weight: 700 !important;
}
.shipping-address span{
    display: block;
}
.loading-content{
    margin-top: 20px;
    text-align: center;
}
.Polaris-Modal-Dialog__Container {
    justify-content: start !important;
    margin-top: 5% !important;
}
.Polaris-TextStyle--variationNegative {
    color: var(--p-text-critical, #bf0711) !important;
}
.trash-ico{
    color: #3a3a3a !important;
}
.edit-details-modal .col-lg-6, .edit-details-modal .col-lg-12, .edit-details-modal .col-lg-4 {
    margin-bottom: 10px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media(min-width:1024px){
    .container {
        max-width: 1440px;
        margin: auto;
        padding: 0 15px;
    }
}
@media(max-width:1023px){
    .container{
        padding: 0 10px;
    }
}
@media(min-width: 992px){
    .simplee-portal_tab_select_box {
        max-width: 20%;
        margin: 20px auto;
    }
    .simplee-portal_tab_select_box.mobile{
        display: none;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width:991px){
    .simplee-portal__added-product_right {
        max-width: 100%;
        margin-top: 10px;
    }
    .simplee-portal__added-product_left {
        max-width: 100%;
    }
    .simplee-portal__added-product {
        display: block;
    }
    .text-right{
        text-align: center;
    }
    .Polaris-Layout__Section.Polaris-Layout__Section--secondary {
        order: 2;
    }
    .simplee-portal_tab_select_box {
        margin: 20px 0;
    }
    .simplee-portal_tab_select_box.desktop{
        display: none;
    }
    body .first-tab-main{
        display: none;
    }
}
