*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  background-color: #f5f5f5 !important;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0 !important;
  line-height: 1.5 !important;
  height: auto !important;
  font-size: initial !important;
}

html {
  scroll-behavior: smooth;
}

button,
input,
textarea,
select,
.disclosure__toggle {
  font-family: 'Open Sans', sans-serif !important;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}

.row > * {
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: initial !important;
  text-transform: unset !important;
  font-family: 'Open Sans', sans-serif !important;
}

.simplee-portal__wrapper .d-flex {
  display: flex;
}

.simplee-portal__wrapper .align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.simplee-portal__wrapper .justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.simplee-portal__wrapper .mb-0 {
  margin-bottom: 0;
}

.simplee-portal__wrapper .mb-1 {
  margin-bottom: .25rem;
}

.simplee-portal__wrapper .me-1 {
  margin-right: .25rem;
}

.simplee-portal__wrapper .mb-2 {
  margin-bottom: .5rem;
}

.simplee-portal__wrapper .mb-3 {
  margin-bottom: 16px;
}

.simplee-portal__wrapper .me-3 {
  margin-right: 16px;
}

.simplee-portal__wrapper .mt-3 {
  margin-top: 16px;
}

.simplee-portal__wrapper .ms-3 {
  margin-left: 16px;
}

.simplee-portal__wrapper .ms-4 {
  margin-left: 24px;
}

.simplee-portal__wrapper .mb-4 {
  margin-bottom: 24px;
}

.simplee-portal__wrapper .mt-4 {
  margin-top: 24px;
}

.simplee-portal__wrapper .mt-5 {
  margin-top: 3rem;
}

.simplee-portal__wrapper .mb-5 {
  margin-bottom: 3rem;
}

.simplee-portal__wrapper .pt-3 {
  padding-top: 16px;
}

.simplee-portal__wrapper .pt-2 {
  padding-top: .5rem;
}

.simplee-portal__wrapper .pe-4 {
  padding-right: 24px;
}

.simplee-portal__wrapper .py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.simplee-portal__wrapper .pb-5 {
  padding-bottom: 3rem;
}

.simplee-portal__wrapper .ps-3 {
  padding-left: 16px;
}

.simplee-portal__wrapper .p-4 {
  padding: 24px;
}

.simplee-portal__wrapper .py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.simplee-portal__wrapper .px-1 {
  padding-right: .25rem;
  padding-left: .25rem;
}

.simplee-portal__wrapper .d-none {
  display: none;
}

.simplee-portal__wrapper .d-block {
  display: block;
}

.simplee-portal__wrapper .d-inline-block {
  display: inline-block;
}

.simplee-portal__wrapper .border-top {
  border-top: 1px solid #dee2e6;
}

.simplee-portal__wrapper .border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.simplee-portal__wrapper .form-select-sm {
  padding: 4px 36px 4px 8px;
  font-size: .875rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.simplee-portal__wrapper .w-auto {
  width: auto !important;
}

.simplee-portal__wrapper img,
.simplee-portal__wrapper svg {
  vertical-align: middle;
}

.accordion-button {
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  padding: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.table {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.simplee-portal__wrapper .text-end {
  text-align: right !important;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.simplee-portal__wrapper .btn {
  line-height: 1.5;
}

.simplee-portal__wrapper .fade:not(.show) {
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.fade {
  transition: opacity .15s linear;
}

.subscription_products label {
  font-size: 16px;
}

/* variable css */

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.blue-color {
  color: #1a76e6;
  cursor: pointer;
}

.black-color {
  color: #000;
}

.red-color {
  color: #f71111;
}

.grey-color {
  color: #818080;
}

.bg-white {
  background-color: #fff;
}

.bg-blue {
  background-color: #1a76e6;
}

body h1 {
  font-size: 26px;
}

body h2 {
  font-size: 22px;
}

body h4 {
  font-size: 16px;
}

body h5 {
  font-size: 14px;
}

body p,
body span {
  font-size: 14px;
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.box_spacing {
  padding: 16px 39px;
  margin-bottom: 30px;
}

.border-radius {
  border-radius: 20px;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

/* custom css */

.form-select:focus {
  box-shadow: none;
  outline: none;
}

.subscription_select .form-select {
  border: none;
  font-size: 11px;
}

.subscription_select .form-select:focus {
  border: none;
}

.simplee-portal__sidebar_inner ul li a {
  letter-spacing: 0.03em;
  font-size: 15px;
}

.simplee-portal__sidebar_inner ul li a.active,
.simplee-portal__sidebar_inner ul li a:hover {
  color: #1a76e6;
}

.simplee-portal__text_inner span {
  font-size: 16px;
}

.subscription_edit a {
  width: 30px;
  height: 30px;
  border: 1px solid #9190906e;
  border-radius: 50%;
}

.subscription_edit a i {
  font-size: 14px;
  color: #818080;
}

.subscription_product_content .fa-redo {
  font-size: 14px;
  transform: rotate(-90deg);
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.collapse:not(.show) {
  display: none;
}

.btn-primary {
  font-size: 15px;
  letter-spacing: 0.06em;
  border-radius: 7px;
  padding: 11px 29px;
  color: #fff;
}

.accordion-button::after {
  color: #1a76e6;
  background-image: none;
  content: '\F054';
  font-family: 'Font Awesome 5 free';
  font-weight: 600;
  font-size: 15px;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: '\F078';
  transform: none;
}

.subscription_total td {
  font-size: 16px !important;
}

.btn-secondary {
  border-radius: 14px;
  background-color: #60bb46;
  letter-spacing: 0.75px;
  padding: 11px 21px;
  font-size: 15px !important;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #60bb46;
}

.form-control {
  border: 1px solid #9190906e;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.subscription_city {
  position: relative;
}

.subscription_city .fa-search {
  position: absolute;
  top: 11px;
  left: 8px;
}

.subscription_city .fa-times {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #f7f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.subscription_form,
.subscription_product_edit {
    display: none;
}*/

/*.subscription_form.active,
.subscription_product_edit.active {
    display: block;
}

.subscription_order .subscription_products.deactive,
.subscirption_products_inner.deactive {
    display: none;
}*/

.subscription_product_edit_inner .fa-times {
  position: unset;
}

.subscription_quntity span {
  cursor: pointer;
}

.quntity_main {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.subscription_quntity .minus,
.subscription_quntity .plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 14px;
  font-size: 24px;
}

.subscription_quntity input {
  width: 60px;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.modal-content {
  border-radius: 10px;
}

.subscription_cancel .btn-primary {
  background-color: #f71111;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 11px 23px;
}

.suscription_summary .table td {
  font-size: 14px;
  padding: 0;
  border: none;
}

.suscription_summary .table td span {
  font-size: 10px;
}

label {
  font-size: 14px;
  margin-bottom: .5rem;
  display: inline-block;
}

.subscription_cancel a {
  letter-spacing: 0.75px;
}

.form-select {
  display: block;
  width: 100%;
  padding: 6px 36px 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  /*background-image: url(../images/download.svg);*/
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.simplee-portal__verify {
  text-align: center;
}

.quntity_main button {
  border: none;
  background: inherit;
}

.subscription_products img {
  max-width: 100%;
}

/* START:: modal css*/

.button {
  font-size: 1em;
  padding: 10px;
  color: #000;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.subscription_cancel {
  max-width: 650px;
  margin: 0 auto;
  top: 20%;
}

.open-modal {
  overflow: hidden;
}

/*END :: modal css*/

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

p.v-toast__text {
  color: #ffffff;
}

.img-paypal {
  width: 100px;
}

.billing-card img {
  width: 20%;
}

.billing-card {
  display: flex;
  align-items: center;
}

.white-space-wrap {
  white-space: nowrap;
}

.prepaid_status.scheduled {
  background-color: #a7eae2;
}

.prepaid_status.unfulfilled {
  background-color: #fff398;
}

.prepaid_status.fulfilled {
  background-color: #bbf3ae;
}

.prepaid_status {
  border-radius: 50px;
  color: #000;
}

.subscription_order_prepaid th,
.subscription_order_prepaid td {
  border: none;
  display: inline-block;
  width: 20%;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 14px;
}

.subscription_order_prepaid th:first-child,
.subscription_order_prepaid td:first-child {
  text-align: left;
  padding-left: 0;
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .mb-md-0 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
    margin: 0 auto;
    top: 40%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 21px;
  }

  h5,
  .subscription_form label {
    font-size: 14px;
  }

  p,
  span {
    font-size: 14px;
  }

  .subscription_right_column {
    padding: 0;
  }

  .border-radius {
    border-radius: 0;
  }

  .btn-secondary,
  .btn-primary {
    font-size: 14px !important;
    padding: 9px 19px !important;
  }

  .subscirption_products_inner .subscription_products img {
    width: 80px;
  }

  .subscription_edit a {
    width: 25px;
    height: 25px;
  }

  .subscription_edit a i {
    font-size: 12px;
  }

  .subscription_total td,
  .subscription_status_btn a {
    font-size: 17px;
  }

  .modal-dialog {
    top: 40%;
  }

  .box_spacing {
    padding: 14px 21px;
  }

  .subscription_product_content h4,
  .subscription_single_edit h4 {
    color: #000;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .simplee-portal__sidebar_inner ul li a {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  p,
  span {
    font-size: 13px;
  }

  .subscirption_products_inner .subscription_products img {
    width: 110px;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  h2 {
    font-size: 22px;
  }
}

