<template>
    <div class="">
        <div class="Polaris-Card__Section subscribers-main-class">
            <div class="subscriber-tab-main subscription-page">
                <div class="subscribers-details-enter">
                    <div class="subscribers-details-enter-inner">
                        <div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--hasActionMenu">
                            <div class="Polaris-Page-Header__Navigation">
                                <div class="Polaris-Page-Header__BreadcrumbWrapper">
                                    <nav role="navigation">
                                        <router-link :to="{name :'subscriber'}" class="Polaris-Breadcrumbs__Breadcrumb"
                                                     data-polaris-unstyled="true">
                                             <span class="Polaris-Breadcrumbs__ContentWrapper">
                                                <span class="Polaris-Breadcrumbs__Icon">
                                                   <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                         <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16" fill-rule="evenodd"></path>
                                                      </svg>
                                                   </span>
                                                </span>
                                                <span class="Polaris-Breadcrumbs__Content">All subscriptions</span>
                                             </span>
                                        </router-link>
                                    </nav>
                                </div>
                                <div v-if="typeof contract.id != 'undefined'" class="Polaris-Page-Header__PaginationWrapper">
                                    <nav class="Polaris-Pagination Polaris-Pagination--plain" aria-label="Pagination">
                                        <button type="button"
                                                class="Polaris-Pagination__Button Polaris-Pagination__PreviousButton"
                                                aria-label="Previous"
                                                :disabled="!contract.prev"
                                                :class="{ 'Polaris-Button--disabled': !contract.prev }"
                                                @click="getData(contract.prev)"
                                        >
                                 <span class="Polaris-Icon">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                       <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2" fill-rule="evenodd"></path>
                                    </svg>
                                 </span>
                                        </button>
                                        <button type="button"
                                                class="Polaris-Pagination__Button Polaris-Pagination__NextButton" aria-label="Next"
                                                :disabled="!contract.next"
                                                :class="{ 'Polaris-Button--disabled': !contract.next }"
                                                @click="getData(contract.next)">
                                 <span class="Polaris-Icon">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                       <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                                    </svg>
                                 </span>
                                        </button>
                                    </nav>
                                </div>
                            </div>
                            <div v-if="typeof contract.id != 'undefined'" class="Polaris-Page-Header__MainContent">
                                <div class="Polaris-Page-Header__TitleActionMenuWrapper">
                                    <div>
                                        <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                                            <div class="Polaris-Header-Title d-flex align-items-center">
                                                <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">{{contract.customer.first_name}} {{contract.customer.last_name}}- Contract #{{contract.shopify_contract_id}}</h1>
                                                <div class="ml-4">
                                                    <h6 :class="statusClasses[contract.status]" class="label-common-class label-border text-capitalize">{{contract.status}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="typeof contract.id != 'undefined'" class="user-info">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="left-side-info mb-5">
                                        <div class="subscriptions-main-info-start">
                                            <div class="prepaid-order-top">
                                                <h4 class="mb-20">PRODUCTS IN THIS SUBSCRIPTION</h4>
                                            </div>
                                            <form>
                                                <div class="products-form-start">
                                                    <div v-for="(lineitem, lindex) in contract.lineItems" class="row class product-border-class">
                                                        <div class="col-lg-4">
                                                            <div class="thumbnail-class-main">
                                                                <div class="product-img-class">
                                                                    <img v-if="lineitem.shopify_variant_image" :src="lineitem.shopify_variant_image" alt="product">
                                                                    <img v-else src="/images/static/no-image-box.png" alt="product">
                                                                </div>
                                                                <div class="product-info-class">
                                                                    <a :href="'https://' + `${shop.domain}` + '/admin/products/' + `${lineitem.shopify_product_id}`"
                                                                       target="_blank">{{ lineitem.title }}</a>

                                                                        <h6 class="subscription-variant-edit-h6" v-if="!lineItems_dp[lineitem.id]">
                                                                            {{ lineitem.shopify_variant_title }}
                                                                            <a v-if="lineitem.sh_variants.length > 1" style="cursor: pointer;" class="subscription-variant-edit-icon" @click="lineItemDpChanges(lindex);">
                                                                                <svg width="12" height="15" viewBox="0 0 11 11" fill="none"
                                                                                     xmlns="http://www.w3.org/2000/svg">
                                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                                          d="M10.3831 0.596689C9.58836 -0.198611 8.20126 -0.198611 7.40541 0.596689L1.26136 6.74074C1.20251 6.79959 1.16291 6.86889 1.13651 6.94259C1.13486 6.94754 1.12991 6.95084 1.12826 6.95579L0.028262 10.2558C-0.037738 10.4532 0.013962 10.6716 0.161362 10.8184C0.265862 10.9235 0.406662 10.9796 0.550212 10.9796C0.608512 10.9796 0.666812 10.9708 0.724012 10.9515L4.02401 9.85154C4.02896 9.84989 4.03226 9.84494 4.03721 9.84329C4.11091 9.81689 4.18021 9.77729 4.23906 9.71844L10.3831 3.57439C10.7808 3.17674 11.0002 2.64764 11.0002 2.08554C11.0002 1.52289 10.7808 0.994339 10.3831 0.596689ZM9.6054 2.79659L9.3502 3.05179L7.9279 1.62949L8.1831 1.37429C8.56315 0.994244 9.22535 0.994244 9.6054 1.37429C9.7957 1.56459 9.9002 1.81704 9.9002 2.08544C9.9002 2.35384 9.7957 2.60629 9.6054 2.79659ZM1.89055 8.14754L2.83215 9.08914L1.41975 9.55994L1.89055 8.14754ZM3.8502 8.5518L2.4279 7.1295L7.1502 2.4072L8.5725 3.8295L3.8502 8.5518Z"
                                                                                          fill="#637381"/>
                                                                                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0"
                                                                                          y="0" width="12" height="11">
                                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                                              d="M10.3831 0.596689C9.58836 -0.198611 8.20126 -0.198611 7.40541 0.596689L1.26136 6.74074C1.20251 6.79959 1.16291 6.86889 1.13651 6.94259C1.13486 6.94754 1.12991 6.95084 1.12826 6.95579L0.028262 10.2558C-0.037738 10.4532 0.013962 10.6716 0.161362 10.8184C0.265862 10.9235 0.406662 10.9796 0.550212 10.9796C0.608512 10.9796 0.666812 10.9708 0.724012 10.9515L4.02401 9.85154C4.02896 9.84989 4.03226 9.84494 4.03721 9.84329C4.11091 9.81689 4.18021 9.77729 4.23906 9.71844L10.3831 3.57439C10.7808 3.17674 11.0002 2.64764 11.0002 2.08554C11.0002 1.52289 10.7808 0.994339 10.3831 0.596689ZM9.6054 2.79659L9.3502 3.05179L7.9279 1.62949L8.1831 1.37429C8.56315 0.994244 9.22535 0.994244 9.6054 1.37429C9.7957 1.56459 9.9002 1.81704 9.9002 2.08544C9.9002 2.35384 9.7957 2.60629 9.6054 2.79659ZM1.89055 8.14754L2.83215 9.08914L1.41975 9.55994L1.89055 8.14754ZM3.8502 8.5518L2.4279 7.1295L7.1502 2.4072L8.5725 3.8295L3.8502 8.5518Z"
                                                                                              fill="white"/>
                                                                                    </mask>
                                                                                    <g mask="url(#mask0)"></g>
                                                                                </svg>
                                                                            </a>
                                                                        </h6>
                                                                       <!-- drop down for more than one variant  -->
                                                                      <div class="Polaris-Select mt-2" v-else>
                                                                        <select id="dunning_daysbetween" class="Polaris-Select__Input" aria-invalid="false" v-model="lineitem.selected_variant" @click="lineItemDpChanges(lindex)">
                                                                            <option :value="lshvar.id" v-for="(lshvar, lshindex) in lineitem.sh_variants">
                                                                                {{lshvar.title}}
                                                                            </option>
                                                                        </select>
                                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                                            <span class="Polaris-Select__SelectedOption" v-for="(lshvar, lshindex) in lineitem.sh_variants" v-if="lshvar.id == lineitem.selected_variant">
                                                                                    {{ lshvar.title }}
                                                                            </span>
                                                                            <span class="Polaris-Select__Icon">
                                                                             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                                                </svg>
                                                                          </span>
                                                                        </div>
                                                                        <div class="Polaris-Select__Backdrop"></div>
                                                                    </div>

                                                                    <h6 v-if="lineitem.sku">SKU: {{ lineitem.sku }}</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="product-price-main">
                                                                <form class="product-count-form">
                                                                    <div class="product-price-text">
                                                                        <h5>{{ lineitem.currency_symbol }}{{ lineitem.price }}</h5>
                                                                    </div>
                                                                    <div class="x-indicators">
                                                                        <span>X</span>
                                                                    </div>
                                                                    <div class="number-value-field">
                                                                        <input type="number" id="PolarisTextField8" class="Polaris-TextField__Input Polaris-TextField__Input--alignRight" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="lineitem.quantity"
                                                                               @keyup="updatePrice(lindex)">
                                                                    </div>
                                                                    <div class="fomr-indicators-main">
                                                                        <span class="product-indicators">-</span>
                                                                    </div>
                                                                    <div class="Polaris-Connected">
                                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                                <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" v-model="lineitem.discount_amount" @keyup="updatePrice(lindex)">
                                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                            <div class="Polaris-Labelled--hidden">
                                                                                <div class="Polaris-Select">
                                                                                    <select id="PolarisSelect4"
                                                                                            class="Polaris-Select__Input"
                                                                                            aria-invalid="false"
                                                                                            v-model="lineitem.discount_type"
                                                                                            @change="updatePrice(lindex)">
                                                                                        <option value="%">%</option>
                                                                                        <option :value="shop.currency">
                                                                                            {{ shop.currency }}
                                                                                        </option>
                                                                                    </select>
                                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                        <span class="Polaris-Select__SelectedOption">{{ lineitem.discount_type }}</span>
                                                                                        <span class="Polaris-Select__Icon">
                                                                                         <span class="Polaris-Icon">
                                                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                               <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                                            </svg>
                                                                                         </span>
                                                                                      </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="price-total-class-main">
                                                                        <h5 class="price-total-class"> {{ lineitem.currency_symbol }}{{ lineitem.final_amount }}</h5>
                                                                    </div>
                                                                    <button v-if="contract.lineItems.length > 1" type="button" class="delete-icon-class btn" @click="deleteLineitem(lindex)">
                                                                        <i class="far fa-trash-alt"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div v-if="contract.discount.title != ''" class="product_discount_code text-right">
                                                    <div class="product_discount_code_inner p-4 mt-3 d-inline-block">
                                                        <span>
                                                            <img src="/images/static/discount_icon.svg" alt="discount-icon">
                                                        </span>
                                                        <span>
                                                            <strong>DISCOUNT CODE:</strong>
                                                        </span>
                                                        <span class="mx-4">
                                                            {{ contract.discount.title }}
                                                        </span>
                                                        <span class="mx-4">
                                                            ({{ contract.discount.amount }})
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="product-btn-main">
                                                    <div class="product-btn-main-inner">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="product-btn-common-class Cancel-btn">
                                                                    <button v-if="contract.status == 'cancelled'" type="button"
                                                                            class="Polaris-Button Polaris-Button--primary"
                                                                            @click="reactiveM('reactive')"
                                                                    >
                                                                         <span class="Polaris-Button__Content">
                                                                         <span class="Polaris-Button__Text">Reactivate Subscription</span>
                                                                         </span>
                                                                    </button>
                                                                    <button v-else type="button"
                                                                            class="Polaris-Button Polaris-Button--primary"
                                                                            @click="confirm( 'cancelled')"
                                                                    >
                                                                         <span class="Polaris-Button__Content">
                                                                         <span class="Polaris-Button__Text">Cancel Subscription</span>
                                                                         </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="product-btn-common-class pause-btn" :class="{ 'disable-btn': contract.status == 'cancelled' }">
                                                                    <button type="button"
                                                                            class="Polaris-Button Polaris-Button--primary"
                                                                            v-if="contract.status == 'active'"
                                                                            :disabled="contract.status == 'cancelled'"
                                                                            @click="saveChanges('paused')"
                                                                    >
                                                                         <span class="Polaris-Button__Content">
                                                                         <span class="Polaris-Button__Text">Pause Subscription</span>
                                                                         </span>
                                                                    </button>
                                                                    <button
                                                                        type="button"
                                                                        class="Polaris-Button Polaris-Button--primary"
                                                                        v-if="contract.status == 'paused'"
                                                                        :disabled="contract.status == 'cancelled'"
                                                                        @click="saveChanges('resumed')"
                                                                    >
                                                                         <span class="Polaris-Button__Content">
                                                                         <span class="Polaris-Button__Text">Resume Subscription</span>
                                                                         </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="product-btn-common-class add-product-btn">
                                                                    <button type="button" class="Polaris-Button Polaris-Button--primary" :class="{ 'Polaris-Button--disabled': contract.status == 'cancelled' }" @click="openPicker()">
                    				                                    <span class="Polaris-Button__Content">
                    				                                    	<span class="Polaris-Button__Text">Add Product</span>
                    				                                    </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div v-if="contract.is_prepaid" class="left-side-info mb-5">
                                        <div class="subscriptions-main-info-start">
                                            <div class="prepaid-order-main-inner">
                                                <div class="prepaid-order-top mb-20">
                                                    <h4>PREPAID ORDER FULFILLMENTS</h4>
                                                    <div class="renew-checkbox">
                                                        <label class="Polaris-Choice" for="renew_prepaid">
	                                       <span class="Polaris-Choice__Control">
	                                          <span class="Polaris-Checkbox">
	                                             <input id="renew_prepaid" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" v-model="contract.prepaid_renew"><span class="Polaris-Checkbox__Backdrop"></span>
                                                             <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                   <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                      <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                                   </svg>
                                                                </span>
                                                             </span>
                                                          </span>
                                                       </span>
                                                            <span class="Polaris-Choice__Label">Renew prepaid subscription</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="prepaid-order-bottom">
                                                    <div class="Polaris-DataTable">
                                                        <div class="Polaris-DataTable__ScrollContainer">
                                                            <table class="Polaris-DataTable__Table">
                                                                <thead>
                                                                <tr>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col">Prepaid Order</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Fulfillment Order</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Status</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Fulfillment Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr class="Polaris-DataTable__TableRow" v-for="(fulfillment, findex) in contract.fulfillmentOrders">
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn" scope="row"><a :href="`https://`+shop.domain+`/admin/orders/`+fulfillment.order.legacyResourceId" target="_blank">{{fulfillment.order.name}}</a></td>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">{{fulfillment.id.replace('gid://shopify/FulfillmentOrder/' , '')}}</td>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                                                                        <h6 class="active-label label-common-class text-lowercase">{{fulfillment.status}}</h6>
                                                                    </td>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">{{fulfillment.fulfillAt }}</td>
                                                                </tr>
                                                                <tr v-if="contract.fulfillmentOrders.length == 0" class="Polaris-DataTable__TableRow" >
                                                                    <td colspan="4">
                                                                        <div class="no-subscriber-inner">
                                                                            <img src="/images/static/view-more.png" alt="view-more">
                                                                            <h5>No fulfillments found</h5>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="left-side-info">
                                        <div class="subscriptions-main-info-start">
                                            <div class="prepaid-order-main-inner">
                                                <div class="prepaid-order-top mb-20">
                                                    <h4>ORDERS AND BILLING ATTEMPTS</h4>
                                                    <div class="renew-checkbox">
                                                        <label class="Polaris-Choice">
                                                            <span class="Polaris-Choice__Label">Next billing attempt: {{contract.next_processing_date}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="prepaid-order-bottom">
                                                    <div class="Polaris-DataTable">
                                                        <div class="Polaris-DataTable__ScrollContainer">
                                                            <table class="Polaris-DataTable__Table">
                                                                <thead>
                                                                <tr>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col">Attempted on</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Order Created</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Status</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Create Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr class="Polaris-DataTable__TableRow" v-for="(billintAttempt, bindex) in contract.billingAttempt.data">
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">{{billintAttempt.attempted_on}} </td>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn" scope="row"><a target="_blank" :href="`https://`+shop.domain+`/admin/orders/`+billintAttempt.shopify_order_id" v-if="billintAttempt.status != 'failed'">{{billintAttempt.shopify_order_name}}</a></td>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                                                                        <h6 :class="statusClasses[billintAttempt.status]" class=" label-common-class">{{billintAttempt.status}}</h6>
                                                                    </td>
                                                                    <td v-if="billintAttempt.status != 'failed'" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">{{billintAttempt.created_at}}</td>
                                                                    <td v-else class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric"><button class="Polaris-Link"  :tooltip="billintAttempt.errorMessage" v-tooltip.top-center="billintAttempt.errorMessage">error message</button></td>
                                                                </tr>
                                                                <tr v-if="contract.billingAttempt.total == 0" class="Polaris-DataTable__TableRow" >
                                                                    <td colspan="4">

                                                                        <div class="no-subscriber-inner">
                                                                            <img src="/images/static/view-more.png" alt="view-more">
                                                                            <h5>No billing attempt found</h5>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div v-if="contract.billingAttempt.total > 5" class="pagination-main">

                                                        <nav class="Polaris-Pagination" aria-label="Pagination">
                                                            <button type="button" class="Polaris-Pagination__Button simplee-Pagination__Button Polaris-Pagination__PreviousButton" :disabled="!contract.billingAttempt.prev_page_url" :class="{ 'Polaris-Button--disabled': !contract.billingAttempt.prev_page_url }" aria-label="Previous" @click="getData(contract.billingAttempt.prev_page_url)">
                                                                 <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                       <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2" fill-rule="evenodd"></path>
                                                                    </svg>
                                                                 </span>
                                                            </button>
                                                            <button type="button" class="Polaris-Pagination__Button simplee-Pagination__Button Polaris-Pagination__NextButton" aria-label="Next" :disabled="!contract.billingAttempt.next_page_url" :class="{ 'Polaris-Button--disabled': !contract.billingAttempt.next_page_url }" @click="getData(contract.billingAttempt.next_page_url)">
                                                                 <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                       <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                                                                    </svg>
                                                                 </span>
                                                            </button>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="activity-log-main inr-section">
                                    <div class="activity-log-main-inner">
                                        <div class="activity-log-main-title">
                                            <h4>Activity Log</h4>
                                        </div>
                                        <div class="comment-form-main">
                                            <div class="comment-form-main-inner">
                                                <div class="post-comment">
                                                    <div class="comment-icon">
                                                        <img src="/images/static/comment-icon.png">
                                                    </div>
                                                    <div class="comment-input">
                                                        <form>
                                                            <div class="form-group">
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="activity-comment" class="Polaris-TextField__Input" placeholder="Leave a comment..." v-model="commentMsg" aria-labelledby="PolarisTextField2Label" aria-invalid="false">
                                                                          <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                      </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary" style="display: none;">
                                                                        <div class="Polaris-TextField">
                                                                            <input id="activity-comment-test" placeholder="Leave a comment..." class="Polaris-TextField__Input" v-model="commentMsg" aria-labelledby="activityCommentLabel" aria-invalid="false" aria-multiline="false">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-notice-class d-flex justify-content-between">
                                                                    <span>
                                                                    <error-msg v-if="errors['data.msg']"
                                                                               :msg="errors['data.msg'][0]"></error-msg>
                                                                    </span>
                                                                    <h5 class="activity-h5">Only you and other staff can see comments</h5>
                                                                </div>
                                                            </div>
                                                            <div class="comment-form-btn">
                                                                <button type="button" id="save_comment" class="btn" @click="saveComment()">Post</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                                <div v-if="typeof contract.activityLog != undefined && contract.activityLog.length > 0" class="comment-timing" v-for="(activity , cmtindex) in contract.activityLog">

                                                    <h6 class="text-uppercase">{{activity.create}}</h6>
                                                    <div class="comment-and-time" :class="{'active-comment' : ( cmtindex == 0 )}">

                                                        <h5 :class="{'comment-read' : ( activity.user_type == 'user' )}">{{ (activity.user_type == 'user' ) ? '(' + activity.user_name +  '): ' : ''}}{{activity.message}}</h5>
                                                        <h5 class="comment-time-class">{{activity.time}}</h5>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="right-side-info mb-5">
                                        <div class="d-flex align-items-center justify-content-between mb-20">
                                            <h6 class="">RECURRENCE</h6>
                                            <a href="#" v-if="contract.is_prepaid">Edit</a>
                                            <a href="#" v-else @click="editData=contract;editType='rules';showEditDetailsModel = true;">Edit</a>
                                        </div>
                                        <div class="subscriptions-status">
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Billing date</h6>
                                                <h6 class="Subscriptions-right-status">{{ contract.next_order_date }}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Bill every</h6>
                                                <h6 class="Subscriptions-right-status text-lowercase">{{contract.billing_interval_count}} {{contract.billing_interval, contract.billing_interval_count | pluralize}}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Deliver every</h6>
                                                <h6 class="Subscriptions-right-status text-lowercase">{{contract.delivery_interval_count}} {{contract.delivery_interval, contract.delivery_interval_count | pluralize}}</h6>
                                            </div>
                                            <div class="flex-main-class" v-if="contract.billing_min_cycles">
                                                <h6 class="Subscriptions-left-status">Minimum orders</h6>
                                                <h6 class="Subscriptions-right-status">{{contract.billing_min_cycles}}</h6>
                                            </div>
                                            <div class="flex-main-class" v-if="contract.billing_max_cycles">
                                                <h6 class="Subscriptions-left-status">Maximum orders</h6>
                                                <h6 class="Subscriptions-right-status">{{contract.billing_max_cycles}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-side-info mb-5">
                                        <div class="d-flex align-items-center justify-content-between mb-20">
                                            <h6>SHIPPING ADDRESS</h6>
                                            <a href="#" @click="editData=contract;editType='address';showEditDetailsModel = true;">Edit</a>
                                        </div>
                                        <div class="subscriptions-status">
                                            <div class="flex-main-class mb-4">
                                                <h6 class="Subscriptions-left-status shipping-address" v-if="contract.ship_name && (contract.ship_address1 || contract.ship_address2)">
                                                    <span>{{ contract.ship_name }}</span>
                                                    <span>{{ contract.ship_address1 }}</span>
                                                    <span>{{ contract.ship_address2 }}</span>
                                                    <span>{{ contract.ship_city }} {{ contract.ship_province }} {{ contract.ship_zip }}</span>
                                                    <span>{{ contract.ship_country }}</span>
                                                    <span>{{ contract.ship_phone }}</span>
                                                </h6>
                                                <h6 class="Subscriptions-left-status shipping-address" v-else>
                                                    <span>No shipping address</span>
                                                </h6>
                                            </div>
                                            <h6 class="mb-20" v-if="contract.ship_name && (contract.ship_address1 || contract.ship_address2)">DELIVER USING</h6>
                                            <div class="flex-main-class" v-if="contract.ship_name && (contract.ship_address1 || contract.ship_address2)">
                                                <h6 class="Subscriptions-left-status">{{contract.shipping_presentmentTitle}} <span v-if="contract.delivery_price">( {{contract.delivery_price_currency_symbol}}{{contract.delivery_price}} ) </span></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-side-info mb-5">
                                        <h6 class="mb-20">BILLING INFORMATION</h6>
                                        <div class="subscriptions-status billing-info" v-if="contract.payment_method == 'credit_card'">
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">{{contract.cc_name}}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Card type: {{contract.cc_brand}}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">{{contract.cc_maskedNumber}}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Exp: {{contract.cc_expiryMonth | lastwo}}/{{contract.cc_expiryYear | lastwo}}</h6>
                                            </div>
                                        </div>
                                        <div class="subscriptions-status billing-info" v-if="contract.payment_method == 'paypal'">
                                            <div class="flex-main-class">
                                                <img src="/images/static/paypal.png" class="me-1 img-paypal">
                                            </div>
                                            <div class="flex-main-class paypal-info">
                                                <h6 class="Subscriptions-left-status">Paypal Account: {{contract.paypal_account}}</h6>
                                            </div>
                                        </div>
                                        <div class="billing-bottom">
                                            <h6 class="my-3" v-if="contract.cc_expires_soon">EXPIRES SOON!</h6>
                                            <button type="button" class="Polaris-Button Polaris-Button--primary" @click="saveChanges('updatePaymentDetailEmail')">
                                                <span class="Polaris-Button__Content">
                                                    <span class="Polaris-Button__Text">Send Email to Update</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-side-info mb-5">
                                        <h6 class="mb-20">CUSTOMER NOTES</h6>

                                        <div class="form-group">

                                             <textarea class="form-control" rows="7" placeholder="Add a note"
                                                       v-model="contract.customer.notes">{{ contract.customer.notes }}</textarea>

                                        </div>
                                    </div>
                                    <div class="right-side-info">
                                        <h6 class="mb-20">ADDITIONAL INFORMATION</h6>
                                        <div class="subscriptions-status">
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Customer</h6>
                                                <h6 class="Subscriptions-right-status"> <a :href="'https://' + `${shop.domain}` + '/admin/customers/' + `${contract.shopify_customer_id}`"target="_blank">{{contract.customer.first_name}} {{contract.customer.last_name}}</a></h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">First order</h6>
                                                <h6 class="Subscriptions-right-status">{{contract.customer.date_first_order}}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Order count</h6>
                                                <h6 class="Subscriptions-right-status">{{contract.order_count}}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Lifetime orders</h6>
                                                <h6 class="Subscriptions-right-status">{{contract.customer.total_orders}}</h6>
                                            </div>
                                            <div class="flex-main-class">
                                                <h6 class="Subscriptions-left-status">Lifetime spend</h6>
                                                <h6 class="Subscriptions-right-status">{{contract.customer.currency_symbol}}{{contract.customer.total_spend}}</h6>
                                            </div>
                                        </div>
                                        <div class="border-divider" v-if="otherContracts.length > 0"></div>
                                        <h6 class="mb-20" v-if="otherContracts.length > 0">OTHER CONTRACTS</h6>
                                        <div class="subscriptions-status" v-if="otherContracts.length > 0">
                                            <div class="flex-main-class" v-for="(ocontract, oindex) in otherContracts">
                                                <h6 class="Subscriptions-left-status">
                                                    <router-link @click.native="watch=false,contract=[],getData('/subscriber/' + ocontract.id + '/edit?page=1')" :to="{name :'subscriber-details', params: { id: ocontract.id  }}" tag="div" class="subscribers-name">
                                                        <span v-if="ocontract.status == 'active'">
                                                            <span class="text-capitalize">{{ocontract.status}}</span> - {{ocontract.created_at | date}}
                                                        </span>
                                                        <span v-else>
                                                            <span class="text-capitalize">{{ocontract.status}}</span> on {{ocontract.updated_at | date}}
                                                        </span>
                                                    </router-link>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="contract.length == 0 && !loading" class="subscriptions-info-start">
                           <div class="no-subscriber-inner">
                                <img src="/images/static/view-more.png" alt="view-more">
                                <h5>No subscriber found</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        START:: reactive model-->
        <div v-if="showReactiveModel" >
            <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true">
                <div>
                    <div role="dialog" aria-labelledby="Polarismodal-header16" tabindex="-1" class="Polaris-Modal-Dialog">
                        <div class="Polaris-Modal-Dialog__Modal">
                            <div class="Polaris-Modal-Header">
                                <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                                    <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Reactivate Subscription</h2>
                                </div><button class="Polaris-Modal-CloseButton" aria-label="Close" @click="showReactiveModel = false"><span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
                </svg></span></button>
                            </div>
                            <div class="Polaris-Modal__BodyWrapper">
                                <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                                    <section class="Polaris-Modal-Section">
                                        <div class="Polaris-Stack Polaris-Stack--vertical">
                                            <div class="Polaris-Stack__Item">
                                                <div class="Polaris-TextContainer">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                                <div class="">
                                                    <div class="Polaris-Labelled__LabelWrapper">
                                                        <div class="Polaris-Label"><label id="PolarisTextField2Label" class="Polaris-Label__Text">Choose this subscriptions's next order date:</label></div>
                                                    </div>
                                                    <div class="Polaris-Connected">
                                                        <datepicker v-model="reactive.reactive_date" :disabledDates="reactive.disabledDates" :format=formatDate
                                                        ></datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="Polaris-Modal-Footer">
                                <div class="Polaris-Modal-Footer__FooterContent">
                                    <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                        <div class="Polaris-Stack__Item">
                                            <div class="Polaris-ButtonGroup">
                                                <div class="Polaris-ButtonGroup__Item"><button type="button" @click="showReactiveModel = false" class="Polaris-Button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span></button></div>
                                                <div class="Polaris-ButtonGroup__Item"><button type="button" :class="{'Polaris-Button--disabled' : ( reactive.is_disable )}" class="Polaris-Button Polaris-Button--primary" @click="showReactiveModel = false;saveChanges('reactive')"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Reactivate</span></span></button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        END:: reactive model-->
        <!-- START:: Edit Details Modal -->
        <edit-details 
          :show-edit-details-model.sync="showEditDetailsModel" 
          :editData=editData 
          :editType="editType" 
          :available-dates="availableDates"
          :next-delivery-date="contract.next_order_date" 
          @update="closeModel"
        ></edit-details>
        <!-- END:: Edit Details Modal -->
    </div>
</template>

<script>
import helper from "../../../helper";
import ErrorMsg from "../../shopify/ErrorMsg";
import {Button, ContextualSaveBar, Modal, ResourcePicker} from "@shopify/app-bridge/actions";
import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import EditDetails from "./models/EditDetails";
import instance from "../../../axios";

export default {
    components: {
        EditDetails,
        ErrorMsg,Datepicker
    },
    data() {
        return {
            availableDates: [],
            loading: true,
            editType: '',
            errors: [],
            id: '',
            contract: [],
            otherContracts: [],
            shop: [],
            deleted: [],
            showReactiveModel: false,
            reactive: {},
            commentMsg: '',
            is_note: true,
            showEditDetailsModel: false,
            editData: [],
            statusClasses: {
                active: 'active-label',
                paused: 'paused-label',
                cancelled: 'cancelled-label',
                expired: 'expired-label',
                failed: 'failed-label',
                successful: 'active-label'
            },
            lineItems_dp:{},
            temp_prisine: '',
            watch: false,
            url: '',
        }
    },
    methods: {
        closeModel(action){
            this.showEditDetailsModel = false;
            (action == 'refresh') ? this.getData(this.url) : '';
        },
        formatDate(date) {
            return moment(date).format('DD-MM-YYYY');
        },
        deleteLineitem(lindex) {
            let lid = this.contract.lineItems[lindex].id;
            this.deleted.push(lid);
            this.contract.lineItems.splice(lindex, 1);
        },
        updatePrice(lindex) {
            let lineitem = this.contract.lineItems[lindex];
            let qty = lineitem.quantity;
            let price = lineitem.price;
            let dis_amt = lineitem.discount_amount;
            let dis_type = lineitem.discount_type;

            let cal_price = (price * qty);
            let amt = '';

            if (dis_type == '%') {
                amt = (cal_price - ((cal_price * dis_amt) / 100)).toFixed(2);
            } else if (dis_type == this.shop.currency) {
                amt = (cal_price - dis_amt).toFixed(2);
            }
            amt = (qty == 0) ? '00.00' : amt;
            this.contract.lineItems[lindex].final_amount = amt;
        },
        async getData(url) {
            helper.startLoading();
            let base = this;
            base.loading = true;
            await instance.get(url)
                .then(res => {
                    base.availableDates = res.data.data.availableDates || []; 
                    base.contract = res.data.data.contract;
                    base.temp_prisine = JSON.stringify(base.contract);
                    base.otherContracts = res.data.data.otherContracts;
                    base.watch = true;
                    base.shop = res.data.data.shop;

                    base.contract.lineItems.forEach(function(element, index) {
                      base.lineItems_dp[element['id']] = false;
                    });
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                    base.loading = false;
                });
        },
        createContextualSaveBar() {
            let base = this;
            let options = {
                saveAction: {
                    disabled: false,
                    loading: false,
                },
                discardAction: {
                    disabled: false,
                    loading: false,
                    discardConfirmationModal: true,
                },
            };
            var contextualSaveBar = helper.contextualSaveBar(options);

            contextualSaveBar.dispatch(ContextualSaveBar.Action.SHOW);

            contextualSaveBar.subscribe(ContextualSaveBar.Action.DISCARD, function () {
                base.getData(base.url);
                contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
            });
            contextualSaveBar.subscribe(ContextualSaveBar.Action.SAVE, function () {
                contextualSaveBar.set({saveAction: {loading: true}, discardAction: {disabled: true}});
                base.saveChanges('all');
            });
        },
        hideContextualSaveBar(){
            let contextualSaveBar = helper.contextualSaveBar();
            contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
        },
        async saveComment() {
            let base = this;
            let data = {
                id: this.id,
                customer_id: this.contract.ss_customer_id,
                msg: this.commentMsg,
            }
            await instance.post('/save-comment', {data: data})
                .then(res => {
                    base.errors = [];
                    helper.successToast(res.data.data);
                    base.commentMsg = '';
                    base.getData(this.url);
                })
                .catch(err => {
                    base.errors = err.response.data;
                })
                .finally(res => {
                });
        },
        async saveChanges(type) {
            let base = this;
            let lineitem = this.contract.lineItems;
            let contract_id = this.contract.id;
            let data = {
                reactiveDate: this.reactive.reactive_date,
                contract_id: contract_id,
                customer_id: this.contract.customer.id,
                type: type,
                deleted: (type == 'all') ? this.deleted : [],
                line_items: (type == 'all') ? lineitem : [],
                note: (type == 'all') ? this.contract.customer.notes : '',
                prepaid_renew: this.contract.prepaid_renew
            }
            let url = '/subscriber/' + this.id;
            await instance.patch(url, {data: data})
                .then(res => {
                    base.errors = [];
                    base.hideContextualSaveBar();
                    base.getData(base.url);

                    ( res.data.isSuccess ) ? helper.successToast(res.data.data) : helper.errorToast(res.data.data);
                    base.init();
                })
                .catch(err => {
                    base.errors = err.response.data;
                    console.log(base.errors);
                })
                .finally(res => {
                });
        },
        init(){
            this.reactive = {
                reactive_date : '',
                disabledDates: {
                    to: new Date(),
                },
                is_disable: true,
            }
        },
        initEnterEvent(){
            let base = this;
           // Get the input field
            var activityInput = document.getElementById("activity-comment");
            // Execute a function when the user releases a key on the keyboard

            if( activityInput ){
                 activityInput.addEventListener("keyup", function(event) {
                // Number 13 is the "Enter" key on the keyboard
                  if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                   document.getElementById("save_comment").click();
                  }
                });
            }

        },
        confirm(type) {
            let base = this;
            let status = this.contract.status;
            if( status == 'cancelled' ){
                helper.errorToast('Subscription already cancelled');
            }else{
                const okButton = Button.create(shopify_app_bridge, {label: 'Yes', style: Button.Style.Danger});
                const cancelButton = Button.create(shopify_app_bridge, {label: 'No'});
                const modalOptions = {
                    title: 'Cancel subscription!',
                    message: 'Are you sure you want to cancel this subscription?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);
                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                okButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                    base.saveChanges(type);
                });
            }

        },
        reactiveM(type){
            this.showReactiveModel = true;
        },
        openPicker() {
            let id = this.contract.id;
            let base = this;
            const productPicker = ResourcePicker.create(shopify_app_bridge, {
                resourceType: ResourcePicker.ResourceType.Product,
                showVariants: true
            });

            productPicker.dispatch(ResourcePicker.Action.OPEN);
            productPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                let data = {
                    'contract_id': id,
                    'resource': [],
                }
                selection.forEach(function (product, pindex) {
                    let product_id = (product.id) ? product.id.replace("gid://shopify/Product/", "") : '';
                    let variants = product.variants;
                    let product_image = ( typeof product.images != "undefined" ) ? product.images[0].originalSrc : '';
                    variants.forEach(function (variant, vindex) {
                        let variant_id = (variant.id) ? variant.id.replace("gid://shopify/ProductVariant/", "") : '';
                        let r = {
                            product_id: product_id,
                            variant_id: variant_id,
                            product_title: product.title,
                            shopify_variant_title: variant.title,
                            sku: variant.sku,
                            shopify_variant_image: ( typeof variant.image != "undefined" ) ? variant.image.originalSrc : product_image,
                            price: variant.price,
                            final_amount: variant.price,
                        }


                        data.resource.push(r);
                    });
                });
                base.sendLineItemsForm(data);
            });
        },
        async sendLineItemsForm(data) {
            let base = this;
            helper.startLoading(); instance.post('/save-lineitems', {data: data})
                .then(res => {
                    base.getData(this.url);
                    helper.successToast(res.data.data);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        lineItemDpChanges(lindex){
            let currLineItem = this.contract.lineItems[lindex];
            this.lineItems_dp[`${currLineItem.id}`] = true;

            let newVariant =
                _.find(currLineItem.sh_variants, function (o) {
                    return o.id == currLineItem.selected_variant;
                });


            this.contract.lineItems[lindex].price = newVariant.price;

            this.updatePrice(lindex);
            this.$forceUpdate();
        },
    },
    async mounted() {
        this.id = this.$route.params.id;
        this.url = '/subscriber/' + this.id + '/edit?page=1';
        await this.getData(this.url);
        this.init();
        let base = this;
        setTimeout(function(){ base.initEnterEvent(); }, 2000);
    },
    watch: {
        contract: {
            immediate: true,
            deep: true,
            handler: function () {
                if (this.watch) {
                    (_.isEqual(this.temp_prisine, JSON.stringify(this.contract))) ? this.hideContextualSaveBar() : this.createContextualSaveBar();
                }
            }
        },
        reactive: {
            immediate: true,
            deep: true,
            handler: function () {
                this.reactive.is_disable = this.reactive.reactive_date == '';
            }
        },
    },
    filters:{
        date(d){
            return helper.date(d);
        },
        time(d){
            return helper.time(d);
        },
        lastwo(str){
            return helper.lastwo(str);
        },
        pluralize(str, count){
            return ( count > 1 || count == 0 ) ? str + 's' : str;
        }
    }
}
</script>

<style lang="scss">
.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }
    .tooltip-inner{
        font-size: 12px;
    }
    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}
</style>
