<template>
    <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" id="editDetails" style="display: none;">
        <div>
            <div role="dialog" aria-labelledby="Polarismodal-header3" tabindex="-1" class="Polaris-Modal-Dialog">
                <div class="Polaris-Modal-Dialog__Modal">
                    <div class="Polaris-Modal-Header">
                        <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                             <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Edit - contract #{{form.shopify_contract_id}}</h2>
                        </div>
                        <button class="Polaris-Modal-CloseButton" aria-label="Close" data-dismiss="modal" @click="closeModel('')">
	                     <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
	                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
	                           <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
	                        </svg>
	                     </span>
                        </button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                            <section class="Polaris-Modal-Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList3" aria-invalid="false">
                                            <div class="edit-details-modal">
                                                <form>
                                                    <div v-if="editType == 'rules'" class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <label class="label-main-class">Next billing date:<i class="far fa-question-circle" :tooltip="next_billing_help_text" v-tooltip.top-center="next_billing_help_text"></i></label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="modal-input-main">
                                                                <datepicker
                                                                  v-if="! availableDates.length" 
                                                                  :value="contract.next_order_date" 
                                                                  :format=formatDate
                                                                  @input="updateValue($event)"
                                                                  :disabledDates="disabledDates">
                                                                </datepicker>
                                                                 <div v-else class="polaris-select w-100">
                                                                  <div class="w-100">
                                                                    <div class="Polaris-Select w-100">
                                                                        <select 
                                                                          id="PolarisSelect8" 
                                                                          class="Polaris-Select__Input" 
                                                                          aria-invalid="false"
                                                                          @change="updateNextAnchorDayOrderDate"
                                                                          :value="next_delivery_date"
                                                                        >
                                                                          <option value="0">Select a Date</option>
                                                                          <option
                                                                            :value="date" 
                                                                            v-for="(date, index) in availableDates" 
                                                                            :key="index">
                                                                            {{ date }}
                                                                          </option>
                                                                        </select>
                                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                                          <span class="Polaris-Select__SelectedOption">{{ next_delivery_date }}</span>
                                                                          <span class="Polaris-Select__Icon">
                                                                              <span class="Polaris-Icon">
                                                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                    <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                                                                                </svg>
                                                                              </span>
                                                                          </span>
                                                                        </div>
                                                                        <div class="Polaris-Select__Backdrop"></div>
                                                                    </div>
                                                                  </div>
                                                                  <div id="PolarisPortalsContainer"></div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-lg-6 col-md-6">

                                                            <label class="label-main-class">Deliver every:<i class="far fa-question-circle"></i></label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" v-model="form.delivery_interval_count" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                                <select id="delivery-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_interval" @change="deliveryAnchorsOpt()">
                                                                                    <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                                </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption">{{form.delivery_interval}}</span>
                                                                                    <span class="Polaris-Select__Icon">
													                        <span class="Polaris-Icon">
													                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
															                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
																                </svg>
																            </span>
													                     </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <label class="label-main-class">Bill every:</label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" v-model="form.billing_interval_count" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" value="1">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                                <select id="billing-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.billing_interval">
                                                                                    <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                                </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption">{{form.billing_interval}}</span>
                                                                                    <span class="Polaris-Select__Icon">
													                        <span class="Polaris-Icon">
													                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
															                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
																                </svg>
																            </span>
													                     </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <label class="label-main-class">Recur on:</label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_intent">
                                                                        <option value="The initial day of purchase">The initial day of purchase</option>
                                                                        <option value="A fixed day each delivery cycle">A fixed day each delivery cycle</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{form.delivery_intent}}</span>
                                                                        <span class="Polaris-Select__Icon">
														         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
																	</svg>
														      </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6" v-if="form.delivery_intent == 'A fixed day each delivery cycle' && form.delivery_interval != 'day'">

                                                            <label class="label-main-class">Fixed day</label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6" v-if="form.delivery_intent == 'A fixed day each delivery cycle' && form.delivery_interval != 'day'">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Select">
                                                                        <select id="delivery_anchors" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_anchor_day">
                                                                            <option v-for="(item, index) in delivery_anchors_opt" :value="index" v-if="item != 0 || item != ''">{{item}}</option>
                                                                        </select>
                                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                                            <span class="Polaris-Select__SelectedOption">{{delivery_anchors_opt[form.delivery_anchor_day]}}</span>
                                                                            <span class="Polaris-Select__Icon">
                                                                 <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                                    </svg>
                                                              </span>
                                                                        </div>
                                                                        <div class="Polaris-Select__Backdrop"></div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div> -->
                                                    </div>
                                                    <div v-if="editType == 'address'" class="row modal-bottom-field-main">
                                                        <!--                                                        ship firstName-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">First name</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="first_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="contract.ship_firstName">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                        ship lastName-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">Last name</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="last_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false"  v-model="contract.ship_lastName">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                        ship company-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Company</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_company" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="contract.ship_company">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--Address1-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Address1</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_address1" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="contract.ship_address1">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                        Address2-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Address2</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_address2" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="contract.ship_address2">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--                                                        ship city-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">City</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_city" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="contract.ship_city">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--ship zipcode-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">ZIP code</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input type="number" id="ship_zipcode" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="contract.ship_zip">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--                                                         ship country-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">Country/Region</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Select">

                                                                    <select id="countries" class="Polaris-Select__Input" aria-invalid="false" v-model="contract.ship_country" @change="getData();ship_province='';">
                                                                        <option v-for="(country, cindex) in countries" :value="countries[cindex]">{{countries[cindex]}}</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{contract.ship_country}}</span>
                                                                        <span class="Polaris-Select__Icon">
        				                                                   <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        				                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
        				                                                   </svg>
        				                                                </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                         ship state-->
                                                        <div class="col-lg-6">
                                                            <label class="label-main-class">State</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Select">

                                                                    <select id="states" class="Polaris-Select__Input" aria-invalid="false" v-model="ship_province" @change="province($event)">
                                                                        <option v-for="(state, sindex) in states" :value="states[sindex]">{{states[sindex]}}</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{ship_province}}</span>
                                                                        <span class="Polaris-Select__Icon">
        				                                                   <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        				                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
        				                                                   </svg>
        				                                                </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button" data-dismiss="modal" @click="closeModel('')"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span></button></div>
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button Polaris-Button--primary" @click="sendForm()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../../helper";
import ErrorMsg from "../../../shopify/ErrorMsg";
import Datepicker from 'vuejs-datepicker';
import moment from 'moment-timezone';
import instance from "../../../../axios";

var editDetails = "";
export default {
    components:{
        ErrorMsg, Datepicker
    },
    name: 'EditDetails',
    props: ['showEditDetailsModel', 'editData', 'editType', 'availableDates', 'nextDeliveryDate'],
    data(){
        return{
            ship_province: '',
            interval: [
                {label: 'Day(s)', value: 'day'},
                {label: 'Week(s)', value: 'week'},
                {label: 'Month(s)', value: 'month'},
                {label: 'Year(s)', value: 'year'},
            ],
            next_delivery_date: null,
            contract: {},
            is_disable: false,
            errors: [],
            btnTxt: 'Add',
            delivery_anchors_opt: [],
            countries: [],
            states: [],
            form: {},
            disabledDates: {
                to: new Date(Date.now() - (8640000 + 8640000))
            },
            next_billing_help_text: 'This will change the subscription’s billing date'
        }
    },
    methods:{
        formatDate(date) {
            return moment(date).format('DD-MM-YYYY');
        },
        updateValue(e) {
            this.contract.next_order_date = moment(e).format('DD-MM-YYYY');
        },
        closeModel(action) {
            this.$emit('update', action);
        },
        province(e){
            let base = this;
            _.find(this.states, function (o, i) {
                if( o == base.ship_province ){
                    base.contract.ship_provinceCode = i;
                    return;
                }
            });
        },
        async sendForm(){
            let base = this;
            this.contract.ship_province = this.ship_province;

            let data = {
                reactiveDate: '',
                contract_id: this.form.id,
                customer_id: this.form.customer.id,
                type: (this.editType == 'address') ? 'edit_shipping_address' : 'next_order_date',
                deleted: [],
                line_items: [],
                note: '',
                contract: this.contract,
                prepaid_renew: '',
            }
            let url = '/subscriber/' + this.form.id;

            await instance.patch(url, {data: data})
                .then(res => {
                    // base.errors = [];
                    // base.hideContextualSaveBar();
                    // base.getData(base.url);

                    if( res.data.isSuccess ){
                         helper.successToast(res.data.data);
                         base.closeModel('refresh');
                     }else{
                        helper.errorToast(res.data.data);
                    }
                })
                .catch(err => {
                    base.errors = err.response.data;
                    console.log(base.errors);
                })
                .finally(res => {
                });
        },
        deliveryAnchorsOpt(){
            this.delivery_anchors_opt = [];
            let deliveryI = this.form.delivery_interval;
            if( deliveryI == 'month' ){
                for( var i =0; i<=30; i++ ){
                    this.delivery_anchors_opt.push(i);
                }
            }else if( deliveryI == 'week' ){
                this.delivery_anchors_opt = ['','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
            }else if( deliveryI == 'year' ){
                this.delivery_anchors_opt = ['','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            }

            $("#billing-interval option[value*='day']").prop('disabled',false);
            $("#billing-interval option[value*='week']").prop('disabled',false);
            $("#billing-interval option[value*='month']").prop('disabled',false);
            if( deliveryI == 'week' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                this.form.billing_interval = 'week';
            }else if( deliveryI == 'month' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                $("#billing-interval option[value*='week']").prop('disabled',true);
                this.form.billing_interval = 'month';
            }else if( deliveryI == 'year' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                $("#billing-interval option[value*='week']").prop('disabled',true);
                $("#billing-interval option[value*='month']").prop('disabled',true);
                this.form.billing_interval = 'year';
            }
        },
        async getData(){
            let base = this;
            await instance.get('/country/' + base.contract.ship_country)
            .then(res => {
                base.countries = res.data.data.countries;
                base.states = res.data.data.states;
                // base.ship_province = '';
            })
            .catch(err => {
                console.log(err);
            })
            .finally(res => {
            });
        },
        updateNextAnchorDayOrderDate(e) {
          if(e.target.value != 0) {
            this.next_delivery_date = moment(e.target.value).format('MMM D, YYYY');
            this.contract.next_order_date = this.next_delivery_date;
          }
        }
    },
    watch: {
      nextDeliveryDate: {
        immediate: true,
        handler(newVal, _) {
          this.next_delivery_date = newVal;
        }
      },
      showEditDetailsModel(newVal, oldVal) {
          if (newVal === true) {
              this.form = this.editData;
              $(editDetails).slideDown();
              if( this.editType == 'address' ){
                  this.contract.ship_country = this.editData.ship_country;

                  this.getData();

                  this.contract.ship_firstName = this.editData.ship_firstName;
                  this.contract.ship_lastName = this.editData.ship_lastName;
                  this.contract.ship_company = this.editData.ship_company;
                  this.contract.ship_address1 = this.editData.ship_address1;
                  this.contract.ship_address2 = this.editData.ship_address2;
                  this.contract.ship_city = this.editData.ship_city;
                  this.ship_province = (this.editData.ship_province == '' ) ? this.states[0] : this.editData.ship_province;
                  this.contract.ship_zip = this.editData.ship_zip;
                  this.contract.ship_provinceCode = this.editData.ship_provinceCode;
              }else{
                  this.contract.next_order_date = this.editData.next_order_date;
              }
          } else {
              $(editDetails).slideUp();
          }
      },
    },
    mounted() {
        editDetails = document.getElementById("editDetails");
    },
}
</script>
655za
