<template>
    <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" id="editDetails" style="display: none;">
        <div>
            <div role="dialog" aria-labelledby="Polarismodal-header3" tabindex="-1" class="Polaris-Modal-Dialog">
                <div class="Polaris-Modal-Dialog__Modal">
                    <div class="Polaris-Modal-Header">
                        <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Edit - contract #{{form.shopify_contract_id}}</h2>
                        </div>
                        <button class="Polaris-Modal-CloseButton" aria-label="Close" data-dismiss="modal" @click="closeModel('')">
	                     <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
	                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
	                           <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
	                        </svg>
	                     </span>
                        </button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                            <section class="Polaris-Modal-Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList3" aria-invalid="false">
                                            <div class="edit-details-modal">

                                                <form>
                                                    <div class="row modal-bottom-field-main">
                                                        <!--                                                        ship firstName-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">First name</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="first_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_firstName">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                        ship lastName-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">Last name</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="last_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false"  v-model="form.ship_lastName">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                        ship company-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Company</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_company" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_company">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--Address1-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Address1</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_address1" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_address1">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                        Address2-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Address2</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_address2" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_address2">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--                                                        ship city-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">City</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_city" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_city">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--ship zipcode-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">ZIP code</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input type="number" id="ship_zipcode" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_zip">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--                                                         ship country-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">Country/Region</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Select">

                                                                    <select id="countries" class="Polaris-Select__Input" aria-invalid="false" v-model="form.ship_country" @change="getData()">
                                                                        <option v-for="(country, cindex) in countries" :value="countries[cindex]">{{countries[cindex]}}</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{form.ship_country}}</span>
                                                                        <span class="Polaris-Select__Icon">
				                                                   <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
				                                                   </svg>
				                                                </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--                                                         ship state-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">State</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Select">

                                                                    <select id="states" class="Polaris-Select__Input" aria-invalid="false" v-model="form.ship_province" @change="province($event)">
                                                                        <option v-for="(state, sindex) in states" :value="states[sindex]">{{states[sindex]}}</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{form.ship_province}}</span>
                                                                        <span class="Polaris-Select__Icon">
				                                                   <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
				                                                   </svg>
				                                                </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </form>

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button" data-dismiss="modal" @click="closeModel('')"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span></button></div>
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button Polaris-Button--primary" @click="sendForm()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../../helper";
import ErrorMsg from "../../../shopify/ErrorMsg";

var editDetails = "";
export default {
    components:{
        ErrorMsg
    },
    name: 'EditDetails',
    props: ['showEditDetailsModel', 'editData'],
    data(){
        return{
            host: '',
            apiEndPoint: '',
            form: '',
            is_disable: false,
            errors: [],
            btnTxt: 'Add',
            countries: [],
            states: [],
            address: {
                fname: '',
                lname: '',
                ship_add1: '',
                ship_add2: '',
                country: '',
                city: '',
                state: '',
                zipcode: '',
                company: '',
            }
        }
    },
    methods:{
        province(e){
            let base = this;
            _.find(this.states, function (o, i) {
                if( o == base.form.ship_province ){
                    base.form.ship_provinceCode = i;
                    return;
                }
            });        },
        closeModel(action) {
            this.form.ship_firstName = this.address.fname 
            this.form.ship_lastName = this.address.lname;
            this.form.ship_address1 = this.address.ship_add1;
            this.form.ship_address2 = this.address.ship_add2;
            this.form.ship_country = this.address.country;
            this.form.ship_city = this.address.city;
            this.form.ship_province = this.address.state;
            this.form.ship_zipcode = this.address.zipcode;
            this.form.ship_company = this.address.company;
            this.form.ship_provinceCode = this.address.ship_provinceCode;


            this.$emit('update', action);
        },
        async sendForm(){
            this.$parent.saveChanges('edit_shipping_address');
        },
        async getData(){
            let base = this;
            let url = base.apiEndPoint + '/get-country/' + this.form.ship_country;
            await axios.get(url)
                .then(res => {
                    base.countries = res.data.data.countries;
                    base.states = res.data.data.states;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                });
        },
        init(){
            this.address.fname = this.form.ship_firstName;
            this.address.lname = this.form.ship_lastName;
            this.address.ship_add1 = this.form.ship_address1;
            this.address.ship_add2 = this.form.ship_address2;
            this.address.country = this.form.ship_country;
            this.address.city = this.form.ship_city;
            this.address.state = this.form.ship_province;
            this.address.zipcode = this.form.ship_zip;
            this.address.company = this.form.ship_company;
            this.address.ship_provinceCode = this.form.ship_provinceCode;
        }
    },
    watch: {
        showEditDetailsModel(newVal, oldVal) {
            if (newVal === true) {
                this.form = this.editData;
                $(editDetails).slideDown();
                this.init();
                this.getData();
            } else {
                $(editDetails).slideUp();
            }
        },
    },
    mounted() {
        this.host = process.env.MIX_APP_URL;
        this.apiEndPoint = this.host + '/api';
        editDetails = document.getElementById("editDetails");
    },
}
</script>
655za
