<template>
    <apex-chart height="400" type="line" :options="chartOptions" :series="displayData"></apex-chart>
</template>

<script>
import ApexChart from 'vue-apexcharts';
import moment from 'moment';
export default {
    name: "OrderAmountChart",
    props: ['displayData'],
    components: {
        ApexChart,
    },
    data(){
        return{
            chartOptions: {
                chart: {
                    toolbar: {
                        show: false,
                    },
                },

                title: {
                    text: 'Orders and Amount Processed',
                    align: 'left'
                },
                grid: {
                    show: false,
                },
                dataLabels: {
                    enabled: false
                },
                xaxis: {
                    type: 'date',
                    categories: this.getLabel()
                },
                colors: ['#99C2A2', '#C5EDAC', '#66C7F4'],
                plotOptions: {
                    bar: {
                        columnWidth: "20%"
                    }
                },
            },
        }
    },
    methods: {
        getLabel(){
            let days = 30;
            let start = moment().subtract(days - 1, 'd').format('YYYY-MM-DD');

            var data = [];
            for (let i = 0; i < days; i++) {
                let d = moment(start).add(i, 'days').format("MM/DD");
                data.push(d);
            };
            return data;
        }
    }
}
</script>

<style scoped>

</style>
