<template>
    <apex-chart width="100%" height="400" type="area" :options="chartOptions" :series="displayData"></apex-chart>
</template>

<script>
import ApexChart from 'vue-apexcharts';
import moment from 'moment';

export default {
    name: "Subscription",
    props: ['displayData'],
    components: {
        ApexChart,
    },
    data(){
        return{
            chartOptions: {
                chart: {
                    toolbar: {
                        show: false,
                    },
                },
                stroke: {
                    curve: 'smooth'
                },
                title: {
                    text: 'Subscriptions',
                    align: 'left'
                },
                grid: {
                    show: false,
                },
                dataLabels: {
                    enabled: false
                },
                xaxis: {
                    type: 'date',
                    categories: this.getLabel()
                },
                colors: ['#00E396', '#CED4DC'],
            },
        }
    },
    methods: {
        getLabel(){
            let days = 30;
            let start = moment().subtract(days - 1, 'd').format('YYYY-MM-DD');

            var data = [];
            for (let i = 0; i < days; i++) {
                let d = moment(start).add(i, 'days').format("MM/DD");
                data.push(d);
            };
            return data;
        },
    }
}
</script>

<style scoped>

</style>
