<template>
    <main class="Polaris-Frame__Main" id="AppFrameMain" data-has-global-ribbon="false">
        <a id="AppFrameMainContent" tabindex="-1"></a>
    <div class="Polaris-Frame__Content">
        <div class="Polaris-Page">
            <div class="Polaris-Page__Content">
                <div class="Polaris-Layout">

                    <div class="plan-main-inner">

                        <div class="plan-top-header">

                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Choose the plan that’s right for you</h2>
                            <h6>30 DAY TRIAL ON ALL PLANS</h6>

                        </div>

                        <div class="plan-bottom-box">

                            <div class="row justify-content-center">

                                <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%">

                                    <div class="plan-box-main">

                                        <div class="plan-top-bar">

                                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Basic Plan</h2>

                                        </div>

                                        <div class="plan-bottom-part">

                                            <div class="plan-bottom-bar">

                                                <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">$10</h2>
                                                <h5>PER MONTH</h5>

                                            </div>

                                            <div class="plan-mid-bar">

                                                <h5>TRANSACTION FEE: 0.75%</h5>

                                            </div>

                                            <div class="plan-discription">

                                                <ul>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>GET SETUP IN 5 MINUTES OR LESS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>WORKS WITH SHOPIFY PAYMENTS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>SUBSCRIBE & SAVE DISCOUNTS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>PREPAID SUBSCRIPTIONS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>CUSTOMER PORTAL</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>ADVANCED FAILED PAYMENT RECOVERY</span>
                                                    </li>

                                                </ul>

                                            </div>

                                            <div class="plan-btn-main">

                                                <button type="button" class="Polaris-Button">
																			<span class="Polaris-Button__Content">
																				<span class="Polaris-Button__Text">Start Free Trial</span>
																			</span>
                                                </button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%">

                                    <div class="plan-box-main">

                                        <div class="plan-top-bar">

                                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Advanced Plan</h2>

                                        </div>

                                        <div class="plan-bottom-part">

                                            <div class="plan-bottom-bar">

                                                <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">$50</h2>
                                                <h5>PER MONTH</h5>

                                            </div>

                                            <div class="plan-mid-bar">

                                                <h5>TRANSACTION FEE: 0.25%</h5>

                                            </div>

                                            <div class="plan-discription">

                                                <ul>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>REDUCED TRANSACTION FEE</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>SEND EMAILS FROM CUSTOM DOMAIN</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>SMS SUBSCRIPTION MANAGEMENT(ADDITIONAL FEE)</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check"></i>
                                                        </div>
                                                        <span>SMS UPSELLS (ADDITIONAL FEE)</span>
                                                    </li>

                                                </ul>

                                            </div>

                                            <div class="plan-btn-main">

                                                <button type="button" class="Polaris-Button">
																			<span class="Polaris-Button__Content">
																				<span class="Polaris-Button__Text">Start Free Trial</span>
																			</span>
                                                </button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="plan-info">

                        <h3>IMPORTANT:<span>YOU WILL BE ASKED TO ACCEPT A CAPPED MONTHLY AMOUNT. THIS IS REQUIRED FOR US TO CHARGE TRANSACTION FEES</span></h3>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </main>
</template>

<script>
export default {
    methods:{

    }
}
</script>
