<template>
	<div class="create_plan_page">
		<div class="create_plan_page_inner page_width">
			<div class="page_topbar my-4">
				<h1 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Create Membership Plan</h1>
			</div>	
            <div class="page_details_start">
                <div class="card_section_main">
                    <div class="card_section_inner mb-4">
                        <h6 class="boxes-title mb-20">Names and Products</h6>
                        <div class="row">
                            <div class="col-12 col-md-6 margin-bottom-class">
                                <label class="label-main-class">Plan name
                                    <i class="far fa-question-circle" aria-hidden="true"></i>
                                </label>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                            <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Monthly Gold Membership">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>                                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 margin-bottom-class">
                                <label class="label-main-class">Customer tag</label>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                            <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Gold Member">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>                                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 margin-bottom-class">
                                <label class="label-main-class">Order tag</label>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                            <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Membership">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>                                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 margin-bottom-class">
                                <label class="label-main-class">Order tag</label>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                            <input id="planName" class="Polaris-TextField__Input" value="Awesome Membership Prod...">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>                                                
                                    </div>
                                    <button class="Polaris-Button Polaris-Button--primary" type="button">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">Select Product</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="card_section_main">
                    <div class="card_section_inner mb-4">
                        <h6 class="boxes-title mb-20">Membership Lengths</h6>
                        <ul class="mb-0 list-unstyled px-5 py-3 grey_bg_color">
                            <li class="d-flex align-items-center">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6 margin-bottom-class">
                                        <label class="label-main-class">Length
                                            <i class="far fa-question-circle"></i>
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input class="Polaris-TextField__Input" value="1" type="number">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                <div class="Polaris-Labelled--hidden">
                                                    <div class="Polaris-Select">
                                                        <select class="Polaris-Select__Input">
                                                            <option>Year(s)</option>
                                                        </select>
                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                            <span class="Polaris-Select__SelectedOption">
                                                                <span class="text-capitalize">month</span>(s)</span>
                                                            <span class="Polaris-Select__Icon">
                                                            <span class="Polaris-Icon">
                                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                    <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-6 margin-bottom-class">
                                        <label class="label-main-class">Price</label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>    
                                </div>                                     
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6 margin-bottom-class">
                                        <label class="label-main-class">Length
                                            <i class="far fa-question-circle"></i>
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input class="Polaris-TextField__Input" value="1" type="number">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                <div class="Polaris-Labelled--hidden">
                                                    <div class="Polaris-Select">
                                                        <select class="Polaris-Select__Input">
                                                            <option>Year(s)</option>
                                                        </select>
                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                            <span class="Polaris-Select__SelectedOption">
                                                                <span class="text-capitalize">month</span>(s)</span>
                                                            <span class="Polaris-Select__Icon">
                                                            <span class="Polaris-Icon">
                                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                    <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-6 margin-bottom-class">
                                        <label class="label-main-class">Price</label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>    
                                </div> 
                                <a href="#" class="delete_icon ml-4">
                                    <i class="far fa-trash-alt"></i>
                                </a>                          
                            </li>
                        </ul>
                        <div class="text-center py-4">
                            <button class="Polaris-Button Polaris-Button--primary" type="button">
                                <span class="Polaris-Button__Content">
                                    <span class="Polaris-Button__Text">Add Length</span>
                                </span>
                            </button>
                        </div>
                    </div>                    
                </div>
                <div class="card_section_main">
                    <div class="card_section_inner mb-4">
                        <h6 class="boxes-title mb-20">Rules</h6>
                        <ul class="mb-0 list-unstyled px-5 py-3 grey_bg_color">
                            <li class="d-flex align-items-center">
                                <div class="row w-100">
                                    <div class="col-12 col-md-5 margin-bottom-class">
                                        <label class="label-main-class">Rule Name
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Show a blog to members only</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-7 margin-bottom-class">
                                        <label class="label-main-class">Blog Name
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">News</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>    
                                </div>  
                                <a href="#" class="delete_icon ml-4">
                                    <i class="far fa-trash-alt"></i>
                                </a>                                     
                            </li>  
                            <li class="d-flex align-items-center">
                                <div class="row w-100">
                                    <div class="col-12 col-md-5 margin-bottom-class">
                                        <label class="label-main-class">Rule Name
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Replace page templage for me...</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-2 margin-bottom-class">
                                        <label class="label-main-class">Original
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Page</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>  
                                    <div class="col-12 col-md-5 margin-bottom-class">
                                        <label class="label-main-class">New
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Page</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>    
                                </div>  
                                <a href="#" class="delete_icon ml-4">
                                    <i class="far fa-trash-alt"></i>
                                </a>                                     
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="row w-100">
                                    <div class="col-12 col-md-5 margin-bottom-class">
                                        <label class="label-main-class">Rule Name
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Show all pages to members only</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>                                         
                                </div>  
                                <a href="#" class="delete_icon ml-4">
                                    <i class="far fa-trash-alt"></i>
                                </a>                                     
                            </li>                                                        
                        </ul>
                        <div class="text-center py-4">
                            <button class="Polaris-Button Polaris-Button--primary" type="button">
                                <span class="Polaris-Button__Content">
                                    <span class="Polaris-Button__Text">Add Rule/Restriction</span>
                                </span>
                            </button>
                        </div>
                    </div>                    
                </div>
                <div class="card_section_main">
                    <div class="card_section_inner mb-4">
                        <h6 class="boxes-title mb-3">Rules</h6>
                        <p class="mb-20">All memberships will already capture the customer’s name, email address, and payment information. Any fields you add below will be added to the product page and included in your member data.</p>
                        <ul class="mb-0 list-unstyled px-5 py-3 grey_bg_color">
                            <li class="d-flex align-items-center">
                                <div class="row w-100 align-items-center mr-4">
                                    <div class="col-12 col-md-3 margin-bottom-class px-2">
                                        <label class="label-main-class">Label
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Waist Size">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        <label class="label-main-class">Field type                                            
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Radio Group</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        <label class="label-main-class">Options
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Radio 1, Radio 1...">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-1 margin-bottom-class p-0">
                                        <label class="text-center" for="PolarisCheckbox2">
                                            <span class="Polaris-Choice__Label label-main-class mb-4">Required?</span>
                                            <span class="Polaris-Choice__Control m-auto">
                                               <span class="Polaris-Checkbox">
                                                  <input id="PolarisCheckbox2" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span>
                                                  <span class="Polaris-Checkbox__Icon">
                                                     <span class="Polaris-Icon">
                                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                           <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                        </svg>
                                                     </span>
                                                  </span>
                                               </span>
                                            </span>                                            
                                        </label>
                                    </div>    
                                </div>  
                                <a href="#" class="delete_icon">
                                    <i class="far fa-trash-alt"></i>
                                </a>                                     
                            </li> 
                            <li class="d-flex align-items-center">
                                <div class="row w-100 align-items-center mr-4">
                                    <div class="col-12 col-md-3 margin-bottom-class px-2">
                                        <label class="label-main-class">Label
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Waist Size">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        <label class="label-main-class">Field type
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Radio Group</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        <label class="label-main-class">Options
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Radio 1, Radio 1...">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-1 margin-bottom-class p-0">
                                        <label class="text-center" for="PolarisCheckbox3">
                                            <span class="Polaris-Choice__Label label-main-class mb-4">Required?</span>
                                            <span class="Polaris-Choice__Control m-auto">
                                               <span class="Polaris-Checkbox">
                                                  <input id="PolarisCheckbox3" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span>
                                                  <span class="Polaris-Checkbox__Icon">
                                                     <span class="Polaris-Icon">
                                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                           <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                        </svg>
                                                     </span>
                                                  </span>
                                               </span>
                                            </span>                                            
                                        </label>
                                    </div>    
                                </div>  
                                <a href="#" class="delete_icon">
                                    <i class="far fa-trash-alt"></i>
                                </a>                                     
                            </li>  
                            <li class="d-flex align-items-center">
                                <div class="row w-100 align-items-center mr-4">
                                    <div class="col-12 col-md-3 margin-bottom-class px-2">
                                        <label class="label-main-class">Label
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Waist Size">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        <label class="label-main-class">Field type
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Radio Group</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        
                                    </div> 
                                    <div class="col-12 col-md-1 margin-bottom-class p-0">
                                        <label class="text-center" for="PolarisCheckbox4">
                                            <span class="Polaris-Choice__Label label-main-class mb-4">Required?</span>
                                            <span class="Polaris-Choice__Control m-auto">
                                               <span class="Polaris-Checkbox">
                                                  <input id="PolarisCheckbox4" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span>
                                                  <span class="Polaris-Checkbox__Icon">
                                                     <span class="Polaris-Icon">
                                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                           <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                        </svg>
                                                     </span>
                                                  </span>
                                               </span>
                                            </span>                                            
                                        </label>
                                    </div>    
                                </div>  
                                <a href="#" class="delete_icon">
                                    <i class="far fa-trash-alt"></i>
                                </a>                                     
                            </li> 
                            <li class="d-flex align-items-center">
                                <div class="row w-100 align-items-center mr-4">
                                    <div class="col-12 col-md-3 margin-bottom-class px-2">
                                        <label class="label-main-class">Label
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Waist Size">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        <label class="label-main-class">Field type
                                        </label>
                                        <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                          </select>
                                          <div class="Polaris-Select__Content" aria-hidden="true">
                                              <span class="Polaris-Select__SelectedOption">Radio Group</span>
                                              <span class="Polaris-Select__Icon">
                                                  <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                  <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                </svg></span></span></div>
                                          <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 margin-bottom-class px-2">
                                        <label class="label-main-class">Options
                                        </label>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="planName" class="Polaris-TextField__Input" placeholder="e.g. Radio 1, Radio 1...">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12 col-md-1 margin-bottom-class p-0">
                                        <label class="text-center" for="PolarisCheckbox5">
                                            <span class="Polaris-Choice__Label label-main-class mb-4">Required?</span>
                                            <span class="Polaris-Choice__Control m-auto">
                                               <span class="Polaris-Checkbox">
                                                  <input id="PolarisCheckbox5" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span>
                                                  <span class="Polaris-Checkbox__Icon">
                                                     <span class="Polaris-Icon">
                                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                           <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                        </svg>
                                                     </span>
                                                  </span>
                                               </span>
                                            </span>                                            
                                        </label>
                                    </div>    
                                </div>  
                                <a href="#" class="delete_icon">
                                    <i class="far fa-trash-alt"></i>
                                </a>                                     
                            </li>                                                              
                        </ul>
                        <div class="text-center py-4">
                            <button class="Polaris-Button Polaris-Button--primary" type="button">
                                <span class="Polaris-Button__Content">
                                    <span class="Polaris-Button__Text">Add Form Field</span>
                                </span>
                            </button>
                        </div>
                    </div>                    
                </div>
            </div>	
            <div class="page_details_btn">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <button class="Polaris-Button Polaris-Button--destructive" type="button">
                            <span class="Polaris-Button__Content">
                                <span class="Polaris-Button__Text">Delete Plan</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="Polaris-Button w-25" type="button">
                            <span class="Polaris-Button__Content">
                                <span class="Polaris-Button__Text">Cancel</span>
                            </span>
                        </button>
                        <button class="Polaris-Button w-25 Polaris-Button--primary ml-3" type="button">
                            <span class="Polaris-Button__Content">
                                <span class="Polaris-Button__Text">Save Plan</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
		</div>
	</div>
</template>

<script>
export default {
    name: "CreatePlan.vue"
}
</script>

<style scoped>

</style>
