<template>
	<div class="plan_page_main">
		<div class="plan_page_main_inner page_width">
			<div class="page_topbar text-right my-4">
				<button class="Polaris-Button Polaris-Button--primary" type="button">
					<span class="Polaris-Button__Content">
						<span class="Polaris-Button__Text">Create Plan</span>
					</span>
				</button>
			</div>
			<div class="no-subscriber-inner d-none">
				<img src="/images/static/girl-enjoying-music-1.png" alt="view-more">
				<div class="blank_content_details">
					<h5>Plans set the rules for how customers buy and use memberships</h5>
					<p class="mb-3">
						The way you create your groups and plans can have a long-term impact on your business.
					</p>
					<p class="mb-3">
						A group is a collection of plans, which are often displayed together on your product page widget.
						An example of a group might be Subscribe & Save or Prepaid Subscription.
					</p>
					<p class="mb-3">
						Plans, on the other hand, are more specific rules, like the frequency of the subscription, any
						discounts you might offer, and whether orders should take place on the same day each period.						
					</p>
					<a href="https://support.simplee.best" target="_blank"> Learn more about groups and plans in our help center
					</a>
				</div>
			</div>	
			<div class="group-found-main">
				<div class="group-found-main-inner">
				   <div class="group-top-part">
					  <div class="row">
						 <div class="col-lg-4 col-md-4 col-sm-12">
							<div class="group-head">
							   <h2 class="Polaris-Heading">My Membership</h2>
							   <a href="#">
								  <svg width="15" height="15" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									 <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3831 0.596689C9.58836 -0.198611 8.20126 -0.198611 7.40541 0.596689L1.26136 6.74074C1.20251 6.79959 1.16291 6.86889 1.13651 6.94259C1.13486 6.94754 1.12991 6.95084 1.12826 6.95579L0.028262 10.2558C-0.037738 10.4532 0.013962 10.6716 0.161362 10.8184C0.265862 10.9235 0.406662 10.9796 0.550212 10.9796C0.608512 10.9796 0.666812 10.9708 0.724012 10.9515L4.02401 9.85154C4.02896 9.84989 4.03226 9.84494 4.03721 9.84329C4.11091 9.81689 4.18021 9.77729 4.23906 9.71844L10.3831 3.57439C10.7808 3.17674 11.0002 2.64764 11.0002 2.08554C11.0002 1.52289 10.7808 0.994339 10.3831 0.596689ZM9.6054 2.79659L9.3502 3.05179L7.9279 1.62949L8.1831 1.37429C8.56315 0.994244 9.22535 0.994244 9.6054 1.37429C9.7957 1.56459 9.9002 1.81704 9.9002 2.08544C9.9002 2.35384 9.7957 2.60629 9.6054 2.79659ZM1.89055 8.14754L2.83215 9.08914L1.41975 9.55994L1.89055 8.14754ZM3.8502 8.5518L2.4279 7.1295L7.1502 2.4072L8.5725 3.8295L3.8502 8.5518Z" fill="#637381"/>
									 <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="11">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M10.3831 0.596689C9.58836 -0.198611 8.20126 -0.198611 7.40541 0.596689L1.26136 6.74074C1.20251 6.79959 1.16291 6.86889 1.13651 6.94259C1.13486 6.94754 1.12991 6.95084 1.12826 6.95579L0.028262 10.2558C-0.037738 10.4532 0.013962 10.6716 0.161362 10.8184C0.265862 10.9235 0.406662 10.9796 0.550212 10.9796C0.608512 10.9796 0.666812 10.9708 0.724012 10.9515L4.02401 9.85154C4.02896 9.84989 4.03226 9.84494 4.03721 9.84329C4.11091 9.81689 4.18021 9.77729 4.23906 9.71844L10.3831 3.57439C10.7808 3.17674 11.0002 2.64764 11.0002 2.08554C11.0002 1.52289 10.7808 0.994339 10.3831 0.596689ZM9.6054 2.79659L9.3502 3.05179L7.9279 1.62949L8.1831 1.37429C8.56315 0.994244 9.22535 0.994244 9.6054 1.37429C9.7957 1.56459 9.9002 1.81704 9.9002 2.08544C9.9002 2.35384 9.7957 2.60629 9.6054 2.79659ZM1.89055 8.14754L2.83215 9.08914L1.41975 9.55994L1.89055 8.14754ZM3.8502 8.5518L2.4279 7.1295L7.1502 2.4072L8.5725 3.8295L3.8502 8.5518Z" fill="white"/>
									 </mask>
									 <g mask="url(#mask0)"></g>
								  </svg>
							   </a>
							</div>
						 </div>						 
					  </div>
				   </div>
				   <div class="group-bottom-part py-5">

				   </div>
				</div>
			 </div>		
		</div>
	</div>
</template>

<script>
export default {
    name: "Index.vue"
}
</script>

<style scoped>

</style>
