<template>
    <div class="">
        <div class="Polaris-Card__Section subscribers-main-class">
            <div class="subscriber-tab-main">
                <div class="subscriber-tab-main-inner subscription-page">
                    <div class="create-group-btn">
                        <div class="create-group-btn-inner">

                            <button type="button" class="Polaris-Button Polaris-Button--primary Simplee-Button--primary"
                                    @click="planGroupId='',showPlanGroupModel=true">
                                <span class="Polaris-Button__Content">
                                  <span class="Polaris-Button__Text">Create Group</span>
                                </span>
                            </button>

                        </div>
                    </div>

                    <div v-if="!data.length && !is_load" class="no-subscriber-main">
                        <div class="no-subscriber-inner">

                            <img src="images/static/website-maintenance-1.png" alt="view-more">
                            <div class="no-plans-found">
                                <h5>Groups and plans determine how you sell subscriptions</h5>
                                <p class="my-4">The way you create your groups and plans can have a long-term impact on your business.</p>

                                <p class="my-4">A group is a collection of plans, which are often displayed together on your product page widget.
                                    An example of a group might be Subscribe & Save or Prepaid Subscription.</p>

                                <p class="my-4">Plans, on the other hand, are more specific rules, like the frequency of the subscription, any
                                    discounts you might offer, and whether orders should take place on the same day each period.</p>

                                 <a href="https://support.simplee.best" target="_blank">Learn more about groups and plans in our help center</a>
                            </div>
                        </div>
                    </div>
                    <!--                    plan group listing-->
                    <div v-if="data.length" class="group-found-main">
                        <draggable
                            :list="data"
                            @end="checkMovePlan"
                        >
                                <div class="group-found-main-inner mb-5" v-for="(item, index) in data" :key="index">
                            <div class="group-top-part mb-20">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="group-head">
                                            <h2 class="Polaris-Heading">{{item.name}}</h2>
                                            <a @click="planGroupId=item.id, showPlanGroupModel = true"
                                               style="cursor: pointer;">
                                                <svg width="15" height="15" viewBox="0 0 11 11" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M10.3831 0.596689C9.58836 -0.198611 8.20126 -0.198611 7.40541 0.596689L1.26136 6.74074C1.20251 6.79959 1.16291 6.86889 1.13651 6.94259C1.13486 6.94754 1.12991 6.95084 1.12826 6.95579L0.028262 10.2558C-0.037738 10.4532 0.013962 10.6716 0.161362 10.8184C0.265862 10.9235 0.406662 10.9796 0.550212 10.9796C0.608512 10.9796 0.666812 10.9708 0.724012 10.9515L4.02401 9.85154C4.02896 9.84989 4.03226 9.84494 4.03721 9.84329C4.11091 9.81689 4.18021 9.77729 4.23906 9.71844L10.3831 3.57439C10.7808 3.17674 11.0002 2.64764 11.0002 2.08554C11.0002 1.52289 10.7808 0.994339 10.3831 0.596689ZM9.6054 2.79659L9.3502 3.05179L7.9279 1.62949L8.1831 1.37429C8.56315 0.994244 9.22535 0.994244 9.6054 1.37429C9.7957 1.56459 9.9002 1.81704 9.9002 2.08544C9.9002 2.35384 9.7957 2.60629 9.6054 2.79659ZM1.89055 8.14754L2.83215 9.08914L1.41975 9.55994L1.89055 8.14754ZM3.8502 8.5518L2.4279 7.1295L7.1502 2.4072L8.5725 3.8295L3.8502 8.5518Z"
                                                          fill="#637381"/>
                                                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0"
                                                          y="0" width="12" height="11">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10.3831 0.596689C9.58836 -0.198611 8.20126 -0.198611 7.40541 0.596689L1.26136 6.74074C1.20251 6.79959 1.16291 6.86889 1.13651 6.94259C1.13486 6.94754 1.12991 6.95084 1.12826 6.95579L0.028262 10.2558C-0.037738 10.4532 0.013962 10.6716 0.161362 10.8184C0.265862 10.9235 0.406662 10.9796 0.550212 10.9796C0.608512 10.9796 0.666812 10.9708 0.724012 10.9515L4.02401 9.85154C4.02896 9.84989 4.03226 9.84494 4.03721 9.84329C4.11091 9.81689 4.18021 9.77729 4.23906 9.71844L10.3831 3.57439C10.7808 3.17674 11.0002 2.64764 11.0002 2.08554C11.0002 1.52289 10.7808 0.994339 10.3831 0.596689ZM9.6054 2.79659L9.3502 3.05179L7.9279 1.62949L8.1831 1.37429C8.56315 0.994244 9.22535 0.994244 9.6054 1.37429C9.7957 1.56459 9.9002 1.81704 9.9002 2.08544C9.9002 2.35384 9.7957 2.60629 9.6054 2.79659ZM1.89055 8.14754L2.83215 9.08914L1.41975 9.55994L1.89055 8.14754ZM3.8502 8.5518L2.4279 7.1295L7.1502 2.4072L8.5725 3.8295L3.8502 8.5518Z"
                                                              fill="white"/>
                                                    </mask>
                                                    <g mask="url(#mask0)"></g>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                        <div class="group-head">
                                              <h5 class="product-label" v-if="item.has_many_variants.length == 1">{{item.has_many_variants.length}} product</h5>
                                            <h5 class="product-label" v-else>{{item.has_many_variants.length}} products</h5>
<!--                                            <a href="#">-->
<!--                                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none"-->
<!--                                                     xmlns="http://www.w3.org/2000/svg">-->
<!--                                                    <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                                                          d="M14.9714 7.29375C14.9542 7.236 13.2494 1.5 7.49994 1.5C1.75044 1.5 0.0456934 7.236 0.0284434 7.29375C-0.00980664 7.42875 -0.00980664 7.57125 0.0284434 7.70625C0.0456934 7.764 1.75044 13.5 7.49994 13.5C13.2494 13.5 14.9542 7.764 14.9714 7.70625C15.0097 7.57125 15.0097 7.42875 14.9714 7.29375ZM7.49994 12C3.39969 12 1.86594 8.421 1.53894 7.5C1.86594 6.579 3.39969 3 7.49994 3C11.6017 3 13.1354 6.582 13.4609 7.5C13.1347 8.421 11.6002 12 7.49994 12ZM7.49994 9C6.67269 9 5.99994 8.32725 5.99994 7.5C5.99994 6.67275 6.67269 6 7.49994 6C8.3272 6 8.99994 6.67275 8.99994 7.5C8.99994 8.32725 8.3272 9 7.49994 9ZM7.49994 4.5C5.84544 4.5 4.49994 5.8455 4.49994 7.5C4.49994 9.1545 5.84544 10.5 7.49994 10.5C9.15444 10.5 10.4999 9.1545 10.4999 7.5C10.4999 5.8455 9.15444 4.5 7.49994 4.5Z"-->
<!--                                                          fill="#637381"/>-->
<!--                                                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="-1"-->
<!--                                                          y="1" width="17" height="13">-->
<!--                                                        <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                                                              d="M14.9714 7.29375C14.9542 7.236 13.2494 1.5 7.49994 1.5C1.75044 1.5 0.0456934 7.236 0.0284434 7.29375C-0.00980664 7.42875 -0.00980664 7.57125 0.0284434 7.70625C0.0456934 7.764 1.75044 13.5 7.49994 13.5C13.2494 13.5 14.9542 7.764 14.9714 7.70625C15.0097 7.57125 15.0097 7.42875 14.9714 7.29375ZM7.49994 12C3.39969 12 1.86594 8.421 1.53894 7.5C1.86594 6.579 3.39969 3 7.49994 3C11.6017 3 13.1354 6.582 13.4609 7.5C13.1347 8.421 11.6002 12 7.49994 12ZM7.49994 9C6.67269 9 5.99994 8.32725 5.99994 7.5C5.99994 6.67275 6.67269 6 7.49994 6C8.3272 6 8.99994 6.67275 8.99994 7.5C8.99994 8.32725 8.3272 9 7.49994 9ZM7.49994 4.5C5.84544 4.5 4.49994 5.8455 4.49994 7.5C4.49994 9.1545 5.84544 10.5 7.49994 10.5C9.15444 10.5 10.4999 9.1545 10.4999 7.5C10.4999 5.8455 9.15444 4.5 7.49994 4.5Z"-->
<!--                                                              fill="white"/>-->
<!--                                                    </mask>-->
<!--                                                    <g mask="url(#mask0)"></g>-->
<!--                                                </svg>-->
<!--                                            </a>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-sm-12">
                                        <div class="group-head">
                                            <div class="group-top-btn" v-if="item.shopify_plan_group_id">
                                                <button type="button" class="Polaris-Button plan-button"
                                                        @click="openPicker(item.id, index)">
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text f-14">Assign Products</span>
                                                    </span>
                                                </button>
                                                <!--                                                <button type="button" class="Polaris-Button"  @click="planGroupId=item.id,showAddProductModel = true">-->
                                                <!--                                                    <span class="Polaris-Button__Content">-->
                                                <!--                                                        <span class="Polaris-Button__Text">Assign Products</span>-->
                                                <!--                                                    </span>-->
                                                <!--                                                </button>-->
                                            </div>
                                            <div class="group-top-btn">
                                                <router-link :to="{name :'add-edit-plan', params: { planId: '', planGroupId: item.id, planGroupName: item.name  }}" tag="button" class="Polaris-Button plan-button" >
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text f-14">Add Plan</span>
                                                    </span>
                                                </router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            plan listing-->
                            <div class="group-bottom-part">
                                <div class="prepaid-order-bottom">
                                    <div class="Polaris-DataTable">
                                        <div class="table-responsive">
                                                <table class="Polaris-DataTable__Table">
                                                    <thead>
                                                    <tr>
                                                        <th data-polaris-header-cell="true"
                                                            class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header"
                                                            scope="col">Storefront description
                                                        </th>
                                                        <th data-polaris-header-cell="true"
                                                            class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric"
                                                            scope="col">Deliver Every
                                                        </th>
                                                        <th data-polaris-header-cell="true"
                                                            class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric"
                                                            scope="col">Bill Every
                                                        </th>
                                                        <th data-polaris-header-cell="true"
                                                            class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric"
                                                            scope="col">Discount
                                                        </th>
                                                        <!-- <th data-polaris-header-cell="true"
                                                            class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric"
                                                            scope="col">Other
                                                        </th> -->
                                                        <th data-polaris-header-cell="true"
                                                            class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric"
                                                            scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody  v-if="item.has_many_plan.length > 0" v-model="item.has_many_plan" is="draggable" handle=".handle" tag="tbody" @end="checkMovePlan">
                                                    <tr
                                                        v-for="( plan, pindex ) in item.has_many_plan"
                                                        class="Polaris-DataTable__TableRow">
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn">
                                                            {{plan.name}}
                                                        </td>
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                                                            {{plan.delivery_interval_count}}
                                                            <span class="text-capitalize" v-if="plan.delivery_interval_count > 1">{{plan.delivery_interval}}s</span>
                                                            <span class="text-capitalize" v-else>{{plan.delivery_interval}}</span>
                                                        </td>
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                                                            {{plan.billing_interval_count}}
                                                            <span class="text-capitalize" v-if="plan.billing_interval_count > 1">{{plan.billing_interval}}s</span>
                                                            <span class="text-capitalize" v-else>{{plan.billing_interval}}</span>
                                                        </td>
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                                                            <span v-if="plan.pricing_adjustment_value">{{ plan.pricing_adjustment_value}} {{ plan.pricing_adjustment_type }}</span>
                                                        </td>
                                                        <!-- <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric"></td> -->
                                                        <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric" style="padding: 20px 10px 20px 0;">

                                                            <div class="group-table-icon">

                                                                <div class="up-down-main  handle">

                                                                    <a href="#">
                                                                        <span><i class="fa fa-arrows-v up-down"></i></span>
<!--                                                                        <img src="images/static/down.png" alt="down">-->

                                                                    </a>

                                                                </div>

                                                                <div class="edit-main">
                                                                    <router-link :to="{name :'add-edit-plan', params: { planId: plan.id, planGroupId: item.id, planGroupName: item.name  }}" tag="a" class="subscribers-name f-14" >
                                                                        <img src="images/static/edit.png" alt="edit">
                                                                    </router-link>
                                                                </div>

                                                                <div class="delete-main">
                                                                    <a style="cursor: pointer;"
                                                                       @click="removePlan(plan.name, plan.id)">
                                                                        <img src="images/static/delete.png"
                                                                             alt="delete">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            <div v-if="item.has_many_plan.length == 0">
                                                <div class="no-subscriber-inner">
                                                    <img src="images/static/view-more.png" alt="view-more">
                                                    <h5>No plans found</h5>
                                                    <p>Plans allow customers to choose how they want to
                                                        subscribe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </draggable>
                    </div>
                </div>
            </div>
        </div>
        <!--        add product model-->
        <add-product :show-model.sync="showAddProductModel" :planGroupId="planGroupId"
                     @update="closeModel"></add-product>
        <!--        add plan model-->
        <add-plan :show-add-plan-model.sync="showAddPlanModel" :planGroupId="planGroupId" :planId="planId" :shop="shop"
                  @update="closeModel"></add-plan>
        <!--        plan group model-->
        <plan-group :show-group-model.sync="showPlanGroupModel" :id="planGroupId" @update="closeModel"></plan-group>
    </div>
</template>

<script>
import AddProduct from "./models/AddProduct";
import PlanGroup from "./models/PlanGroup";
import AddPlan from "./models/AddPlan";
import helper from "../../../helper";
import {Button, Modal, ResourcePicker} from "@shopify/app-bridge/actions";
import draggable from 'vuedraggable';
import instance from "../../../axios";
export default {
    components: {
        PlanGroup,
        AddPlan,
        AddProduct,
        draggable
    },
    data() {
        return {
            showPlanGroupModel: false,
            showAddPlanModel: false,
            showAddProductModel: false,
            data: [],
            shop: [],
            planGroupId: '',
            planId: '',
            is_load: true,
        }
    },
    methods: {
        closeModel(type, action) {
            (type == 'group') ? this.showPlanGroupModel = false : '';
            (type == 'add-plan') ? this.showAddPlanModel = false : '';
            (type == 'addproduct') ? this.showAddProductModel = false : '';

            (action == 'refresh') ? this.getData() : '';
        },
        async checkMovePlan(e) {
            let data = this.data;
            let pos = {};
            data.forEach(function (element, index) {
                let plan = element.has_many_plan;
                pos[element.id] = (typeof pos[element.id] != "undefined") ? pos[element.id] : {};
                pos[element.id]['plan'] = (typeof pos[element.id]['plan'] != "undefined") ? pos[element.id]['plan'] : {};
                plan.forEach(function (pe, i) {
                    pos[element.id]['plan'][pe.id]= i + 1;
                });
                pos[element.id]['index'] = index;
            });
            console.log(pos);
            this.storeMove(pos);

        },
        async storeMove(pos){
            await instance.post('position', {data: pos})
                .then(res => {
                    // console.log(res);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                });
        },
        async getData() {
            let base = this;
            base.is_load = true;
            helper.startLoading();
            await instance.get('plan-group')
                .then(res => {
                    base.data = res.data.data.planG;
                    base.shop = res.data.data.shop;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.is_load = false;
                    helper.stopLoading();
                });
        },
        async removePlan(name, id) {
            let base = this;
            const okButton = Button.create(shopify_app_bridge, {label: 'Delete', style: Button.Style.Danger});
            const cancelButton = Button.create(shopify_app_bridge, {label: 'Cancel'});
            const modalOptions = {
                title: 'Delete Plan!!',
                message: 'Are you sure to delete this "' + name + '" Plan?',
                footer: {
                    buttons: {
                        primary: okButton,
                        secondary: [cancelButton],
                    },
                },
            };
            const myModal = Modal.create(shopify_app_bridge, modalOptions);
            myModal.dispatch(Modal.Action.OPEN);
            cancelButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
            });
            okButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
                let endPoint = '/plan.delete/' + id;
                instance.delete(endPoint)
                    .then(res => {
                        base.getData();
                         ( res.data.isSuccess ) ? helper.successToast(res.data.data) : helper.errorToast(res.data.data);
                    })
                    .catch(err => {
                        console.log(err);
                    });
            });
        },
        openPicker(planGroupId, index) {
            let base = this;
            let selectedPid = {};
            let selected = [];
            let sVariantData = base.data[index]['has_many_variants'];

            // console.log(sVariantData);

            // only product selection
            selectedPid = [];
            sVariantData.forEach(function (variant, vindex) {
                selectedPid.push({id: 'gid://shopify/Product/' + variant.shopify_product_id});
            });

            // product with variant selection

            // sVariantData.forEach(function (variant, vindex) {
            //     if( typeof selectedPid[variant.shopify_product_id] == 'undefined'){
            //         selectedPid[variant.shopify_product_id] = [];
            //     }
            //     selectedPid[variant.shopify_product_id].push(variant.shopify_variant_id);
            // });

            // for (var pkey in selectedPid) {
            //     let productWithVariantsSelected = {
            //         id: 'gid://Shopify/Product/' + pkey,
            //         variants: [],
            //     };
            //     for (var vkey in pkey) {
            //         if( typeof selectedPid[pkey][vkey] != 'undefined'){
            //             productWithVariantsSelected.variants.push({'id': 'gid://Shopify/ProductVariant/' + selectedPid[pkey][vkey]});
            //         }
            //     }
            //     selected.push(productWithVariantsSelected);
            // }
            // console.log(selected);
            // const productWithVariantsSelected = {
            //     id: 'gid://Shopify/Product/5560830918816',
            //     variants: [{
            //         id: 'gid://Shopify/ProductVariant/35934993842336',
            //     }],
            // };

            // const productWithAllVariantsSelected = {
            //     id: 'gid://Shopify/Product/5476008296608',
            // };

            // console.log(productWithVariantsSelected);

            let productPicker = '';
            if( selectedPid.length > 0 ){
                productPicker = ResourcePicker.create(shopify_app_bridge, {
                    resourceType: ResourcePicker.ResourceType.Product,
                    options: {
                        initialSelectionIds: selectedPid,
                        showVariants: false,
                    },
                });
            }else{
                productPicker = ResourcePicker.create(shopify_app_bridge, {
                    resourceType: ResourcePicker.ResourceType.Product,
                    options: {
                        showVariants: false,
                    },
                });
            }
            let productData = base.data[index]['has_many_variants'];
            let selectionPids = [];

            productPicker.dispatch(ResourcePicker.Action.OPEN);
            productPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {

                let data = {
                    'planGroupId': planGroupId,
                    'resource': [],
                    'removeProducts': []
                }
                selection.forEach(function (product, pindex) {
                    let product_id = (product.id) ? product.id.replace("gid://shopify/Product/", "") : '';
                    selectionPids.push(product_id);
                    let result = _.find(productData, function (o) {
                        return o.shopify_product_id == product_id;
                    });
                    if (typeof result == "undefined") {
                        data.resource.push(product_id);
                    }
                    // let variants = product.variants;
                    // variants.forEach(function (variant, vindex) {
                    //     let variant_id = (variant.id) ? variant.id.replace("gid://shopify/ProductVariant/", "") : '';
                    //     let r = {
                    //         product_id: product_id,
                    //         variant_id: variant_id,
                    //     }

                    //     let variantData = base.data[index]['has_many_variants'];
                    //     let result = _.find(variantData, function (o) {
                    //         return o.shopify_variant_id === variant_id;
                    //     });

                    //     if (typeof result == "undefined") {
                    //         data.resource.push(r);
                    //     }
                    // });
                });

                productData.forEach(function (product, pindex) {
                    let result = _.find(selectionPids, function (o) {
                        return o == product.shopify_product_id;
                    });
                    if (typeof result == "undefined") {
                        data.removeProducts.push(product.shopify_product_id);
                    }
                });
                base.sendVariantsForm(data);
            });
        },
        async sendVariantsForm(resource) {
            let base = this;
            helper.startLoading();
            await instance.post('assign-product', {data: resource})
                .then(res => {
                    base.getData();
                    helper.successToast(res.data.data);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
    },
    mounted() {
        this.getData();
    },
}
</script>
