<template>
    <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" id="planGroup" style="display: none;">
        <div>
            <div role="dialog" aria-labelledby="Polarismodal-header2" tabindex="-1" class="Polaris-Modal-Dialog">
                <div class="Polaris-Modal-Dialog__Modal">
                    <div class="Polaris-Modal-Header">
                        <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall" v-if="form.id == ''">Create group</h2>
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall" v-else>Edit group</h2>
                        </div>
                        <button class="Polaris-Modal-CloseButton" aria-label="Close" data-dismiss="modal" @click="closeModel('')">
                         <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                               <path
                                   d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                                   fill-rule="evenodd"></path>
                            </svg>
                         </span>
                        </button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                             data-polaris-scrollable="true">
                            <section class="Polaris-Modal-Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList3"
                                                  aria-invalid="false">
                                            <div class="edit-details-modal">

                                                <div class="row modal-top-field-main">

                                                    <div class="col-lg-6 col-md-6">

                                                        <h5 v-if="form.id == ''">Group name</h5>
                                                        <h5 v-else>Public name</h5>
                                                        <label class="label-main-class" v-if="form.id == ''">
                                                            Describe the group of intervals. Most widgets will show the group name as a primary selection option.
                                                        </label>
                                                        <label class="label-main-class" v-else>
                                                            This will be presented to the customer on the product or variant as the plan they are subscribing to
                                                        </label>

                                                    </div>

                                                    <div class="col-lg-6 col-md-6">

                                                        <div class="modal-input-main plan-page-modal-inner">

                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="publicnameId"
                                                                               class="Polaris-TextField__Input"
                                                                               aria-labelledby="PolarisTextField8Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false" v-model="form.name" placeholder="e.g. Subscribe & Save">
                                                                        <div
                                                                            class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                    <error-msg v-if="errors['data.name']" :msg="errors['data.name'][0]"></error-msg>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row modal-top-field-main">

                                                    <div class="col-lg-6 col-md-6">

                                                        <h5 v-if="form.id == ''">Internal name</h5>
                                                        <h5 v-else>Public description</h5>
                                                        <label class="label-main-class" v-if="form.id == ''">
                                                            A name to reference this group when viewing it from the Shopify admin. It can be the same as the Group name.
                                                        </label>
                                                        <label class="label-main-class" v-else>
                                                            This will appear under the product in the cart and at checkout
                                                        </label>

                                                    </div>

                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="modal-input-main plan-page-modal-inner">

                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="add_infoID"
                                                                               class="Polaris-TextField__Input"
                                                                               aria-labelledby="PolarisTextField8Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false" v-model="form.description">
                                                                        <div
                                                                            class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row modal-top-field-main">

                                                    <div class="col-lg-6 col-md-6">

                                                        <h5>Group options (optional)</h5>
                                                        <label class="label-main-class">
                                                            <p class="mb-20">Options let you display plan information on your storefront more clearly. Most merchants will have one option, such as Deliver every, to make it easier for customers to understand when their orders will be created.</p>
                                                        </label>
                                                        <a href="http://support.simplee.best/en/articles/4727810-advanced-selling-plan-options"
                                                           target="_blank"
                                                           class="Polaris-Link"
                                                        >
                                                            Learn more about options
                                                        </a>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="modal-input-main plan-page-modal-inner">
                                                            <!--                                                        options-->
                                                            <div class="Polaris-Connected" v-for="(option, oindex) in form.options" :class="( oindex != 0 ) ? 'mt-10' : ''">
                                                                <div class="Polaris-Labelled__LabelWrapper" style="width: 30%;align-items: center;">
                                                                    <div class="Polaris-Label"><label :id="`option` + oindex+1 + `Label`" :for="`option` + oindex+1" class="Polaris-Label__Text">Option {{ (oindex + 1 )}}: </label></div>
                                                                </div>
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input :id="`option` + oindex+1" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField32Label" aria-invalid="false" aria-multiline="false" v-model="form.options[oindex]" :placeholder="(oindex == 0) ? 'Deliver every' : 'Optional'">
                                                                        <div class="Polaris-TextField__Backdrop"></div>

                                                                        <!--                                                                        <select id="options" class="form-control" name="options[]" multiple>-->
                                                                        <!--                                                                            <option v-for="(opt, index) in options" :value="opt" selected>{{opt}}</option>-->
                                                                        <!--                                                                        </select>-->
                                                                    </div>
                                                                    <error-msg v-if="oindex == 0 && errors['data.options.0']" :msg="errors['data.options.0'][0]"></error-msg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                    <button v-if="form.id != ''" @click="removePlanGroup()" type="button" class="Polaris-Button Polaris-Button--destructive"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete Plan</span></span></button>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button" data-dismiss="modal" @click="closeModel('')"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span>
                                            </button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--primary" @click="sendForm()">
                                                    <span class="Polaris-Button__Content"><span
                                                        class="Polaris-Button__Text">{{( form.id == '' ) ? 'Create' : 'Save'}}</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../../helper";
import {Button, ContextualSaveBar, Modal, Toast} from "@shopify/app-bridge/actions";
import ErrorMsg from "../../../shopify/ErrorMsg";
import instance from "../../../../axios";

var group = "";
export default {
    name: 'PlanGroup',
    props: ['showGroupModel', 'id'],
    components: {
        ErrorMsg
    },
    data(){
        return{
            errors: [],
            form: '',
            options: [],
        }
    },
    methods:{
        closeModel(action) {
            this.errors = [];
            this.initOption('');
            this.$emit('update', 'group', action);
        },
        initForm(){
            this.form = {
                id: '',
                name: '',
                description: '',
                options: ['Deliver every', ''],
            };
        },
        initOption(value){
            $('#options').val(value).trigger('change');
        },
        async sendForm(){
            let base = this;
            helper.startLoading();

            // base.form.options = ($('#options').val() != null) ? $('#options').val() : [];
            await instance.post('plan-group', {data: base.form})
                .then(res => {
                    helper.successToast(res.data.data);
                    base.closeModel('refresh');
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    helper.stopLoading();
                    this.initOption('');
                });
        },
        async getData(){
            let base = this;
            base.options = [];
            helper.startLoading();
            await instance.get('plan-group.edit/' + this.form.id)
                .then(res => {
                    base.form = res.data.data;
                    let opts = base.form.options;
                    base.form.options = ( opts != null ) ? opts.split(',') : [];
                    if( base.form.options.length < 2 ){
                        var len = 2 - base.form.options.length;
                        for( var i=0; i<len; i++ ){
                            base.form.options.push('');
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async removePlanGroup() {
            let base = this;
            const okButton = Button.create(shopify_app_bridge, {label: 'Delete', style: Button.Style.Danger});
            const cancelButton = Button.create(shopify_app_bridge, {label: 'Cancel'});
            const modalOptions = {
                title: 'Delete Plan Group!!',
                message: 'Are you sure to delete this "'+ this.form.name +'" Plan Group?',
                footer: {
                    buttons: {
                        primary: okButton,
                        secondary: [cancelButton],
                    },
                },
            };
            const myModal = Modal.create(shopify_app_bridge, modalOptions);
            myModal.dispatch(Modal.Action.OPEN);
            cancelButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
            });
            okButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
                let endPoint = '/plan-group.delete/' + this.form.id;
                instance.delete(endPoint)
                    .then(res => {
                         ( res.data.isSuccess ) ? helper.successToast(res.data.data) : helper.errorToast(res.data.data);
                        base.closeModel('refresh');
                    })
                    .catch(err => {
                        console.log(err);
                    });
            });
        },
    },
    watch: {
        showGroupModel(newVal, oldVal) {
            if (newVal === true) {
                this.form.id = this.id;
                $(group).slideDown();

                (  this.form.id != '' ) ? this.getData() : this.initForm();
            } else {
                $(group).slideUp();
            }
        },
    },
    mounted() {
        this.initForm();
        group = document.getElementById("planGroup");
    },
}
</script>
