<template>
    <div class="simplee_superuser-migrations">
        <polaris-card sectioned title="Migrations">
            <polaris-layout>
                <polaris-layout-annotated-section>
                    <template slot="description">
                        <polaris-resource-list :items="migrationResourceList">
                        </polaris-resource-list>
                    </template>
                    <polaris-form-layout>
                        <div class="formgroup_file-upload">
                            <polaris-form-layout-group condensed>
                                <csv-import
                                    url="/hello"
                                    :headers="true"
                                    :map-fields="csvFields"
                                    @goUpload="uploadCsv($event)"
                                >
                                    <template
                                        slot="submit"
                                        slot-scope="{ submit }"
                                    >
                                        <polaris-button
                                            primary
                                            @click.prevent="submit"
                                        >
                                            Upload CSV
                                        </polaris-button>
                                    </template>
                                </csv-import>
                            </polaris-form-layout-group>
                        </div>

                        <div class="migration-actions-wrapper">
                            <polaris-sim-select
                                class="migration-list"
                            ></polaris-sim-select>
                            <polaris-form-layout-group condensed>
                                <polaris-button
                                    primary
                                    class="pol_sim-btn"
                                    @click="syncCustomers"
                                >
                                    Sync Customers
                                </polaris-button>
                                <polaris-button
                                    primary
                                    class="pol_sim-btn"
                                    @click="createPaymentMethods"
                                >
                                    Create Payment Methods
                                </polaris-button>
                            </polaris-form-layout-group>
                            <polaris-form-layout-group condensed>
                                <polaris-button
                                    outline
                                    class="pol_sim-btn btn-success"
                                    @click="completeMigration"
                                >
                                    Complete Migration
                                </polaris-button>
                                <polaris-button
                                    destructive
                                    class="pol_sim-btn"
                                    @click="deleteMigration"
                                >
                                    Delete Migration
                                </polaris-button>
                            </polaris-form-layout-group>
                        </div>
                    </polaris-form-layout>
                </polaris-layout-annotated-section>
            </polaris-layout>
        </polaris-card>
    </div>
</template>

<script>
import axios from "axios";
import DropZone from "../../shopify/DropZone";
import CsvImport from "../../shopify/CsvImport";
import PolarisSimSelect from "../../shopify/PolarisSimSelect";

import { csvMapFields, migrationResourceList } from "../../../config/constants";

export default {
    components: {
        "polaris-dropzone": DropZone,
        "csv-import": CsvImport,
        PolarisSimSelect
    },
    props: {
        shopId: Number
    },
    data() {
        return {
            migrationItem: "",
            csvData: null,
            csvFields: csvMapFields,
            migrationResourceList
        };
    },
    methods: {
        async uploadCsv(data) {
            const payload = {
                csv: data,
                id: 1 // shopId=props.shopId
            };

            const endPoint = "/superuser/upload-csv";

            await axios
                .post(endPoint, payload)
                .then(res => {
                    console.log("success");
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {});
        },
        syncCustomers() {},
        createPaymentMethods() {},
        completeMigration() {},
        deleteMigration() {}
    }
};
</script>

<style></style>
