<template>
    <div class="simplee_superuser-search">
        <polaris-layout>
            <polaris-text-field> </polaris-text-field>
            <polaris-button primary @click.prevent="search">
                Search
            </polaris-button>
        </polaris-layout>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
