<template>
    <div class="simplee_superuser-detailinfo">
        <polaris-card sectioned>
            <div class="info-wrapper">
                <polaris-resource-list :items="migrationResourceList">
                </polaris-resource-list>
                <polaris-resource-list :items="migrationResourceList">
                </polaris-resource-list>
            </div>
        </polaris-card>
    </div>
</template>

<script>
import { migrationResourceList } from "../../../config/constants";
export default {
    data() {
        return {
            migrationResourceList
        };
    }
};
</script>

<style></style>
