<template>
    <div class="simplee_superuser-action">
        <polaris-card sectioned>
            <polaris-form-layout class="action-wrapper">
                <polaris-text-field> </polaris-text-field>
                <polaris-button primary @click.prevent="refund">
                    Refund
                </polaris-button>

                <polaris-text-field> </polaris-text-field>
                <polaris-button primary @click.prevent="extendTrial">
                    Extend Trial
                </polaris-button>

                <polaris-sim-select class="theme-list"></polaris-sim-select>
                <polaris-button primary @click.prevent="pushThemeFiles">
                    Push Theme Files
                </polaris-button>
            </polaris-form-layout>
        </polaris-card>
    </div>
</template>

<script>
import PolarisSimSelect from "../../shopify/PolarisSimSelect";
export default {
    components: {
        PolarisSimSelect
    }
};
</script>

<style></style>
