<template>
    <div class="simplee__superuser-main">
        <shop-search />
        <shop-detail-info />
        <shop-action />
        <shop-migrations shop-id="1" />
    </div>
</template>

<script>
import ShopMigrations from "./ShopMigrations";
import ShopSearch from "./ShopSearch";
import ShopDetailInfo from "./ShopDetailInfo";
import ShopAction from "./ShopAction";
export default {
    name: "SuperUser",
    components: {
        ShopMigrations,
        ShopSearch,
        ShopDetailInfo,
        ShopAction
    },
    data() {
        return {
            is_loading: true,
            host: "",
            endPoint: "",
            search: "",
            data: []
        };
    },
    methods: {
        async searchShop() {
            let base = this;
            base.is_loading = true;
            let url = base.endPoint + "get-shop?shop=" + base.search;
            await axios
                .get(url)
                .then(res => {
                    base.data = res.data.data;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.is_loading = false;
                });
        }
    },
    mounted() {
        this.host = process.env.MIX_APP_URL;
        this.endPoint = this.host + "/superuser/";
    }
};
</script>

<style>
.simplee__superuser-main {
    max-width: 950px;
    margin: auto;
    padding: 2rem;
}
.Polaris-Card {
    margin: 3rem 0;
}
.Polaris-Labelled__LabelWrapper {
    margin-bottom: 0;
}

.action-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.Polaris-FormLayout__Item {
    min-width: auto;
    max-width: max-content;
}
.info-wrapper {
    display: flex;
    justify-content: space-between;
}
.Polaris-ResourceList__Attributes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: inherit;
    text-decoration: none;
    hyphens: auto;
    min-height: 3rem;
}
.Polaris-ResourceList__Badge {
    display: none;
}
.pol_sim-btn {
    width: 20rem;
}
.migration-list {
    padding-left: 2rem;
    padding-right: 5.3rem;
}
.btn-success {
    background-color: #00993de3;
    color: #fff;
}
.vue-csv-uploader .form {
    display: flex;
}
.vue-csv-uploader-part-one {
    flex-grow: 1;
}
</style>
