<template>
    <div class="">
        <menus></menus>
        <div id="Polaris-Main">
            <router-view></router-view>
        </div>
        <page-footer></page-footer>
    </div>
</template>

<script>
import Menus from './menu';
import helper from "../../helper";
import PageFooter from "../shopify/Footer";

export default {
    components: {
        Menus, PageFooter
    },
    data() {
        return{

        }
    },
    methods: {
    },
    created(){
    }
};
</script>
