<template>
    <div class="Polaris-Card__Section">
        <div class="create-shipping-page">
        	<div class="Polaris-Card-title">
                <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Create Shipping Profile</p>
            </div>
            <div class="create-shipping-page-start mt-3">
                <div class="create-shipping-page-start-inner">
                    <form>
<!--                        profile name-->
                        <div class="subscriptions-main-info-start mb-5">
                            <div class="row">
                                <div class="col-12 margin-bottom-class">
                                    <label class="label-main-class">Profile Name
                                        <i class="far fa-question-circle" aria-hidden="true"></i>
                                    </label>
                                    <div class="modal-input-bottom">
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input id="profile_name" class="Polaris-TextField__Input" aria-labelledby="profile_nameLabel"  aria-invalid="false"
                                                      aria-multiline="false"
                                                      placeholder="e.g. Subscription Shipping"
                                                      v-model="form.name"
                                                    >
                                                <div class="Polaris-TextField__Backdrop"></div>
                                            </div>
                                            <error-msg v-if="errors['data.name']" :msg="errors['data.name'][0]"></error-msg>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

<!--                        profile zones-->
                        <div class="subscriptions-main-info-start mb-5" v-for="(z, zindex) in form.shipping_zones">
                            <div class="row">
<!--                                zone name-->
                                <div class="col-12 margin-bottom-class">
                                    <label class="label-main-class">Zone Name
                                        <i class="far fa-question-circle" aria-hidden="true"></i>
                                    </label>
                                    <div class="Polaris-Connected">
                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                <input :id="`zoneName`+zindex" class="Polaris-TextField__Input" :aria-labelledby="`zoneNameLabel`+zindex" aria-invalid="false"
                                                  aria-multiline="false"
                                                  placeholder="e.g. North America"
                                                  v-model="z.zone_name"
                                                >
                                                <div class="Polaris-TextField__Backdrop"></div>
                                            </div>
                                            <error-msg v-if="errors[`data.shipping_zones.${zindex}.zone_name`]" :msg="errors[`data.shipping_zones.${zindex}.zone_name`][0]"></error-msg>
                                        </div>
                                    </div>
                                </div>
<!--                                    country-->
                                <div class="col-12 col-md-6 mb-5">
                                    <label class="label-main-class">Countries in Zone
                                        <i class="far fa-question-circle" aria-hidden="true"></i>
                                    </label>
                                    <div class="Polaris-Select">
                                        <select :id="`zone_country`+zindex" class="Polaris-Select__Input" aria-invalid="false" @change="selectCountry(zindex, $event)">
                                            <option>Select country to add it to this zone</option>
                                            <option v-for="( country, cindex ) in countries" :value="cindex">{{country}}</option>
                                        </select>
                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                            <span class="Polaris-Select__SelectedOption">Select country to add it to this zone</span>
                                            <span class="Polaris-Select__Icon">
                                                 <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                    </svg>
                                            </span>
                                        </div>
                                        <div class="Polaris-Select__Backdrop"></div>
                                    </div>
                                    <error-msg v-if="errors[`data.shipping_zones.${zindex}.zone_country`]" :msg="errors[`data.shipping_zones.${zindex}.zone_country`][0]"></error-msg>
                                </div>
                                <div class="col-12 col-md-6 mb-5">
                                    <div class="Polaris-Filters__TagsContainer" aria-live="polite" v-if="z.zone_country.length > 0">
                                       <span class="Polaris-Tag Polaris-Tag--removable" v-for="(zcountry, zcindex) in z.zone_country" :key="zcindex">
                                          <span :title="zcountry" class="Polaris-Tag__TagText">{{countries[zcountry]}}</span>
                                          <button type="button" class="Polaris-Tag__Button" @click="removeCountry(zindex, zcindex)">
                                             <span class="Polaris-Icon">
                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                   <path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path>
                                                </svg>
                                             </span>
                                          </button>
                                       </span>
                                    </div>
                                </div>
<!--                                rate name-->
                                <div class="col-12 col-md-6">
                                    <label class="label-main-class">Rate Name (internal name)
                                            <i class="far fa-question-circle" aria-hidden="true"></i>
                                    </label>
                                    <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input :id="`rateName`+zindex" class="Polaris-TextField__Input" :aria-labelledby="`rateNameLabel`+zindex"  aria-invalid="false"
                                                      aria-multiline="false"
                                                      placeholder="e.g. Flat Subscription Rate"
                                                      v-model="z.rate_name"
                                                    >
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                                <error-msg v-if="errors[`data.shipping_zones.${zindex}.rate_name`]" :msg="errors[`data.shipping_zones.${zindex}.rate_name`][0]"></error-msg>
                                            </div>
                                        </div>
                                </div>
<!--                                rate value-->
                                <div class="col-12 col-md-6">
                                    <label class="label-main-class">Shipping Rate (0 for free shipping)
                                            <i class="far fa-question-circle" aria-hidden="true"></i>
                                    </label>
                                    <div class="modal-input-bottom">
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <input :id="`rateValue`+zindex" class="Polaris-TextField__Input" :aria-labelledby="`rateValueLabel`+zindex"  aria-invalid="false"
                                                      aria-multiline="false"
                                                      placeholder="e.g. 9.99"
                                                      v-model="z.rate_value"
                                                    >
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                                <error-msg v-if="errors[`data.shipping_zones.${zindex}.rate_value`]" :msg="errors[`data.shipping_zones.${zindex}.rate_value`][0]"></error-msg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!--                        add zone-->
                        <div class="pause-btn text-center">
                            <button type="button" class="Polaris-Button Polaris-Button--primary" @click="initForm()">
                                <span class="Polaris-Button__Content">
                                    <span class="Polaris-Button__Text">Add Zone</span>
                                </span>
                            </button>
                        </div>

<!--                        delete/save/cancel zone-->
                        <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
<!--                                delete-->
                           <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                               <button type="button" class="Polaris-Button Polaris-Button--destructive" v-if="form.id" @click="removeShipping(form.name, form.id)">
                                   <span class="Polaris-Button__Content">
                                       <span class="Polaris-Button__Text">Delete Profile</span>
                                    </span>
                               </button>
                           </div>

<!--                                    save/cancel-->
                           <div class="Polaris-Stack__Item">
                              <div class="Polaris-ButtonGroup">
                                 <div class="Polaris-ButtonGroup__Item">
                                     <router-link :to="{name :'shipping'}" tag="button" class="Polaris-Button">
                                         <span class="Polaris-Button__Content">
                                             <span class="Polaris-Button__Text">Cancel</span>
                                         </span>
                                     </router-link>
                                 </div>

                                 <div class="Polaris-ButtonGroup__Item">
                                     <button type="button" class="Polaris-Button Polaris-Button--primary" @click="sendForm()">
                                         <span class="Polaris-Button__Content">
                                             <span class="Polaris-Button__Text">Save Profile</span>
                                         </span>
                                     </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../helper";
import ErrorMsg from "../../shopify/ErrorMsg";
import {Button, Modal} from "@shopify/app-bridge/actions";
import instance from "../../../axios";

export default {
    name: "CreateShipping",
    components: {
        ErrorMsg
    },
    data(){
        return{
            form:{
                id: '',
                name: '',
                shipping_zones: []
            },
            countries: [],
            errors: [],
        }
    },
    methods:{
        initForm(){
            let z = {
                zone_name: '',
                zone_country: [],
                rate_name: '',
                rate_value: ''
            };
            this.form.shipping_zones.push(z);
        },
        initCountry(){
            let base = this;
            if( typeof base.form.shipping_zones.length != 'undefined' ){
                base.form.shipping_zones.forEach(function(e, i){
                    let country = e.zone_country;
                    if( country[0] == 'Rest of World' ){
                        let zoneE = document.getElementById("zone_country" + i).options;
                        for (var j = 2; j < zoneE.length; j++) {
                            zoneE[j].disabled = true
                        }
                    }
                });
            }
        },
        selectCountry(i, e){
            let sc = e.target[e.target.selectedIndex].innerText;
            this.form.shipping_zones[i]['zone_country'] = ( sc == 'Rest of World' ) ? [] : this.form.shipping_zones[i]['zone_country'];
            let c = _.find(this.form.shipping_zones[i]['zone_country'], function (o, ic) {
                return o == sc;
            });

            let key = '';
            _.find(this.countries, function (o, ic) {
                if( o == sc ) {
                    key = ic;
                    return;
                }
            });
            ( typeof c == 'undefined' && sc != 'Select country to add it to this zone' ) ? this.form.shipping_zones[i]['zone_country'].push(key) : '';

            let zoneE = document.getElementById("zone_country" + i).options;
            if( sc == 'Rest of World' ){
                for (var j = 2; j < zoneE.length; j++) {
                    zoneE[j].disabled = true
                }
            }
        },
        removeCountry(zindex, cindex){
            let sc = this.form.shipping_zones[zindex]['zone_country'][cindex];

            let zoneE = document.getElementById("zone_country" + zindex).options;
            if( sc == 'Rest of World' ){
                for (var i = 2; i < zoneE.length; i++) {
                    zoneE[i].disabled = false
                }
            }
            this.form.shipping_zones[zindex]['zone_country'].splice(cindex, 1);
        },
        async getData(){
            let base = this;
            helper.startLoading();
            let url ='/shipping/' + this.form.id + '/edit';
            await instance.get(url)
                .then(res => {
                    let response = res.data.data;
                    base.countries = response.countries;

                    if( response.shipping.length == 0 ){
                        base.initForm()
                    }else{
                        base.form = response.shipping;
                    }
                    setTimeout(function(){ base.initCountry(); }, 5);

                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async sendForm() {
            let base = this;
            helper.startLoading();
            await instance.post('shipping', {data: base.form})
                .then(res => {
                   if( res.data.isSuccess ){
                        helper.successToast(res.data.data);
                        base.$router.push('shipping');
                   } else{
                        helper.errorToast(res.data.data);
                   }

                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                    console.log(base.errors);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async removeShipping(name, id) {
            let base = this;
            const okButton = Button.create(shopify_app_bridge, {label: 'Delete', style: Button.Style.Danger});
            const cancelButton = Button.create(shopify_app_bridge, {label: 'Cancel'});
            const modalOptions = {
                title: 'Delete Shipping Profile!!',
                message: 'Are you sure to delete this "' + name + '" Shipping Profile?',
                footer: {
                    buttons: {
                        primary: okButton,
                        secondary: [cancelButton],
                    },
                },
            };
            const myModal = Modal.create(shopify_app_bridge, modalOptions);
            myModal.dispatch(Modal.Action.OPEN);
            cancelButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
            });
            okButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
                let endPoint = '/shipping/' + id;
                instance.delete(endPoint)
                    .then(res => {
                        ( res.data.isSuccess ) ? helper.successToast(res.data.data) : helper.errorToast(res.data.data);
                        base.$router.push('shipping');
                    })
                    .catch(err => {
                        console.log(err);
                    });
            });
        },
    },
    mounted() {
        let id = this.$route.params.id;
        this.form.id = ( typeof id == 'undefined' || id == 0 ) ? 0 : id;
        this.getData();
    },
}
</script>

<style scoped>

</style>
