<template>
    <div class="Polaris-Card__Section">
        <div class="shipping-page">
        	<div v-if="shipping.length == 0" class="Polaris-Card__Section-head text-md-right mb-4">
                <router-link :to="{name :'create-shipping', params: {id: 0}}" tag="button" class="Polaris-Button Polaris-Button--primary" ><span class="Polaris-Button__Content">
        				<span class="Polaris-Button__Text">Create Shipping Profile</span>
        			</span>
                </router-link>
        	</div>

        	<div v-if="shipping.length == 0" class="no-profile-created">
        		<div class="no-subscription-main">
                    <div class="no-shipping-inner">
                        <img src="/images/static/business-goal 1.svg" alt="view-more">
                        <div class="no-plans-found">
                            <h5>Want to offer shipping specifically for subscriptions?</h5>
                            <p>Shipping Profiles let you create a shipping rate which will only apply to subscriptions.</p>
                            <br>
                            <p> This means you can set a flat rate, offer free shipping in some countries, configure
                                more expensive shipping for other countries - whatever you want.
                            </p>
                            <br>
                            <a class="Polaris-Link" href="https://support.simplee.best/en/articles/4761310-shipping-profiles-overview" target="_blank"> Find more information in our help center</a>
                        </div>
                    </div>
                </div>
        	</div>
            <div v-else class="Polaris-Card group-found-main-inner mb-4" v-for="(profile, pindex) in shipping">
            	<div class="Polaris-Card_head">
            		<div class="row align-items-center">
            			<div class="col-md-6">
            				<div class="Polaris-Card-title">
            					<p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">{{profile.name}}</p>
            				</div>
            			</div>
            			<div class="col-md-6 text-right">
            				<div class="Polaris-Card-button">
                                <router-link :to="{name :'create-shipping', params: {id: profile.id}}" tag="button" class="Polaris-Button" >
            						<span class="Polaris-Button__Content">
            							<span class="Polaris-Button__Text">Edit Shipping Profile</span>
            						</span>
            					</router-link>
            				</div>
            			</div>
            		</div>
            		<div class="polaris-list-card mt-5">
            			<dl class="Polaris-DescriptionList" v-for="( zone, zindex ) in profile.shipping_zones">
						    <dt class="Polaris-DescriptionList__Term">Zone:</dt>
						    <dd class="Polaris-DescriptionList__Description">{{zone.zone_name}}</dd>
						    <dt class="Polaris-DescriptionList__Term">Countries in Zone:</dt>
						    <dd class="Polaris-DescriptionList__Description"><span v-for="(country, cindex) in zone.zone_country">{{countries[country]}} {{( (cindex + 1) == zone.zone_country.length ) ? '' : ','}} </span></dd>
						    <dt class="Polaris-DescriptionList__Term">Rate:</dt>
						    <dd class="Polaris-DescriptionList__Description">{{zone.rate_name}} ({{shop.currency}}{{zone.rate_value}})</dd>
						</dl>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../helper";
import instance from "../../../axios";

export default {
    name: "Shipping",
    data(){
        return{
            shipping: [],
            countries: [],
            shop: [],
        }
    },
    methods: {
        async getData(){
            let base = this;
            helper.startLoading();
            await instance.get('shipping')
                .then(res => {
                    base.shipping  = res.data.data.shipping;
                    base.countries  = res.data.data.countries;
                    base.shop  = res.data.data.shop;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        }
    },
    mounted() {
        this.getData()
    },
    filters:{
        str(arr){
            return arr.toString().replace(/,/g, ', ');
        }
    }
}

</script>

<style scoped>

</style>

