<template>
    <div>
        <div style="width: 50px; height: 50px;">
            <div class="Polaris-Labelled--hidden">
                <div class="Polaris-Labelled__LabelWrapper">
                    <div class="Polaris-Label">
                        <label
                            id="PolarisDropZone12Label"
                            for="PolarisDropZone12"
                            class="Polaris-Label__Text"
                            >Upload files</label
                        >
                    </div>
                </div>
                <div
                    class="Polaris-DropZone Polaris-DropZone--hasOutline Polaris-DropZone--sizeSmall"
                    aria-disabled="false"
                >
                    <span class="Polaris-VisuallyHidden"
                        ><input
                            id="PolarisDropZone12"
                            type="file"
                            multiple=""
                            autocomplete="off"
                    /></span>
                    <div class="Polaris-DropZone__Container">
                        <div
                            class="Polaris-DropZone-FileUpload Polaris-DropZone-FileUpload__FileUploadSmallView"
                        >
                            <img
                                width="20"
                                src="data:image/svg+xml,%3csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 10a10 10 0 11-20 0 10 10 0 0120 0zM5.3 8.3l4-4a1 1 0 011.4 0l4 4a1 1 0 01-1.4 1.4L11 7.4V15a1 1 0 11-2 0V7.4L6.7 9.7a1 1 0 01-1.4-1.4z' fill='%235C5F62'/%3e%3c/svg%3e"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="PolarisPortalsContainer"></div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
