<template>
    <div>
        <div class="">
            <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label">
                    <label
                        id="PolarisSelect2Label"
                        for="PolarisSelect2"
                        class="Polaris-Label__Text"
                    ></label>
                </div>
            </div>
            <div class="Polaris-Select">
                <select
                    id="PolarisSelect2"
                    class="Polaris-Select__Input"
                    aria-invalid="false"
                >
                    <option value="today">Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="lastWeek">Last 7 days</option>
                </select>
                <div class="Polaris-Select__Content" aria-hidden="true">
                    <span class="Polaris-Select__Icon"
                        ><span class="Polaris-Icon"
                            ><svg
                                viewBox="0 0 20 20"
                                class="Polaris-Icon__Svg"
                                focusable="false"
                                aria-hidden="true"
                            >
                                <path
                                    d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"
                                ></path></svg></span
                    ></span>
                </div>
                <div class="Polaris-Select__Backdrop"></div>
            </div>
        </div>
        <div id="PolarisPortalsContainer"></div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
