 <template>
    <div class="container">
        <div class="simplee-portal__wrapper">
            <div v-if="is_customer_loading" class="simplee-portal__verify">
                <div>Verifying customer</div>
                <div><p data-v-25943665="">Please wait...</p>
                </div>
            </div>
            <div v-else class="simplee-portal__wrapper_inner container">
                <div v-if="typeof contract.length == 'undefined'">
                    <div class="simplee-portal__text_inner pb-5">
                        <div class="subscription_heading mb-3">
                            <h1 class="black-color font-700">{{languages.portal_title_details}} <span class="grey-color font-400 d-none d-md-inline-block">&#8212;  #{{contract.shopify_contract_id}}</span></h1>
                        </div>
                        <div class="subscription_select d-flex align-items-center">
                            <h5 class="grey-color font-400 me-3 mb-0">{{languages.portal_title_subscriptions}}</h5>
                            <select class="form-select form-select-sm w-auto" aria-label=".form-select-sm example" v-model="selectedContract" @change="changeContract($event);getData(selectedContract, 0, false)">
                                <option v-for="(ocontract, oindex) in otherContracts" :value="ocontract.id">Subscription #{{ocontract.shopify_contract_id}} ({{ocontract.status}})</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <!-- sidebar container -->
                        <div class="col-lg-3 col-md-3 d-none d-md-block">
                            <div class="simplee-portal__sidebar">
                                <div class="simplee-portal__sidebar_inner">
                                    <ul>
                                        <li class="mb-3">
                                            <a href="#products" class="black-color font-600">{{languages.portal_products_title}}</a>
                                        </li>
                                        <li class="mb-3">
                                            <a href="#yourorder" class="black-color font-600 active">{{languages.portal_order_title}}</a>
                                            <ul class="ps-3 mt-3">
                                                <li class="mb-3">
                                                    <a href="#yourorder" class="black-color font-600">{{languages.portal_order_address}}</a>
                                                </li>
                                                <li class="mb-3">
                                                    <a href="#yourorder" class="black-color font-600">{{languages.portal_order_delivery}}</a>
                                                </li>
                                                <li class="mb-3">
                                                    <a href="#yourorder" class="black-color font-600">{{languages.portal_order_frequency}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mb-3">
                                            <a href="#billing" class="black-color font-600">Billing Information</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- main content container -->
                        <div class="col-lg-9 col-md-9 subscription_right_column">
                            <div class="simplee-portal__rightside">
                                <div class="subscription_right_inner" v-if="is_loading" style="text-align: center;">Loading...</div>
                                <div class="subscription_right_inner" v-else>
                                    <!-- paused status container -->
                                    <div class="simplee-portal__important bg-white border-radius box_spacing d-flex align-items-center justify-content-between" v-if="contract.status == 'paused'">
                                        <div class="subscription_status">
                                            <h5 class="black-color font-400 mb-1">{{languages.portal_general_status}}</h5>
                                            <h2 class="black-color font-700 mb-0">{{languages.portal_general_paused}}</h2>
                                        </div>
                                        <div class="subscription_status_btn">
                                            <a href="#simplee-portal__modal" class="btn-secondary border-0 font-400" @click="showModal('resume_subscription')">{{languages.portal_action_resume}}</a>
                                        </div>
                                    </div>

                                    <!-- Failed payment notice container -->
                                    <div class="simplee-portal__important bg-white border-radius box_spacing" v-if="contract.failed_payment_count > 0">
                                        <h5 class="black-color font-700 mb-2">{{languages.portal_warning_title}}</h5>
                                        <h5 class="mb-0 red-color font-400">{{languages.portal_warning_text}}</h5>
                                    </div>

                                    <!-- product list container -->
                                    <div class="simplee-portal__products subscription_products bg-white border-radius  mb-4" id="products">
                                        <div class="subscription_product_heading box_spacing mb-0 border-bottom d-flex align-items-center justify-content-between">
                                            <h2 class="black-color font-700 mb-0">{{languages.portal_products_title}}</h2>
                                            <div class="subscription_edit">
                                                <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center" @click="isShowProductEdit = true"><i class="fas fa-pen"></i></a>
                                            </div>
                                        </div>
                                        <div class="subscirption_products_inner box_spacing" v-if="!isShowProductEdit">
                                            <div class="subscription_products mb-4" v-for="(lineitem, lindex) in contract.lineItems">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0 col-md-3">
                                                        <img v-if="lineitem.shopify_variant_image" :src="lineitem.shopify_variant_image" alt="product-img" />
                                                        <img v-else :src="images.no_img" alt="product">
                                                    </div>
                                                    <div class="flex-grow-1 ms-4">
                                                        <div class="subscription_product_content">
                                                            <h4 class="blue-color font-700 mb-1"><a :href="'https://' + `${shop.domain}` + '/products/' + `${lineitem.sh_product.handle}`" target="_blank" class="Polaris-Link">{{ lineitem.title }}</a></h4>
                                                            <a href="#">
                                                                <p class="mb-0 black-color font-600 mb-1"><i class="fas fa-redo me-1"></i> Subscription</p>
                                                            </a>
                                                            <p class="mb-0 black-color mb-1">{{ lineitem.shopify_variant_title }}</p>
                                                            <p class="mb-0 black-color mb-1">{{languages.portal_products_qty}}: {{ lineitem.quantity }}</p>
                                                            <p class="mb-0 black-color mb-1">{{languages.protal_products_price}}: <span class="font-600"> {{ lineitem.currency_symbol }}{{ lineitem.price }} </span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="subscription_product_subtotal d-flex align-items-center justify-content-between border-top mt-5 pt-3">
                                                <h5 class="black-color font-400 mb-0">{{languages.portal_products_subtotal}}</h5>
                                                <h4 class="black-color font-700 mb-0">{{currencySymbol}}{{subTotalPrice}}</h4>
                                            </div>
                                        </div>

                                        <!-- product edit container -->
                                        <div class="simplee-portal__product_edit subscription_product_edit box_spacing" v-if="isShowProductEdit">
                                            <div class="subscription_product_edit_inner subscription_city">
                                                <div class="subscription_single_edit mb-5" v-for="(lineitem, lindex) in contract.lineItems">
                                                    <h4 class="blue-color font-700 mb-2 d-flex align-items-center"><a :href="'https://' + `${shop.domain}` + '/admin/products/' + `${lineitem.shopify_product_id}`" target="_blank" class="Polaris-Link">{{ lineitem.title }}</a><i class="fas fa-times grey-color ms-3" v-if="contract.lineItems.length > 1" @click="deleteLineitem(lindex)"></i></h4>
                                                    <p class="mb-0 black-color mb-3 font-600">{{ lineitem.currency_symbol }}{{ lineitem.price }}</p>
                                                    <div class="subscirption_variants">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-2">
                                                                    <label for="Zip" class="form-label font-700 black-color">{{languages.portal_products_variant}}</label>
                                                                    <select class="form-select" aria-label="Default select example">
                                                                        <option selected v-for="(lshvar, lshindex) in lineitem.sh_variants">{{lshvar.title}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="subscription_quntity">
                                                        <label class="form-label font-700 black-color d-block">QTY</label>
                                                        <div class="quntity_main d-inline-block px-1 py-1" v-if="settings.portal_can_change_qty">
                                                            <button @click="updateQty(lindex, 'minus')"><span class="minus grey-color">-</span></button>
                                                            <input type="text" v-model="lineitem.quantity" />
                                                            <button @click="updateQty(lindex, 'plus')"><span class="plus grey-color">+</span></button>
                                                        </div>
                                                        <p class="mb-0 black-color mb-1" v-else>{{ lineitem.quantity }}</p>
                                                    </div>
                                                </div>
                                                <div class="subscription_total_amount d-flex align-items-center justify-content-between border-top pt-3">
                                                    <div class="subscription_product_total">
                                                        <p class="black-color font-400 mb-1">Total Subscription</p>
                                                        <p class="black-color font-700 mb-0">{{currencySymbol}}{{subTotalPrice}}</p>
                                                    </div>
                                                    <div class="subscription_btn d-flex align-items-center mt-3">
                                                        <a href="javascript:void(0)" class="btn-primary bg-blue" @click="saveChanges('portal_all')" disabled><i class="fa fa-spinner fa-spin" v-if="isSaving"></i><span v-else>{{languages.portal_products_update}}</span></a>
                                                        <a class="blue-color ms-3" @click="getData(contract.id, 0, false);isShowProductEdit = false">{{languages.portal_products_cancel}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- next order information container -->
                                    <div class="simplee-portal__order subscription_order subscription_order_next bg-white border-radius  mb-0" id="yourorder">
                                        <div class="subscription_product_heading box_spacing mb-0 border-bottom d-flex align-items-center justify-content-between">
                                            <h2 class="black-color font-700 mb-0">{{languages.portal_order_title}}</h2>
                                            <div class="subscription_edit">
                                                <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center" @click="isShowEditNextOrder = true;getCountry();"><i class="fas fa-pen"></i></a>
                                            </div>
                                        </div>
                                        <div class="subscription_products box_spacing" v-if="!isShowEditNextOrder">
                                            <ul>
                                                <li class="mb-4">
                                                    <h5 class="black-color font-700 mb-1">{{languages.portal_order_to}}</h5>
                                                    <p class="black-color font-400 mb-0">{{contract.ship_name}}</p>
                                                    <p class="black-color font-400 mb-0">{{ customer.email }} <span v-if="contract.ship_phone">|</span> {{contract.ship_phone}}</p>
                                                </li>
                                                <li class="mb-4">
                                                    <h5 class="black-color font-700 mb-1">{{languages.portal_order_address}}</h5>
                                                    <p class="black-color font-400 mb-0">{{contract.ship_address1}}, {{ contract.ship_city }} {{ contract.ship_province }} {{ contract.ship_zip }}</p>
                                                </li>
                                                <li class="mb-4">
                                                    <h5 class="black-color font-700 mb-1">{{languages.portal_order_method}}</h5>
                                                    <p class="black-color font-400 mb-0">{{contract.shipping_carrier}} <span class="font-500"> {{contract.shipping_presentmentTitle}} -  {{currencySymbol}}{{ parseFloat(order.shipping_lines[0].price).toFixed(2)}}</span></p>
                                                </li>
                                                <li class="mb-4" v-if="(!contract.is_prepaid) || (contract.is_prepaid && contract.prepaid_renew)">
                                                    <h5 class="black-color font-700 mb-1">{{languages.portal_order_billing}}</h5>
                                                    <p class="black-color font-400 mb-0">{{contract.next_processing_date}}</p>
                                                </li>
                                                <li class="mb-4">
                                                    <h5 class="black-color font-700 mb-1">{{languages.portal_order_frequency}}</h5>
                                                    <p class="black-color font-400 mb-0">{{contract.delivery_interval_count}} {{contract.delivery_interval, contract.delivery_interval_count | pluralize}}</p>
                                                </li>
                                                <li class="mb-0 d-flex align-items-end justify-content-between" v-if="(!contract.is_prepaid)">
                                                    <div class="subscription_nex_order">
                                                        <h5 class="black-color font-700 mb-1">Next Order</h5>
                                                        <p class="black-color font-400 mb-0">{{contract.next_order_date}}</p>
                                                    </div>
                                                    <div class="subscription_next_order" v-if="settings.portal_can_skip">
                                                        <a href="#simplee-portal__modal" class="blue-color font-400" @click="showModal('skip_next_order')" :class="{ 'inactiveLink': contract.status == 'cancelled' }">{{languages.portal_action_skip}}</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="subscription_form box_spacing" v-if="isShowEditNextOrder">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-2">
                                                            <label for="ship_firstName" class="form-label font-700 black-color">{{languages.portal_order_fname}}</label>
                                                            <input type="text" class="form-control" id="ship_firstName" v-model="contract.ship_firstName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-2">
                                                            <label for="ship_lastName" class="form-label font-700 black-color">{{languages.portal_order_lname}}</label>
                                                            <input type="text" class="form-control" id="ship_lastName" v-model="contract.ship_lastName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-2">
                                                            <label for="ship_company" class="form-label font-700 black-color">{{languages.portal_order_company}}</label>
                                                            <input type="text" class="form-control" id="ship_company" v-model="contract.ship_company">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-2">
                                                            <label for="ship_address1" class="form-label font-700 black-color">{{languages.portal_order_address1}}</label>
                                                            <input type="text" class="form-control" id="ship_address1" v-model="contract.ship_address1">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-2">
                                                            <label for="Apartment" class="form-label font-700 black-color">{{languages.portal_order_address2}}</label>
                                                            <input type="text" class="form-control" id="ship_address2" v-model="contract.ship_address2">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-2">
                                                            <label for="ship_city" class="form-label font-700 black-color">{{languages.portal_order_city}}</label>
                                                            <div class="subscription_city">
                                                                <input type="text" class="form-control ps-4" id="ship_city" v-model="contract.ship_city">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-2">
                                                            <label for="ship_zip" class="form-label font-700 black-color">{{languages.portal_order_zip}}</label>
                                                            <input type="text" class="form-control" id="ship_zip" required v-model="contract.ship_zip">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-2">
                                                            <label for="Zip" class="form-label font-700 black-color">{{languages.portal_order_country}}</label>
                                                            <select class="form-select" aria-label="Default select example" v-model="contract.ship_country" @change="getCountry();ship_province='';">
                                                                <option v-for="(country, cindex) in countries" :value="countries[cindex]">{{countries[cindex]}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-2">
                                                            <label for="Zip" class="form-label font-700 black-color">{{languages.portal_order_state}}</label>
                                                            <select class="form-select" aria-label="Default select example" v-model="ship_province" @change="province($event)">
                                                                <option v-for="(state, sindex) in states" :value="states[sindex]">{{states[sindex]}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="subscription_btn d-flex align-items-center mt-3">
                                                <a href="javascript:void(0)" class="btn-primary bg-blue" @click="saveChanges('edit_shipping_address')"><i class="fa fa-spinner fa-spin" v-if="isSaving"></i><span v-else>{{languages.portal_order_update}}</span></a>
                                                <a href="javascript:void(0)" class="blue-color ms-3" @click="getData(contract.id, 0, false);isShowEditNextOrder = false;">{{languages.portal_order_cancel}}</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- prepaid order information container -->
                                    <div class="simplee-portal__order subscription_order subscription_order_prepaid bg-white border-radius  mb-0" id="prepaid_order" v-if="contract.is_prepaid">
                                        <div class="subscription_product_heading box_spacing mb-0 border-bottom d-flex align-items-center justify-content-between">
                                            <h2 class="black-color font-700 mb-0">{{languages.portal_prepaid_title}}</h2>
                                        </div>
                                        <div class="subscription_products box_spacing">
                                            <table>
                                                <thead class="prepaid_heading">
                                                    <th>{{languages.portal_prepaid_orderdate}}</th>
                                                    <th>{{languages.protal_prepaid_status}}</th>
                                                </thead>
                                                <tbody class="prepaid_content">
                                                    <tr v-for="(fulfillment, findex) in contract.fulfillmentOrders">
                                                        <td>{{fulfillment.fulfillAt }}</td>
                                                        <td class="prepaid_status" :class="statusClasses[fulfillment.status]">{{fulfillment.status | pluralizeBrand}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- billing information container -->
                                    <div class="simplee-portal__order subscription_order bg-white border-radius  mb-0" id="billing">
                                        <div class="subscription_product_heading box_spacing mb-0 border-bottom">
                                            <h2 class="black-color font-700 mb-0">{{languages.portal_billing_title}}</h2>
                                        </div>
                                        <div class="subscription_products box_spacing">
                                            <div class="subscription_card_on_file mb-3">
                                                <div class="accordion" id="billingInfo">
                                                    <div class="accordion-item border-0 rounded-0">
                                                        <h2 class="accordion-header" id="headingTwo">
                                                            <button class="accordion-button d-flex align-items-center justify-content-between collapsed p-0 rounded-0" type="button" data-toggle="collapse" data-target="#billingInfoInner" aria-expanded="false" aria-controls="billingInfoInner">
                                                                <div class="subscription_accordian_title" v-if="contract.payment_method == 'credit_card'">
                                                                    <h5 class="black-color font-700 mb-1">{{languages.portal_billing_card}}</h5>
                                                                    <div class="black-color font-400 mb-0 billing-card">
                                                                        <img :src="images.img, contract.cc_brand | pluralizeBrandImg" class="me-1">
                                                                        <div class="white-space-wrap">
                                                                            <span class="font-600">{{contract.cc_name}}</span>
                                                                            <span> {{contract.cc_brand | pluralizeBrand}} {{languages.portal_billing_ending}} {{contract.cc_expiryYear}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="subscription_accordian_title" v-if="contract.payment_method == 'paypal'">
                                                                    <p class="black-color font-400 mb-0">
                                                                        <img :src="`${images.img}/paypal.png`" class="me-1 img-paypal">
                                                                        <span class="font-600">PayPal Account: </span> <span>{{contract.paypal_account}}</span>
                                                                    </p>
                                                                </div>
                                                            </button>
                                                        </h2>
                                                        <div id="billingInfoInner" class="accordion-collapse collapse">
                                                            <div class="accordion-body px-0">
                                                                <p class="black-color font-600">{{languages.portal_billing_instructions}}</p>
                                                                <div class="subscription_btn d-flex align-items-center">
                                                                    <a href="javascript:void(0)" class="btn-primary bg-blue px-4 py-2" @click="saveChanges('updatePaymentDetailEmail')">{{languages.portal_billing_send}}</a>
                                                                    <a href="javascript:void(0)" class="blue-color ms-3" data-toggle="collapse" data-target="#billingInfoInner" aria-expanded="false" aria-controls="billingInfoInner">{{languages.portal_billing_cancel}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="suscription_summary">
                                                <h5 class="black-color font-700 mb-1">{{languages.portal_billing_summary}}</h5>
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td class="p-0 border-0 black-color font-400">{{languages.portal_billing_subtotal}}</td>
                                                        <td class="p-0 border-0 black-color font-400 text-end">{{currencySymbol}}{{summarySubtotal}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-0 border-0 black-color font-400">Shipping - {{contract.shipping_presentmentTitle}}</td>
                                                        <td class="p-0 border-0 black-color font-400 text-end">{{currencySymbol}}{{ parseFloat(order.shipping_lines[0].price).toFixed(2)}}</td>
                                                    </tr>
                                                    <tr v-if="isDisplayDiscount">
                                                        <td class="p-0 border-0 black-color font-400">{{displayDiscountPer}} {{languages.portal_billing_discount}}</td>
                                                        <td class="p-0 border-0 black-color font-400 text-end">-{{currencySymbol}}{{discount}}</td>
                                                    </tr>
                                                    <tr class="subscription_total">
                                                        <td class="p-0 border-0 black-color font-600 pt-2">{{languages.portal_billing_total}}</td>
                                                        <td class="p-0 border-0 black-color font-600 pt-2 text-end"><span class="grey-color font-400">{{currencySymbol}}</span> {{current_total_price}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- active status container -->
                                    <div class="simplee-portal__important subscription_important bg-white border-radius box_spacing d-md-flex align-items-center justify-content-between" v-if="contract.status == 'active'">
                                        <div class="subscription_status mb-3 mb-md-0">
                                            <h5 class="black-color font-400 mb-1">{{languages.portal_general_status}}</h5>
                                            <h2 class="black-color font-700 mb-0">{{languages.portal_general_active}}</h2>
                                        </div>
                                        <div class="subscription_status_btn d-flex align-items-center justify-content-between">
                                            <a href="#simplee-portal__modal" class="blue-color font-600 pe-4" @click="showModal('pause_subscription')">{{languages.portal_action_pause}}</a>
                                            <a href="#simplee-portal__modal" class="red-color font-600" @click="showModal('cancel_subscription')" v-if="settings.portal_can_cancel">{{languages.portal_action_cancel}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="simplee-portal__verify">
                    <div>You don't currently have any subscriptions.</div>
                </div>
            </div>
            <!-- Modal -->
            <div id="simplee-portal__modal" class="simplee-portal__modal overlay" v-if="is_confirm_modal">
                <div class="popup subscription_cancel p-4">
                    <div class="subscription_cancel_popup">
                        <h2 class="black-color font-700">{{current_confirm.title}}</h2>
                        <p class="black-color font-400 mb-0">{{current_confirm.label}}</p>
                    </div>
                    <div class="text-end mt-4">
                        <a class="btn-return ms-3 font-600" href="javascript:void(0)" @click="closeModel()">{{current_confirm.cancel_text}}</a>
                        <a class="close btn-primary ms-3 font-600" href="javascript:void(0)" @click="saveChanges(current_confirm.action)"><i class="fa fa-spinner fa-spin" v-if="isSaving"></i><span v-else>{{current_confirm.ok_text}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import helper from "../../../helper";
import EditDetails from "./models/EditDetails";
import instance from "../../../axios";


export default {
    name: "index",
    components: {
        EditDetails,
    },
    data(){
        return{
            host: '',
            apiEndPoint: '',
            CustomerID: '',
            selectedContract: '',
            images: [],
            contract: [],
            customer: [],
            order: [],
            shop: [],
            otherContracts: [],
            settings: [],
            modelText: [],
            current_confirm: [],
            editData: [],
            deleted: [],
            countries: [],
            states: [],
            languages: [],
            currencySymbol: '',
            displayDiscountPer: '',
            summarySubtotal: 0,
            subTotalPrice: 0,
            current_total_price: 0,
            discountPer: '',
            discount: '',
            isDisplayDiscount: false,
            selectedContractIndex: 0,
            is_updating: false,
            is_loading: true,
            is_confirm_modal: false,
            showEditDetailsModel: false,
            is_customer_loading: true,
            isShowEditNextOrder: false,
            isShowUpdateBillInfo: true,
            isShowProductEdit: false,
            ship_province: '',
            isSaving: false,
            statusClasses: {
                OPEN: 'fulfilled',
                SCHEDULED: 'scheduled',
                UNFULFILLED: 'unfulfilled',
            }
        }
    },
    methods: {
        showModal(type){
            this.is_confirm_modal = true;
            document.body.classList.add("open-modal");
            this.current_confirm = this.modelText[`${type}`];

        },
        closeModel(type, action) {
            this.is_confirm_modal = false;
            document.body.classList.remove("open-modal");
        },
        async getData(contract_id, init_load, isCallInit) {
            let base = this;
            base.is_loading = true;
            base.initData(isCallInit);
            let url = base.apiEndPoint + '/subscriber';
            await axios.post(url, {customer: this.CustomerID, contract: contract_id, init_load: init_load})
                .then(res => {
                    let data = res.data.data;
                    base.shop = data.shop;
                    base.contract = data.contract;
                    base.customer = data.customer;
                    base.order = data.order;
                    base.languages = data.languages;
                    base.selectedContract = (typeof data.contract.length == 'undefined') ? data.contract.id : '';
                    base.otherContracts = data.otherContracts;
                    base.settings = data.settings;
                    base.images = data.images;
                    base.ship_province = base.contract.ship_province;

                    (typeof base.contract.length == 'undefined') ? base.updateSubTotalPrice() : '';
                    base.initModelText();
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.is_loading = false;
                    base.is_customer_loading = false;
                });
        },
        initData(is_customer_loading){
            this.is_confirm_modal = false;
            this.showEditDetailsModel = false;
            this.is_customer_loading = is_customer_loading;
            this.isShowEditNextOrder = false;
            this.isShowUpdateBillInfo = true;
            this.isShowProductEdit = false;
        },
        async saveChanges(type) {
            let base = this;
            base.is_updating = true;

            base.isSaving = true;
            let data = {
                contract_id: this.contract.id,
                type: type,
                shop: base.shop.domain,
                mode: 'api',
                contract: (type == 'portal_all') ? [] : this.contract,
                deleted: this.deleted,
                line_items: (type == 'portal_all') ? this.contract.lineItems : [],
            }
            let url = base.apiEndPoint + '/subscriber/store';
            await axios.post(url, {data: data})
                .then(res => {
                    ( type == 'edit_shipping_address' ) ? base.isShowEditNextOrder = false : '';
                    ( type == 'portal_all' ) ? base.isShowProductEdit = false : '';
                    base.errors = [];

                    if( type != 'updatePaymentDetailEmail'){
                        base.getData(this.contract.id, 0, false);
                    }
                    base.is_confirm_modal = false;
                    document.body.classList.remove("open-modal");

                    if( res.data.isSuccess ){
                        Vue.$toast.default(res.data.data,{
                            position: 'bottom',
                            duration: 3000,
                            dismissible: true
                        });
                    }else{
                        Vue.$toast.error(res.data.data,{
                            position: 'bottom',
                            duration: 3000,
                            dismissible: true
                        });
                    }

                })
                .catch(err => {
                    base.is_updating = false;
                    console.log(err);
                    base.errors = err.response.data;
                    console.log(base.errors);
                })
                .finally(res => {
                    base.isSaving = false;
                });
        },
        deleteLineitem(lindex) {
            let lid = this.contract.lineItems[lindex].id;
            this.deleted.push(lid);
            this.contract.lineItems.splice(lindex, 1);
        },
        province(e){
            let base = this;
            _.find(this.states, function (o, i) {
                if( o == base.ship_province ){
                    base.contract.ship_provinceCode = i;
                    return;
                }
            });
        },
        changeContract(e){
            this.selectedContractIndex = e.target.selectedIndex;
        },
        initModelText(){
            this.modelText = {
                ship_order_now: {
                    title: 'Ship Order Now',
                    label: 'All items in your subscription will be sent as soon as possible, click Yes to proceed',
                    ok_text: 'Yes',
                    is_cancel: 1,
                    action: ''
                },
                update_credit_card: {
                    title: 'Update Credit Card',
                    label: 'We just sent you an email. Open it to update your billing information',
                    ok_text: 'Ok',
                    is_cancel: 0,
                    action: 'updatePaymentDetailEmail'
                },
                skip_next_order: {
                    title: 'Skip Next Order',
                    label: 'We will skip your next scheduled order, click Yes to proceed',
                    ok_text: 'Yes',
                    cancel_text: this.languages.portal_popup_cancel_no,
                    is_cancel: 1,
                    action: 'skip_next_order'
                },
                cancel_subscription: {
                    title: this.languages.portal_popup_cancel_title,
                    label: this.languages.portal_popup_cancel_text,
                    ok_text: this.languages.portal_popup_cancel_yes,
                    cancel_text: this.languages.portal_popup_cancel_no,
                    is_cancel: 1,
                    action: 'cancelled'
                },
                pause_subscription: {
                    title: 'Pause your subscription?',
                    label: 'Are you sure you would like to pause this subscription?',
                    ok_text: 'Pause subscription',
                    cancel_text: this.languages.portal_popup_cancel_no,
                    is_cancel: 1,
                    action: 'paused'
                },
                resume_subscription: {
                    title: 'Resume your subscription?',
                    label: 'Are you sure you would like to resume this subscription?',
                    ok_text: 'Resume subscription',
                    cancel_text: this.languages.portal_popup_cancel_no,
                    is_cancel: 1,
                    action: 'resumed'
                },
                remove_product: {
                    title: 'Remove Product',
                    label: 'We will remove this product from your subscription. Click Yes to proceed',
                    ok_text: 'Yes',
                    is_cancel: 1,
                    action: 'remove_lineitem'
                }
            };
        },
        updateSubTotalPrice(){
            let base = this;

            base.subTotalPrice = 0;
            base.summarySubtotal = 0;
            base.current_total_price = 0;

            this.contract.lineItems.forEach(function callbackFn(el, index) {
                let dis_type = el.discount_type;
                let dis_amt = el.discount_amount;
                base.currencySymbol = el.currency_symbol;

                let amt = '';
                let cal_price = (el.price * el.quantity);

                if (dis_type == '%') {
                    amt = (cal_price - ((cal_price * dis_amt) / 100)).toFixed(2);
                } else if (dis_type == base.shop.currency) {
                    amt = (cal_price - dis_amt).toFixed(2);
                }
                amt = (el.quantity == 0) ? '00.00' : amt;
                base.contract.lineItems[index].final_amount = amt;

                base.discountPer = Math.round(el.discount_amount);
                base.displayDiscountPer = ( dis_type == '%' ) ? base.discountPer + '%' : base.currencySymbol + el.discount_amount;
                base.subTotalPrice = (base.subTotalPrice + cal_price).toFixed(2);
                base.discount = (dis_type == '%') ? ((base.subTotalPrice * base.discountPer ) / 100).toFixed(2) : el.discount_amount.toFixed(2);
                // base.summarySubtotal = base.summarySubtotal + (el.price_discounted * el.quantity)
            })

            base.isDisplayDiscount = ( parseInt(base.discount) > 0 );
            base.summarySubtotal = parseFloat(base.subTotalPrice).toFixed(2);
            base.current_total_price = ( ( parseFloat(base.summarySubtotal) + parseFloat(base.order.shipping_lines[0].price)) - parseFloat(base.discount) ).toFixed(2);
            // base.summarySubtotal = (parseInt(base.order.current_subtotal_price) + base.discount).toFixed(2);
        },
        updateQty(lindex, action){
            if( action == 'minus' ){
                this.contract.lineItems[lindex].quantity = ( this.contract.lineItems[lindex].quantity == 0 ) ? 0 : this.contract.lineItems[lindex].quantity - 1;
            }else{
                this.contract.lineItems[lindex].quantity = this.contract.lineItems[lindex].quantity + 1;
            }
            this.updateSubTotalPrice();
        },
        async getCountry(){
            let base = this;
            let url = base.apiEndPoint + '/country/' + base.contract.ship_country;

            await axios.get(url)
                .then(res => {
                    base.countries = res.data.data.countries;
                    base.states = res.data.data.states;
                    // base.ship_province = base.contract.ship_province;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                });
        },
    },
    mounted(){
        this.CustomerID = sessionStorage.getItem('X-shopify-customer-ID');
        this.host = process.env.MIX_APP_URL;
        this.apiEndPoint = this.host + '/api';
        this.getData('', 1, true);
    },
    filters:{
        date(d){
            const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            let newDate = new Date(d);
            return monthNames[newDate.getMonth()] + ' ' + helper.lastwo(newDate.getDay())   + ', ' + newDate.getFullYear();
        },
        lastwo(str){
            return helper.lastwo(str);
        },
        pluralize(str, count){
            return ( count > 1 || count == 0 ) ? str + 's' : str;
        },
        pluralizeBrand(str){
            if( str == 'dinersclub' ){
                return "Diner's Club";
            }else{
                str = str.toLowerCase();
                let b = str.replace(/[_]/g, " ");
                return b.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
            }    
        },
        pluralizeBrandImg(str, brand){
            let b = brand.replace(/[^a-zA-Z]/g, "");
            return str + '/' + b.toLowerCase() + '.svg';
        },
    }
}
</script>

<style scoped>

</style>
